Repository ToolJet/ToolJet, pull requests merged in 2022-09, with the labels that each got.

#3916 chore: move devDeps to deps in package.json
  frontend/package-lock.json
  frontend/package.json
  server/package-lock.json
  server/package.json
  server/src/services/email.service.ts
Labels: run-ci

#3885 [docs] one-click deploy: digitalocean
  docs/docs/setup/digitalocean.md
  docs/sidebars.js
  docs/static/img/setup/digitalocean/env.png
  docs/static/img/setup/digitalocean/region.png
  docs/static/img/setup/digitalocean/resources.png
  docs/static/img/setup/digitalocean/review.png
Labels: documentation

#3926 ci: fix lint stage
  frontend/.eslintrc.js
  frontend/.eslintrc.json
Labels: run-ci

#3924 [BUG] REST API Oauth access token API url-encoded request not working
  frontend/src/Oauth/Authorize.jsx
  frontend/src/Oauth2/Authorize.jsx
  frontend/src/_components/RedirectLoader.jsx
  frontend/src/_components/index.js
  plugins/packages/openapi/lib/index.ts
  plugins/packages/restapi/lib/index.ts
  server/src/services/data_queries.service.ts
Labels: run-ci

#3931 Merge main to develop
  frontend/src/Oauth/Authorize.jsx
  frontend/src/Oauth2/Authorize.jsx
  frontend/src/_components/RedirectLoader.jsx
  frontend/src/_components/index.js
  plugins/packages/openapi/lib/index.ts
  plugins/packages/restapi/lib/index.ts
  server/src/services/data_queries.service.ts
Labels: run-ci

#3828 [Plugins] CosmosDB integration
  docs/docs/data-sources/cosmosdb.md
  docs/sidebars.js
  docs/static/img/datasource-reference/cosmosdb/cosmosdb-connect.png
  plugins/package.json
  plugins/packages/cosmosdb/.gitignore
  plugins/packages/cosmosdb/README.md
  plugins/packages/cosmosdb/__tests__/index.js
  plugins/packages/cosmosdb/lib/icon.svg
  plugins/packages/cosmosdb/lib/index.ts
  plugins/packages/cosmosdb/lib/manifest.json
  plugins/packages/cosmosdb/lib/operations.json
  plugins/packages/cosmosdb/lib/operations.ts
  plugins/packages/cosmosdb/lib/types.ts
  plugins/packages/cosmosdb/package-lock.json
  plugins/packages/cosmosdb/package.json
  plugins/packages/cosmosdb/tsconfig.json
Labels: run-ci, plugins, tested

#3853 [docs]: Provide border to the images
  docs/docs/data-sources/airtable.md
  docs/docs/data-sources/appwrite.md
  docs/docs/data-sources/athena.md
  docs/docs/data-sources/baserow.md
  docs/docs/data-sources/bigquery.md
  docs/docs/data-sources/couchdb.md
  docs/docs/data-sources/custom-js.md
  docs/docs/data-sources/dynamodb.md
  docs/docs/data-sources/elasticsearch.md
  docs/docs/data-sources/firestore.md
  docs/docs/data-sources/gcs.md
  docs/docs/data-sources/google.sheets.md
  docs/docs/data-sources/graphql.md
  docs/docs/data-sources/influxdb.md
  docs/docs/data-sources/mailgun.md
  docs/docs/data-sources/minio.md
  docs/docs/data-sources/mongodb.md
  docs/docs/data-sources/mssql.md
  docs/docs/data-sources/mysql.md
  docs/docs/data-sources/n8n.md
  docs/docs/data-sources/notion.md
  docs/docs/data-sources/postgresql.md
  docs/docs/data-sources/s3.md
  docs/docs/data-sources/saphana.md
  docs/docs/data-sources/smtp.md
  docs/docs/data-sources/typesense.md
  docs/docs/intro.md
  docs/docs/setup/heroku.md
  docs/docs/tutorial/adding-a-datasource.md
  docs/docs/tutorial/adding-widget.md
  docs/docs/tutorial/building-queries.md
  docs/docs/tutorial/creating-app.md
  docs/docs/tutorial/debugger.md
  docs/docs/tutorial/manage-users-groups.md
  docs/docs/tutorial/mobile-layout.md
  docs/docs/tutorial/multiworkspace.md
  docs/docs/tutorial/sharing-and-deploying.md
  docs/docs/tutorial/transformations.md
  docs/docs/tutorial/versioning-and-release.md
  docs/docs/tutorial/workspace-environment-variables.md
Labels: documentation, enhancement, good first issue, widget

#3776 Cypress test for button widget happy path
  cypress-tests/cypress/constants/selectors/button.js
  cypress-tests/cypress/constants/selectors/common.js
  cypress-tests/cypress/constants/texts/button.js
  cypress-tests/cypress/constants/texts/common.js
  cypress-tests/cypress/e2e/editor/widget/buttonHappyPath.cy.js
  cypress-tests/cypress/e2e/editor/widget/multiselectHappyPath.cy.js
  cypress-tests/cypress/fixtures/fake.js
  cypress-tests/cypress/support/commands.js
  cypress-tests/cypress/support/utils/button.js
  cypress-tests/cypress/support/utils/commonWidget.js
  frontend/src/Editor/CodeBuilder/Elements/BoxShadow.jsx
  frontend/src/Editor/CodeBuilder/Elements/Color.jsx
  frontend/src/Editor/CodeBuilder/Elements/Number.jsx
  frontend/src/Editor/Components/Button.jsx
  frontend/src/Editor/Components/TextInput.jsx
  frontend/src/Editor/Editor.jsx
  frontend/src/Editor/Inspector/Elements/Color.jsx
  frontend/src/Editor/Inspector/EventManager.jsx
  frontend/src/Editor/Viewer.jsx
  frontend/src/_components/Header.jsx
Labels: cypress, run-ci

#3938 refactor: update sentry sdk + add profiler
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.jsx
Labels: run-ci

#3959 refactor: remove @babel/plugin-proposal-class-properties (2nd PR after CLA problem)
  frontend/babel.config.js
  frontend/package-lock.json
  frontend/package.json
  plugins/package-lock.json
  server/package-lock.json
Labels: run-ci

#3864 [chore] Update: how to - Bulk update multiple rows in table
  docs/docs/how-to/bulk-update-multiple-rows-in-table.md
  docs/static/img/how-to/bulk-update-multiple/runjs1.png
Labels: documentation, enhancement

#3928 [ Bugfix ] :: calendar preview is broken when events are added as a result of any query
  frontend/src/Editor/Components/Calendar.jsx
Labels: bug, frontend, run-ci

#3974 [docs]: Rename files to fix redirection links
  docs/docs/widgets/circular-progressbar.md
  docs/docs/widgets/kanban-board.md
  docs/docs/widgets/star-rating.md
  docs/docs/widgets/tree-select.md
Labels: bug, documentation, good first issue, editor

#3977 [docs] how-to: access currentUser properties
  docs/docs/how-to/access-users-groups.md
  docs/sidebars.js
  docs/static/img/how-to/access-currentuser/button.png
  docs/static/img/how-to/access-currentuser/disable.png
  docs/static/img/how-to/access-currentuser/props.png
  docs/static/img/how-to/access-currentuser/released.png
Labels: documentation

#3969 [Plugins] Baserow : Add support for self-hosted baserow
  docs/docs/data-sources/baserow.md
  docs/static/img/datasource-reference/baserow/baserow-intro.gif
  docs/static/img/datasource-reference/baserow/baserow-intro.png
  plugins/packages/baserow/lib/index.ts
  plugins/packages/baserow/lib/manifest.json
  plugins/packages/baserow/lib/types.ts
Labels: enhancement, needs testing, run-ci, plugins

#3918 Fix: make tooltip text for hide query visible
  frontend/src/_styles/theme.scss
Labels: run-ci

#3973 [BUG] Error while setup first user when single workspace is enabled
  frontend/src/ConfirmationPage/ConfirmationPage.jsx
Labels: run-ci

#3888 [feature] Hide apps in dashboard
  frontend/src/ManageGroupPermissionResources/ManageGroupPermissionResources.jsx
  server/migrations/1661448846469-AddReadOnDashboardToAppGroupPermissions.ts
  server/src/entities/app_group_permission.entity.ts
  server/src/services/apps.service.ts
  server/src/services/folders.service.ts
Labels: frontend, backend, needs testing, run-ci, tested, testing

#3980 [Hotfix]: Render Only Active Tab Toggle
  frontend/src/Editor/Components/Tabs.jsx
  frontend/src/Editor/WidgetManager/widgetConfig.js
Labels: run-ci, widget, tested, ui, hotfix

#3984 [docs] Deploying ToolJet on subpath
  docs/docs/setup/tooljet-subpath.md
  docs/sidebars.js
Labels: documentation

#3988 [docs]: Image link broken in MailGun
  docs/docs/data-sources/mailgun.md
  docs/static/img/datasource-reference/mailgun/mailgun_query_body.png
Labels: bug, documentation, good first issue, widget

#3985 [docs]: Updated missing image in SVG widget
  docs/docs/widgets/svg-image.md
  docs/sidebars.js
  docs/static/img/widgets/svg-image/svg-image.png
Labels: bug, documentation, good first issue, widget

#3956 Bug fixed : canvas background colour is not consistent with the applied theme
  frontend/src/Editor/Editor.jsx
  frontend/src/Editor/Viewer.jsx
Labels: bug, frontend, run-ci, tested, ui

#3998 [docs]: Audio issue in text input video
  docs/docs/widgets/text-input.md
Labels: bug, documentation, good first issue, widget

#3992 bug fixed : Password Input widget is not consistent with the dark theme
  frontend/src/Editor/Components/PasswordInput.jsx
  frontend/src/_styles/theme.scss
Labels: bug, frontend, run-ci, widget

#3929 Bug fixed : radio button is not consistent with the dark theme
  frontend/src/Editor/Components/RadioButton.jsx
Labels: bug, frontend, run-ci, widget

#3950 Bug fixed : Button Group widget is not consistent with the dark theme
  frontend/src/Editor/Components/ButtonGroup.jsx
Labels: bug, frontend, run-ci, widget

#4012 Fix/3963 listview text correction
  frontend/src/Editor/WidgetManager/widgetConfig.js
Labels: run-ci, widget

#3946 Bug fixed : Pagination widget is not consistent with the dark theme
  frontend/src/Editor/Components/Pagination.jsx
Labels: bug, frontend, run-ci, widget

#3948 Bug fixed : Tree Select widget is not consistent with the dark theme
  frontend/src/Editor/Components/TreeSelect.jsx
Labels: bug, frontend, run-ci, widget

#4018 [Bugfix] fixes app freeze, when password widget drops inside a listview
  frontend/src/Editor/Components/PasswordInput.jsx
Labels: bug, run-ci, widget

#3925 bug fixed : toggle switch is not consistent with the dark theme
  frontend/src/Editor/Components/Toggle.jsx
Labels: bug, frontend, run-ci, widget, ui

#3866 Bug fix : Container widget background color is not consistent with the dark theme
  frontend/src/Editor/Components/Container.jsx
Labels: bug, frontend, run-ci, widget, tested

#3867 Bug fixed : List view widget background color is not consistent with the dark theme
  frontend/src/Editor/Components/Listview.jsx
Labels: bug, frontend, run-ci, widget, tested

#3854 Add preview for Multiselect and Datepicker happyPaths
  cypress-tests/cypress/constants/selectors/common.js
  cypress-tests/cypress/constants/texts/common.js
  cypress-tests/cypress/e2e/editor/widget/datePickerHappyPath.cy.js
  cypress-tests/cypress/e2e/editor/widget/multiselectHappyPath.cy.js
  cypress-tests/cypress/support/commands.js
  cypress-tests/cypress/support/utils/commonWidget.js
  cypress-tests/cypress/support/utils/datePickerWidget.js
  cypress-tests/cypress/support/utils/multiselectWidget.js
  frontend/src/Editor/Components/Datepicker.jsx
  frontend/src/Editor/Components/Text.jsx
  frontend/src/Editor/Components/Toggle.jsx
  frontend/src/Editor/Editor.jsx
  frontend/src/Editor/LeftSidebar/SidebarGlobalSettings.jsx
Labels: cypress

#4041 Fix: User group permissions error on Openshift platform
  docker/client.Dockerfile
  docker/production.Dockerfile
  docker/server.Dockerfile
Labels: run-ci

#3921 [feature] Added pagination and filtering features to users page
  frontend/ee/components/UsersPage/UsersFilter.jsx
  frontend/ee/components/UsersPage/UsersTable.jsx
  frontend/src/Editor/Comment/CommentFooter.jsx
  frontend/src/Editor/Comment/index.jsx
  frontend/src/Editor/Comments.jsx
  frontend/src/Editor/ManageAppUsers.jsx
  frontend/src/Editor/RealtimeAvatars.jsx
  frontend/src/ManageOrgUsers/ManageOrgUsers.jsx
  frontend/src/_services/organization.service.js
  frontend/src/_styles/theme.scss
  frontend/src/_ui/Avatar/index.jsx
  frontend/src/_ui/Mentions/index.js
  server/src/controllers/org_environment_variables.controller.ts
  server/src/controllers/organizations.controller.ts
  server/src/modules/casl/casl-ability.factory.ts
  server/src/services/comment_users.service.ts
  server/src/services/organizations.service.ts
  server/test/controllers/organizations.e2e-spec.ts
Labels: frontend, backend, run-ci, tested

#3903 Bug fixed :[ Checkbox widget ] label is not consistent with the dark theme
  frontend/src/Editor/Components/Checkbox.jsx
Labels: bug, frontend, run-ci, widget

#4050 Remove signup guard from set-password-from-token API
  server/src/controllers/app.controller.ts
  server/test/controllers/app.e2e-spec.ts
Labels: run-ci

#4048 [docs] added localization
  docs/docs/contributing-guide/l10n.md
  docs/sidebars.js
  docs/static/img/l10n/change.png
  docs/static/img/l10n/en.png
  docs/static/img/l10n/files.png
  docs/static/img/l10n/list.png
Labels: documentation

#4055 Feature: Add PG_DB_OWNER env var to disable db and extension creation
  docs/docs/setup/env-vars.md
  server/migrations/1625814801415-MaybeCreateExtension.ts
  server/scripts/create-database.ts
  server/scripts/database-config-utils.ts
Labels: run-ci

#4006 [feature] add remove object operation to S3 plugin
  plugins/packages/s3/lib/index.ts
  plugins/packages/s3/lib/operations.json
  plugins/packages/s3/lib/operations.ts
  plugins/packages/s3/lib/types.ts
Labels: enhancement, run-ci, plugins

#4020 fix: hide user data from thread module
  server/src/entities/thread.entity.ts
  server/src/services/thread.service.ts
Labels: run-ci

#4052 [Feature] Now multiple users can login through RestAPI-Oauth 🚀
  frontend/src/SignupPage/SignupPage.jsx
  frontend/src/_components/DynamicForm.jsx
  frontend/src/_helpers/appUtils.js
  frontend/src/_ui/OAuth/Authentication.jsx
  frontend/src/_ui/OAuth/index.js
  plugins/packages/common/lib/app.type.ts
  plugins/packages/common/lib/index.ts
  plugins/packages/common/lib/query_service.interface.ts
  plugins/packages/common/lib/user.type.ts
  plugins/packages/common/lib/utils.helper.ts
  plugins/packages/restapi/lib/index.ts
  plugins/packages/restapi/lib/manifest.json
  server/src/controllers/data_sources.controller.ts
  server/src/modules/auth/query-auth.guard.ts
  server/src/services/data_queries.service.ts
  server/src/services/data_sources.service.ts
Labels: run-ci, tested

#4064 [improvements] LeftSidebar Inspector
  frontend/src/Editor/LeftSidebar/SidebarInspector.jsx
  frontend/src/_styles/theme.scss
  frontend/src/_ui/JSONTreeViewer/JSONTreeViewer.jsx
Labels: enhancement, frontend

#4069 [Hotfix] Stripe plugin : transform json object to form-encoded request bodies
  plugins/packages/stripe/lib/index.ts
Labels: run-ci, plugins, hotfix

#4072 Fix: Idle db connections from within transactions
  server/src/services/app_import_export.service.ts
Labels: run-ci, tested

#4066 fix(webpack): remove devtool source-map in prod mode
  frontend/webpack.config.js
Labels: run-ci

#4057 [Bug]: Fixed localisation for subpath
  frontend/src/_components/NotificationCenter/index.jsx
  frontend/src/i18n.js
  frontend/src/index.jsx
Labels: bug, run-ci, translation

#3933 Refactor table component
  frontend/src/Editor/Box.jsx
  frontend/src/Editor/Components/Table/Filter.jsx
  frontend/src/Editor/Components/Table/IndeterminateCheckbox.jsx
  frontend/src/Editor/Components/Table/Table.jsx
  frontend/src/Editor/Components/Table/columns/actions.jsx
  frontend/src/Editor/Components/Table/columns/index.jsx
  frontend/src/Editor/Components/Table/custom-filter.js
  frontend/src/Editor/Components/Table/load-properties-and-styles.js
  frontend/src/Editor/Components/Table/reducer.js
  frontend/src/Editor/WidgetManager/widgetConfig.js
  frontend/src/_helpers/appUtils.js
  server/data-migrations/1661331234770-RestructureTableColumnSizesAndActionsToHaveAValueKeyThatPointsToItsContents.ts
Labels: needs testing

#3900 Bug Fixed : Overflow dropdown in the columns section inside table widget inspector is not consistent with the dark theme
  frontend/src/Editor/Inspector/Components/Table.jsx
Labels: bug, frontend, on hold, needs testing, run-ci, ui

#4070 Add cypress test for listview
  cypress-tests/cypress/constants/selectors/common.js
  cypress-tests/cypress/constants/selectors/listview.js
  cypress-tests/cypress/constants/texts/common.js
  cypress-tests/cypress/constants/texts/listview.js
  cypress-tests/cypress/e2e/editor/widget/listViewHappyPath.cy.js
  cypress-tests/cypress/support/utils/commonWidget.js
  cypress-tests/cypress/support/utils/listviewWidget.js
  frontend/src/Editor/Components/Datepicker.jsx
  frontend/src/Editor/Components/Image.jsx
  frontend/src/Editor/Components/Listview.jsx
  frontend/src/Editor/SubContainer.jsx
  frontend/src/_ui/JSONTreeViewer/JSONNode.jsx
Labels: cypress

#4029 Add happy path spec for Text Input widget
  cypress-tests/cypress/constants/selectors/common.js
  cypress-tests/cypress/constants/texts/common.js
  cypress-tests/cypress/constants/texts/textInput.js
  cypress-tests/cypress/e2e/editor/widget/textInputHappyPath.cy.js
  cypress-tests/cypress/support/commands.js
  cypress-tests/cypress/support/utils/commonWidget.js
  cypress-tests/cypress/support/utils/textInput.js
  frontend/src/Editor/Components/TextInput.jsx
Labels: cypress

#3824 [docs]: Table widget info update
  docs/docs/widgets/password-input.md
  docs/docs/widgets/table.md
Labels: bug, documentation, good first issue, widget

#4034 [Bugfix] Fixes List tables operation for Big Query
  plugins/packages/bigquery/lib/index.ts
  plugins/packages/bigquery/lib/operations.json
Labels: bug, run-ci, plugins

#4022 [Bugfix] Fixes: Slack Plugin
  docs/docs/data-sources/slack.md
  docs/static/img/datasource-reference/slack/sendmessage.png
  frontend/src/_components/Slack.jsx
  plugins/packages/slack/lib/operations.json
Labels: run-ci, plugins

#4088 bug fixed : misaligned text and button in the events section in query manager
  frontend/src/Editor/Inspector/EventManager.jsx
Labels: bug, good first issue, frontend, run-ci

#3970 [Plugins] Adds support for pagination in listing objects from AWS S3 buckets
  docs/docs/data-sources/s3.md
  plugins/packages/s3/lib/operations.json
  plugins/packages/s3/lib/operations.ts
Labels: enhancement, run-ci, plugins

#4114 [Bugfix] On Saving or discarding changes with **Show bulk update actions** toggled on, the bulk update action buttons are always displayed.
  frontend/src/Editor/Components/Table/Table.jsx
Labels: bug, run-ci, table

#4058 Enhancement : [ Date range picker widget] bind onSelect event
  frontend/src/Editor/Components/DaterangePicker.jsx
  frontend/src/Editor/WidgetManager/widgetConfig.js
Labels: enhancement, frontend, run-ci, widget, tested

#4038 Enhancement : [ Text widget ] refactor
  frontend/src/Editor/Components/Text.jsx
  frontend/src/Editor/Inspector/Components/DefaultComponent.jsx
  frontend/src/Editor/Inspector/Inspector.jsx
  frontend/src/Editor/WidgetManager/widgetConfig.js
Labels: enhancement, frontend, run-ci, widget, tested

#3873 Feature :: ClickHouse plugin
  docs/docs/data-sources/clickhouse.md
  docs/sidebars.js
  frontend/package-lock.json
  plugins/package-lock.json
  plugins/package.json
  plugins/packages/clickhouse/.gitignore
  plugins/packages/clickhouse/README.md
  plugins/packages/clickhouse/__tests__/index.js
  plugins/packages/clickhouse/lib/icon.svg
  plugins/packages/clickhouse/lib/index.ts
  plugins/packages/clickhouse/lib/manifest.json
  plugins/packages/clickhouse/lib/operations.json
  plugins/packages/clickhouse/lib/types.ts
  plugins/packages/clickhouse/package-lock.json
  plugins/packages/clickhouse/package.json
  plugins/packages/clickhouse/tsconfig.json
  server/package-lock.json
Labels: run-ci, datasource, plugins, tested

#4118 fixes: query params are passed as slug to the app url for go-to-app action
  frontend/src/_helpers/appUtils.js
Labels: bug, run-ci

#3845 [Bug]: Multiple Confirmation Popup
  frontend/src/Editor/Container.jsx
  frontend/src/Editor/Editor.jsx
  frontend/src/Editor/Viewer.jsx
  frontend/src/_helpers/appUtils.js
Labels: bug, frontend, run-ci, tested, ui

#3905 [Feature]: Link Widget
  docs/docs/widgets/link.md
  docs/sidebars.js
  docs/static/img/widgets/link/link.png
  docs/static/img/widgets/link/styles.png
  frontend/assets/images/icons/widgets/link.svg
  frontend/src/Editor/Box.jsx
  frontend/src/Editor/Components/Link.jsx
  frontend/src/Editor/WidgetManager/widgetConfig.js
  frontend/src/_helpers/appUtils.js
  frontend/src/_styles/theme.scss
Labels: frontend, run-ci, widget, tested, ui, needs documentation

#3936 [Feature]: Icon Widget
  docs/docs/widgets/icon.md
  docs/sidebars.js
  frontend/assets/images/icons/widgets/icon.svg
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Editor/Box.jsx
  frontend/src/Editor/Components/Icon.jsx
  frontend/src/Editor/Inspector/Components/Icon.jsx
  frontend/src/Editor/Inspector/Inspector.jsx
  frontend/src/Editor/WidgetManager/widgetConfig.js
  frontend/src/_styles/theme.scss
Labels: frontend, run-ci, widget, tested, ui, needs documentation

#4115 bug fixed : The result of the previous previewed query remains
  frontend/src/Editor/QueryManager/QueryManager.jsx
Labels: bug, frontend, run-ci, editor

#4085 [ Enhancement ] : adding back button in data source management
  frontend/assets/images/icons/back.svg
  frontend/src/Editor/DataSourceManager/DataSourceManager.jsx
  frontend/src/_styles/left-sidebar.scss
Labels: good first issue, frontend, run-ci

#4125 Feature: Open app after import
  frontend/src/HomePage/HomePage.jsx
  server/src/controllers/apps.controller.ts
Labels: enhancement, run-ci, tested

#4117 Fix: Set editing version as latest version on imports
  server/src/services/app_import_export.service.ts
Labels: run-ci, tested

#4089 bug fixed : state is not changing on clicking cancel button in the new user form
  frontend/src/ManageOrgUsers/ManageOrgUsers.jsx
Labels: bug, good first issue, frontend, run-ci

#4091 [ bug fixed ]: removed user adding dropdown in all user page
  frontend/src/ManageGroupPermissionResources/ManageGroupPermissionResources.jsx
Labels: bug, good first issue, frontend, run-ci

#4122 [BUG]: Fixed Query Definition Lost
  frontend/src/Editor/Editor.jsx
  frontend/src/Editor/QueryManager/QueryEditors/Restapi/index.jsx
  frontend/src/Editor/QueryManager/QueryManager.jsx
  frontend/src/_styles/theme.scss
Labels: bug, frontend, run-ci, tested, ui, editor

#4036 Enhancement : [ text input widget ] refactor
  frontend/src/Editor/Components/TextInput.jsx
  frontend/src/Editor/WidgetManager/widgetConfig.js
  frontend/src/_helpers/appUtils.js
Labels: enhancement, frontend, run-ci, widget, tested, needs documentation

#3846 [docs]: Pagination Documentation
  docs/docs/widgets/pagination.md
  docs/sidebars.js
  docs/static/img/widgets/pagination/pagination.png
Labels: documentation, enhancement, good first issue, widget

#4144 [ hotfixed ] : Datepicker widget height is not consistent with the parent container
  frontend/src/Editor/Components/Datepicker.jsx
Labels: frontend, run-ci, widget, hotfix

#4087 [ Enhancement] : adding local storage support in query manager panel
  frontend/src/Editor/QueryManager/QueryManager.jsx
  frontend/src/Editor/QueryManager/QueryPanel.jsx
Labels: good first issue, frontend, run-ci, tested

#4025 chore: apply primary-color in more places
  frontend/src/Editor/Components/Button.jsx
  frontend/src/Editor/Icons/desktop-selected.svg
  frontend/src/Editor/Icons/mobile-selected.svg
  frontend/src/Editor/WidgetManager/widgetConfig.js
  frontend/src/_styles/colors.scss
  frontend/src/_styles/left-sidebar.scss
  frontend/src/_styles/mixins.scss
  frontend/src/_styles/theme.scss
Labels: run-ci, create-review-app

#4141 Hide user data in group permissions get user API
  server/src/services/group_permissions.service.ts
  server/test/controllers/group_permissions.e2e-spec.ts
Labels: run-ci

#4152 [ hotfix ] bug fixed : general tooltip is not displaying for button widget
  frontend/src/Editor/Components/Button.jsx
Labels: frontend, run-ci, widget, hotfix
