Repository ToolJet/ToolJet, pull requests merged in 2024-09, with the labels that each got.

#10695 [docs:] Add new how to for conditional visibility of components
  docs/docs/how-to/conditionally-display-components.md
  docs/sidebars.js
  docs/static/img/how-to/conditionally-view-components/conditional-visibility-code.png
  docs/static/img/how-to/conditionally-view-components/initial-ui.png
  docs/static/img/how-to/conditionally-view-components/manager-view.png
  docs/static/img/how-to/conditionally-view-components/non-manager-view.png
  docs/versioned_docs/version-2.50.0-LTS/how-to/conditionally-display-components.md
  docs/versioned_docs/version-2.65.0/how-to/conditionally-display-components.md
  docs/versioned_sidebars/version-2.50.0-LTS-sidebars.json
  docs/versioned_sidebars/version-2.65.0-sidebars.json
Labels: active-review-docs-app

#10690 fixed empty slug issue
  frontend/src/_components/OrganizationManager/CreateOrganization.jsx
Labels: tested, suspend-review-app

#10696 Fix/column row data accessible
  frontend/src/Editor/Components/Table/columns/index.jsx
  frontend/src/_helpers/utils.js
Labels: tested

#10698 fixed logic that extracts parent and childId from tabchildren.parent …
  frontend/src/_helpers/appUtils.js
  server/src/services/app_import_export.service.ts
  server/src/services/apps.service.ts
  server/src/services/page.service.ts
Labels: tested

#10703 [docs]: archive old docs
  docs/docs/versions.md
  docs/docusaurus.config.js
  docs/src/css/custom.css
  docs/versioned_docs/version-2.50.0-LTS/versions.md
  docs/versioned_docs/version-2.65.0/versions.md
  docs/versioned_sidebars/version-2.50.0-LTS-sidebars.json
  docs/versioned_sidebars/version-2.65.0-sidebars.json
  docs/versions.json
  docs/versionsArchived.json
Labels: active-review-docs-app

#10719 [docs]: update docusaurus to version 3.5.2
  docs/package-lock.json
  docs/package.json
Labels: active-review-docs-app

#10622 [docs]: add elasticsearch operations
  docs/docs/data-sources/elasticsearch.md
  docs/static/img/datasource-reference/elasticsearch/bulk.png
  docs/static/img/datasource-reference/elasticsearch/cat-indices.png
  docs/static/img/datasource-reference/elasticsearch/clear-scroll.png
  docs/static/img/datasource-reference/elasticsearch/cluster-health.png
  docs/static/img/datasource-reference/elasticsearch/connect-v2.png
  docs/static/img/datasource-reference/elasticsearch/count.png
  docs/static/img/datasource-reference/elasticsearch/delete.png
  docs/static/img/datasource-reference/elasticsearch/elastic-search-v2.png
  docs/static/img/datasource-reference/elasticsearch/exists.png
  docs/static/img/datasource-reference/elasticsearch/get-v2.png
  docs/static/img/datasource-reference/elasticsearch/index-v2.png
  docs/static/img/datasource-reference/elasticsearch/mget.png
  docs/static/img/datasource-reference/elasticsearch/scroll-search.png
  docs/static/img/datasource-reference/elasticsearch/ssl-v2.png
  docs/static/img/datasource-reference/elasticsearch/update-v2.png
  docs/versioned_docs/version-2.65.0/data-sources/elasticsearch.md
Labels: suspend-review-docs-app

#10007 Fix: Overlap between 'Null' text and 'Custom' text in create/edit row drawers in TJDB
  frontend/src/TooljetDatabase/Forms/EditRowForm.jsx
  frontend/src/TooljetDatabase/Forms/RowForm.jsx
Labels: tested, suspend-review-app

#10722 [docs]: add redirect
  docs/netlify.toml
  docs/static/_redirects
Labels: active-review-docs-app

#10726 [docs]: Update data-sources guides - airtable, amazon s3, amazon ses
  docs/docs/data-sources/airtable.md
  docs/docs/data-sources/amazonses.md
  docs/docs/data-sources/s3.md
  docs/versioned_docs/version-2.50.0-LTS/data-sources/airtable.md
  docs/versioned_docs/version-2.50.0-LTS/data-sources/amazonses.md
  docs/versioned_docs/version-2.50.0-LTS/data-sources/s3.md
  docs/versioned_docs/version-2.65.0/data-sources/airtable.md
  docs/versioned_docs/version-2.65.0/data-sources/amazonses.md
  docs/versioned_docs/version-2.65.0/data-sources/s3.md
Labels: active-review-docs-app

#10727 [docs]: Detailed documentation guidelines
  docs/docs/contributing-guide/documentation-guidelines/introduction.md
  docs/docs/contributing-guide/documentation-guidelines/pr-checklist.md
  docs/docs/contributing-guide/documentation-guidelines/style-guide.md
  docs/sidebars.js
  docs/versioned_docs/version-2.50.0-LTS/contributing-guide/documentation-guidelines/introduction.md
  docs/versioned_docs/version-2.50.0-LTS/contributing-guide/documentation-guidelines/pr-checklist.md
  docs/versioned_docs/version-2.50.0-LTS/contributing-guide/documentation-guidelines/style-guide.md
  docs/versioned_docs/version-2.65.0/contributing-guide/documentation-guidelines/introduction.md
  docs/versioned_docs/version-2.65.0/contributing-guide/documentation-guidelines/pr-checklist.md
  docs/versioned_docs/version-2.65.0/contributing-guide/documentation-guidelines/style-guide.md
  docs/versioned_sidebars/version-2.50.0-LTS-sidebars.json
  docs/versioned_sidebars/version-2.65.0-sidebars.json
Labels: active-review-docs-app

#10736 fix zindex logic for multiselect
  .version
  frontend/.version
  frontend/src/Editor/Components/Multiselect.jsx
  frontend/src/Editor/Header/GlobalSettings.jsx
  frontend/src/HomePage/ExportAppModal.jsx
  server/.version
Labels: tested

#10740 fix : ComponentID mapping to deleted component due to stale references in hashmap / suggestions showing deleted components in list
  .version
  frontend/.version
  frontend/src/Editor/Editor.jsx
  frontend/src/_helpers/appUtils.js
  server/.version
Labels: tested

#10752 [docs:] Add guide on creating dynamic forms
  docs/docs/how-to/build-dynamic-forms.md
  docs/sidebars.js
  docs/static/img/how-to/build-dynamic-forms/dynamic-form-UI.png
  docs/static/img/how-to/build-dynamic-forms/incorrect-email-and-contact-test.png
  docs/static/img/how-to/build-dynamic-forms/start-rating-condition-test-2.png
  docs/static/img/how-to/build-dynamic-forms/start-rating-condition-test.png
  docs/versioned_docs/version-2.50.0-LTS/how-to/build-dynamic-forms.md
  docs/versioned_docs/version-2.65.0/how-to/build-dynamic-forms.md
  docs/versioned_sidebars/version-2.50.0-LTS-sidebars.json
  docs/versioned_sidebars/version-2.65.0-sidebars.json
Labels: active-review-docs-app

#10745 [docs]: Update data-sources guides - mssql, mysql, n8n, notion
  docs/docs/data-sources/mssql.md
  docs/docs/data-sources/mysql.md
  docs/docs/data-sources/n8n.md
  docs/docs/data-sources/notion.md
  docs/static/img/datasource-reference/mssql/connect.gif
  docs/static/img/datasource-reference/mssql/connect.png
  docs/static/img/datasource-reference/mssql/gui mode.png
  docs/static/img/datasource-reference/mssql/query.gif
  docs/static/img/datasource-reference/mssql/sql mode.png
  docs/static/img/datasource-reference/mysql/mysql-guimode.png
  docs/static/img/datasource-reference/mysql/mysql-sqlmode.png
  docs/static/img/datasource-reference/mysql/mysql.png
  docs/static/img/datasource-reference/mysql/mysqlconnect.png
  docs/static/img/datasource-reference/n8n/POST.png
  docs/static/img/datasource-reference/n8n/basicauth.png
  docs/static/img/datasource-reference/n8n/get.png
  docs/static/img/datasource-reference/n8n/headerauth.png
  docs/static/img/datasource-reference/n8n/query.png
  docs/static/img/datasource-reference/notion/api.png
  docs/static/img/datasource-reference/notion/block_append.png
  docs/static/img/datasource-reference/notion/block_delete.png
  docs/static/img/datasource-reference/notion/block_q.png
  docs/static/img/datasource-reference/notion/block_retrieve.png
  docs/static/img/datasource-reference/notion/block_retrieve_block_children.png
  docs/static/img/datasource-reference/notion/block_update.png
  docs/static/img/datasource-reference/notion/db_create.png
  docs/static/img/datasource-reference/notion/db_q.png
  docs/static/img/datasource-reference/notion/db_query.png
  docs/static/img/datasource-reference/notion/db_retrieve.png
  docs/static/img/datasource-reference/notion/db_update.png
  docs/static/img/datasource-reference/notion/page_archive.png
  docs/static/img/datasource-reference/notion/page_create.png
  docs/static/img/datasource-reference/notion/page_q.png
  docs/static/img/datasource-reference/notion/page_retrieve.png
  docs/static/img/datasource-reference/notion/page_retrieve_page_property.png
  docs/static/img/datasource-reference/notion/page_update.png
  docs/static/img/datasource-reference/notion/querying.png
  docs/static/img/datasource-reference/notion/user_list_user.png
  docs/static/img/datasource-reference/notion/user_q.png
  docs/static/img/datasource-reference/notion/user_retrieve_a_user.png
  docs/versioned_docs/version-2.50.0-LTS/data-sources/mssql.md
  docs/versioned_docs/version-2.50.0-LTS/data-sources/mysql.md
  docs/versioned_docs/version-2.50.0-LTS/data-sources/n8n.md
  docs/versioned_docs/version-2.50.0-LTS/data-sources/notion.md
  docs/versioned_docs/version-2.65.0/data-sources/mssql.md
  docs/versioned_docs/version-2.65.0/data-sources/mysql.md
  docs/versioned_docs/version-2.65.0/data-sources/n8n.md
  docs/versioned_docs/version-2.65.0/data-sources/notion.md
Labels: active-review-docs-app

#10732 [docs]: Update data-sources guides - Clickhouse, CosmosDB, CouchDB
  docs/docs/data-sources/clickhouse.md
  docs/docs/data-sources/cosmosdb.md
  docs/docs/data-sources/couchdb.md
  docs/static/img/datasource-reference/clickhouse/alter-v2.png
  docs/static/img/datasource-reference/clickhouse/create-v2.png
  docs/static/img/datasource-reference/clickhouse/delete-v2.png
  docs/static/img/datasource-reference/clickhouse/insertarray-v2.png
  docs/static/img/datasource-reference/clickhouse/select-v2.png
  docs/static/img/datasource-reference/clickhouse/selectwithwhere-v2.png
  docs/static/img/datasource-reference/clickhouse/step1-v2.png
  docs/static/img/datasource-reference/clickhouse/step2-v2.png
  docs/static/img/datasource-reference/clickhouse/update-v2.png
  docs/static/img/datasource-reference/cosmosdb/deleteItem.png
  docs/static/img/datasource-reference/cosmosdb/insertItems.png
  docs/static/img/datasource-reference/cosmosdb/listContainers.png
  docs/static/img/datasource-reference/cosmosdb/listDatabase.png
  docs/static/img/datasource-reference/cosmosdb/operations.png
  docs/static/img/datasource-reference/cosmosdb/queryDatabase.png
  docs/static/img/datasource-reference/cosmosdb/readItem.png
  docs/static/img/datasource-reference/couchdb/connections.png
  docs/static/img/datasource-reference/couchdb/creating-v2.png
  docs/static/img/datasource-reference/couchdb/deleteRecord.png
  docs/static/img/datasource-reference/couchdb/find-v2.png
  docs/static/img/datasource-reference/couchdb/get_view-v2.png
  docs/static/img/datasource-reference/couchdb/listing-v2.png
  docs/static/img/datasource-reference/couchdb/operations.png
  docs/static/img/datasource-reference/couchdb/retrieving-v2.png
  docs/static/img/datasource-reference/couchdb/updating-v2.png
  docs/versioned_docs/version-2.50.0-LTS/data-sources/clickhouse.md
  docs/versioned_docs/version-2.50.0-LTS/data-sources/cosmosdb.md
  docs/versioned_docs/version-2.50.0-LTS/data-sources/couchdb.md
  docs/versioned_docs/version-2.68.0/data-sources/clickhouse.md
  docs/versioned_docs/version-2.68.0/data-sources/cosmosdb.md
  docs/versioned_docs/version-2.68.0/data-sources/couchdb.md
Labels: active-review-docs-app

#10763 Fix/onload running twice on viewer
  .version
  frontend/.version
  frontend/src/Editor/Viewer.jsx
  server/.version
Labels: tested

#10337 feat: Adds portkey plugin
  marketplace/package-lock.json
  marketplace/plugins/portkey/.gitignore
  marketplace/plugins/portkey/README.md
  marketplace/plugins/portkey/__tests__/index.js
  marketplace/plugins/portkey/lib/icon.svg
  marketplace/plugins/portkey/lib/index.ts
  marketplace/plugins/portkey/lib/manifest.json
  marketplace/plugins/portkey/lib/operations.json
  marketplace/plugins/portkey/lib/portkey_operations.ts
  marketplace/plugins/portkey/lib/types.ts
  marketplace/plugins/portkey/lib/utils.ts
  marketplace/plugins/portkey/package.json
  marketplace/plugins/portkey/tsconfig.json
  marketplace/tsconfig.json
  server/src/assets/marketplace/plugins.json
Labels: plugins, roadmap, suspend-review-app, marketplace-plugin-deployed

#10734 [docs]: Update data-sources guides - appwrite, athena, azure blob
  docs/docs/data-sources/appwrite.md
  docs/docs/data-sources/athena.md
  docs/docs/data-sources/azureblob.md
  docs/static/img/datasource-reference/athena/createTable.png
  docs/static/img/datasource-reference/athena/insertTable.png
  docs/static/img/datasource-reference/athena/listTables.png
  docs/static/img/datasource-reference/athena/selectOperation.png
  docs/static/img/datasource-reference/azureblob/createcontainer-v2.png
  docs/static/img/datasource-reference/azureblob/delete-v2.png
  docs/static/img/datasource-reference/azureblob/listblobs-v2.png
  docs/static/img/datasource-reference/azureblob/listcon-v2.png
  docs/static/img/datasource-reference/azureblob/queries-v2.png
  docs/static/img/datasource-reference/azureblob/read-v2.png
  docs/static/img/datasource-reference/azureblob/uploadBlob.png
  docs/versioned_docs/version-2.50.0-LTS/data-sources/appwrite.md
  docs/versioned_docs/version-2.50.0-LTS/data-sources/athena.md
  docs/versioned_docs/version-2.50.0-LTS/data-sources/azureblob.md
  docs/versioned_docs/version-2.65.0/data-sources/appwrite.md
  docs/versioned_docs/version-2.65.0/data-sources/athena.md
  docs/versioned_docs/version-2.65.0/data-sources/azureblob.md
  docs/versioned_docs/version-2.68.0/data-sources/appwrite.md
  docs/versioned_docs/version-2.68.0/data-sources/athena.md
  docs/versioned_docs/version-2.68.0/data-sources/azureblob.md
Labels: active-review-docs-app

#10551 Feature: Secret constants + Bug fixes for resolution of constants and secrets
  frontend/src/Editor/CodeEditor/PreviewBox.jsx
  frontend/src/Editor/CodeEditor/utils.js
  frontend/src/Editor/Editor.jsx
  frontend/src/Editor/QueryManager/Components/ParameterForm.jsx
  frontend/src/Editor/Viewer.jsx
  frontend/src/ManageOrgConstants/ConstantForm.jsx
  frontend/src/ManageOrgConstants/ConstantFormStyle.scss
  frontend/src/ManageOrgConstants/ConstantTable.jsx
  frontend/src/ManageOrgConstants/EmptyState.jsx
  frontend/src/ManageOrgConstants/ManageOrgConstants.jsx
  frontend/src/_components/DynamicForm.jsx
  frontend/src/_components/OrgConstantsVariablesResolver/OrgConstantsVariablesPreviewBox.jsx
  frontend/src/_helpers/utils.js
  frontend/src/_services/organization_constants.service.js
  frontend/src/_stores/dataQueriesStore.js
  frontend/src/_styles/theme.scss
  frontend/src/_ui/HttpHeaders/index.js
  frontend/src/_ui/Icon/bulkIcons/CloseIcon.jsx
  server/data-migrations/1722357931487-AddTypeAsConstantForExistingOrgConsts.ts
  server/migrations/1722357506889-AddTypeInOrganizationConstants.ts
  server/src/controllers/organization_constants.controller.ts
  server/src/dto/organization-constant.dto.ts
  server/src/entities/organization_constants.entity.ts
  server/src/services/data_queries.service.ts
  server/src/services/data_sources.service.ts
  server/src/services/org_environment_variables.service.ts
  server/src/services/organization_constants.service.ts
Labels: suspend-review-app

#10593 [docs]: Add portkey docs
  docs/docs/marketplace/marketplace_overview.md
  docs/docs/marketplace/plugins/portkey.md
  docs/sidebars.js
  docs/static/img/marketplace/plugins/portkey/chat.png
  docs/static/img/marketplace/plugins/portkey/completion.png
  docs/static/img/marketplace/plugins/portkey/configuration.png
  docs/static/img/marketplace/plugins/portkey/embedding.png
  docs/static/img/marketplace/plugins/portkey/overview.png
  docs/static/img/marketplace/plugins/portkey/prompt-completion.png
  docs/versioned_docs/version-2.50.0-LTS/marketplace/marketplace_overview.md
  docs/versioned_docs/version-2.50.0-LTS/marketplace/plugins/portkey.md
  docs/versioned_docs/version-2.68.0/marketplace/marketplace_overview.md
  docs/versioned_docs/version-2.68.0/marketplace/plugins/portkey.md
  docs/versioned_sidebars/version-2.50.0-LTS-sidebars.json
  docs/versioned_sidebars/version-2.68.0-sidebars.json
Labels: active-review-app, active-review-docs-app

#10808 [docs]: Update data-sources guides - twilio, typesense, woocommerce, zendesk
  docs/docs/data-sources/twilio.md
  docs/docs/data-sources/typesense.md
  docs/docs/data-sources/woocommerce.md
  docs/docs/data-sources/zendesk.md
  docs/static/img/datasource-reference/twilio/connect-v2.png
  docs/static/img/datasource-reference/twilio/sms-v2.png
  docs/static/img/datasource-reference/typesense/collection-v2.png
  docs/static/img/datasource-reference/typesense/connect-v2.png
  docs/static/img/datasource-reference/typesense/delete-v2.png
  docs/static/img/datasource-reference/typesense/get-v2.png
  docs/static/img/datasource-reference/typesense/index-v2.png
  docs/static/img/datasource-reference/typesense/search-v2.png
  docs/static/img/datasource-reference/typesense/update-v2.png
  docs/static/img/datasource-reference/woocommerce/woocomerce-auth-v2.png
  docs/static/img/datasource-reference/zendesk/get.png
  docs/static/img/datasource-reference/zendesk/list-requested-tickets.png
  docs/static/img/datasource-reference/zendesk/list-tickets.png
  docs/static/img/datasource-reference/zendesk/list-users.png
  docs/static/img/datasource-reference/zendesk/search.png
  docs/static/img/datasource-reference/zendesk/show.png
  docs/static/img/datasource-reference/zendesk/update.png
  docs/versioned_docs/version-2.50.0-LTS/data-sources/twilio.md
  docs/versioned_docs/version-2.50.0-LTS/data-sources/typesense.md
  docs/versioned_docs/version-2.50.0-LTS/data-sources/woocommerce.md
  docs/versioned_docs/version-2.50.0-LTS/data-sources/zendesk.md
  docs/versioned_docs/version-2.68.0/data-sources/twilio.md
  docs/versioned_docs/version-2.68.0/data-sources/typesense.md
  docs/versioned_docs/version-2.68.0/data-sources/woocommerce.md
  docs/versioned_docs/version-2.68.0/data-sources/zendesk.md
Labels: active-review-docs-app

#10843 [docs]: Update Password and Text Input Doc According to the Style Guide
  docs/docs/widgets/password-input.md
  docs/docs/widgets/text-input.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/password-input.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/text-input.md
  docs/versioned_docs/version-2.68.0/widgets/password-input.md
  docs/versioned_docs/version-2.68.0/widgets/text-input.md
Labels: active-review-docs-app

#10842 [docs]: Update Number Input Doc According to the Style Guide
  docs/docs/widgets/number-input.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/number-input.md
  docs/versioned_docs/version-2.68.0/widgets/number-input.md
Labels: active-review-docs-app
