Repository ToolJet/ToolJet, pull requests merged in 2024-11, with the labels that each got.

#11222 [docs]: Sharepoint
  docs/docs/marketplace/marketplace_overview.md
  docs/docs/marketplace/plugins/sharepoint.md
  docs/sidebars.js
  docs/static/img/marketplace/plugins/sharepoint/add-item.png
  docs/static/img/marketplace/plugins/sharepoint/connect.png
  docs/static/img/marketplace/plugins/sharepoint/create-list.png
  docs/static/img/marketplace/plugins/sharepoint/delete-item.png
  docs/static/img/marketplace/plugins/sharepoint/get-all-lists.png
  docs/static/img/marketplace/plugins/sharepoint/get-all-sites.png
  docs/static/img/marketplace/plugins/sharepoint/get-analytics.png
  docs/static/img/marketplace/plugins/sharepoint/get-list-items.png
  docs/static/img/marketplace/plugins/sharepoint/get-list-metadata.png
  docs/static/img/marketplace/plugins/sharepoint/get-pages.png
  docs/static/img/marketplace/plugins/sharepoint/get-site.png
  docs/static/img/marketplace/plugins/sharepoint/update-item.png
  docs/versioned_docs/version-2.50.0-LTS/marketplace/marketplace_overview.md
  docs/versioned_docs/version-2.50.0-LTS/marketplace/plugins/sharepoint.md
  docs/versioned_sidebars/version-2.50.0-LTS-sidebars.json
Labels: active-review-docs-app

#11234 [docs]: Update screenshot for SSO Configuration
  docs/docs/user-authentication/sso/ldap.md
  docs/docs/user-authentication/sso/saml.md
  docs/static/img/sso/ldap/disabled-v3.png
  docs/static/img/sso/ldap/fields-v2.png
  docs/static/img/sso/ldap/settings-v3.png
  docs/static/img/sso/ldap/url-v3.png
  docs/static/img/sso/saml/config-new-v3.png
  docs/static/img/sso/saml/enable-v2.png
  docs/static/img/sso/saml/url-v3.png
  docs/static/img/sso/saml/workspaceset-v2.png
  docs/versioned_docs/version-2.50.0-LTS/user-authentication/sso/ldap.md
  docs/versioned_docs/version-2.50.0-LTS/user-authentication/sso/saml.md
Labels: active-review-docs-app

#11188 Integrate Pinecone Plugin with Core Operations for Advanced Vector Management
  marketplace/plugins/pinecone/.gitignore
  marketplace/plugins/pinecone/README.md
  marketplace/plugins/pinecone/__tests__/index.js
  marketplace/plugins/pinecone/lib/icon.svg
  marketplace/plugins/pinecone/lib/index.ts
  marketplace/plugins/pinecone/lib/manifest.json
  marketplace/plugins/pinecone/lib/operations.json
  marketplace/plugins/pinecone/lib/query_operations.ts
  marketplace/plugins/pinecone/lib/types.ts
  marketplace/plugins/pinecone/package.json
  marketplace/plugins/pinecone/tsconfig.json
  server/src/assets/marketplace/plugins.json
Labels: active-review-app, marketplace-plugin-deployed

#11248 [docs]: add pinecone
  docs/docs/marketplace/marketplace_overview.md
  docs/docs/marketplace/plugins/pinecone.md
  docs/sidebars.js
  docs/static/img/marketplace/plugins/pinecone/connection.png
  docs/versioned_docs/version-3.0.0-LTS/marketplace/marketplace_overview.md
  docs/versioned_docs/version-3.0.0-LTS/marketplace/plugins/pinecone.md
  docs/versioned_sidebars/version-3.0.0-LTS-sidebars.json
Labels: active-review-docs-app

#11262 [docs]: Update content for Pinecone Documentation
  docs/docs/marketplace/plugins/pinecone.md
  docs/static/img/marketplace/plugins/pinecone/connection.png
  docs/versioned_docs/version-3.0.0-LTS/marketplace/plugins/pinecone.md
Labels: active-review-docs-app

#11245 Release: v3.0.0
  .version
  frontend/.version
  frontend/src/AppBuilder/_hooks/useAppData.js
  frontend/src/Editor/Components/Multiselect.jsx
  frontend/src/_components/OrganizationManager/List.jsx
  frontend/src/_styles/global-datasources.scss
  frontend/src/_styles/theme.scss
  frontend/webpack.config.js
  marketplace/plugins/pinecone/lib/operations.json
  plugins/packages/common/lib/utils.helper.ts
  server/.version
  server/data-migrations/1731283187529-PopulateManualConnectionTypeForOldPostgresDs.ts
  server/src/services/data_queries.service.ts
  server/src/services/organizations.service.ts
Labels: suspend-review-app

#11298 [docs]: fix broken link
  docs/docs/setup/upgrade-to-v3.md
  docs/versioned_docs/version-2.50.0-LTS/setup/env-vars.md
  docs/versioned_docs/version-2.50.0-LTS/setup/upgrade-to-v3.md
  docs/versioned_docs/version-3.0.0-LTS/setup/upgrade-to-v3.md
Labels: active-review-docs-app

#11299 [docs]: update upgrade to LTS guide links
  docs/docs/setup/upgrade-to-lts.md
  docs/docs/setup/upgrade-to-v3.md
  docs/versioned_docs/version-2.50.0-LTS/setup/upgrade-to-lts.md
  docs/versioned_docs/version-3.0.0-LTS/setup/upgrade-to-lts.md
  docs/versioned_docs/version-3.0.0-LTS/setup/upgrade-to-v3.md
Labels: active-review-docs-app

#11310 [docs]: update render versions
  .github/workflows/docs-pr-app.yml
  docs/build-latest-version.sh
Labels: active-review-docs-app

#11307 [docs]: Update links in setup folder
  docs/docs/setup/azure-container.md
  docs/docs/setup/digitalocean.md
  docs/docs/setup/docker.md
  docs/docs/setup/ec2.md
  docs/docs/setup/ecs.md
  docs/docs/setup/google-cloud-run.md
  docs/docs/setup/helm.md
  docs/docs/setup/kubernetes-aks.md
  docs/docs/setup/kubernetes-eks.md
  docs/docs/setup/kubernetes-gke.md
  docs/docs/setup/kubernetes.md
  docs/docs/setup/openshift.md
  docs/docs/setup/upgrade-to-v3.md
  docs/docs/setup/v2-migration.md
  docs/versioned_docs/version-2.50.0-LTS/setup/azure-container.md
  docs/versioned_docs/version-2.50.0-LTS/setup/digitalocean.md
  docs/versioned_docs/version-2.50.0-LTS/setup/docker.md
  docs/versioned_docs/version-2.50.0-LTS/setup/ec2.md
  docs/versioned_docs/version-2.50.0-LTS/setup/ecs.md
  docs/versioned_docs/version-2.50.0-LTS/setup/helm.md
  docs/versioned_docs/version-2.50.0-LTS/setup/kubernetes-aks.md
  docs/versioned_docs/version-2.50.0-LTS/setup/kubernetes-eks.md
  docs/versioned_docs/version-2.50.0-LTS/setup/kubernetes-gke.md
  docs/versioned_docs/version-2.50.0-LTS/setup/kubernetes.md
  docs/versioned_docs/version-2.50.0-LTS/setup/openshift.md
  docs/versioned_docs/version-2.50.0-LTS/setup/upgrade-to-v3.md
  docs/versioned_docs/version-2.50.0-LTS/setup/v2-migration.md
  docs/versioned_docs/version-3.0.0-LTS/setup/azure-container.md
  docs/versioned_docs/version-3.0.0-LTS/setup/digitalocean.md
  docs/versioned_docs/version-3.0.0-LTS/setup/docker.md
  docs/versioned_docs/version-3.0.0-LTS/setup/ec2.md
  docs/versioned_docs/version-3.0.0-LTS/setup/ecs.md
  docs/versioned_docs/version-3.0.0-LTS/setup/google-cloud-run.md
  docs/versioned_docs/version-3.0.0-LTS/setup/helm.md
  docs/versioned_docs/version-3.0.0-LTS/setup/kubernetes-aks.md
  docs/versioned_docs/version-3.0.0-LTS/setup/kubernetes-eks.md
  docs/versioned_docs/version-3.0.0-LTS/setup/kubernetes-gke.md
  docs/versioned_docs/version-3.0.0-LTS/setup/kubernetes.md
  docs/versioned_docs/version-3.0.0-LTS/setup/openshift.md
  docs/versioned_docs/version-3.0.0-LTS/setup/upgrade-to-v3.md
  docs/versioned_docs/version-3.0.0-LTS/setup/v2-migration.md
Labels: active-review-docs-app

#11244 Merging EE fixes to CE
  frontend/src/AppBuilder/AppCanvas/AutoComputeMobileLayoutAlert.jsx
  frontend/src/AppBuilder/AppCanvas/Grid/Grid.jsx
  frontend/src/AppBuilder/QueryManager/Components/QueryManagerBody.jsx
  frontend/src/AppBuilder/WidgetManager/widgets/buttonGroup.js
  frontend/src/AppBuilder/Widgets/Form/Form.jsx
  frontend/src/AppBuilder/Widgets/Form/FormUtils.js
  frontend/src/AppBuilder/Widgets/Form/RenderSchema.jsx
  frontend/src/AppBuilder/Widgets/Modal.jsx
  frontend/src/AppBuilder/Widgets/Table/Components/TableRow.jsx
  frontend/src/AppBuilder/Widgets/Table/Table.jsx
  frontend/src/AppBuilder/Widgets/Table/columns/autogenerateColumns.js
  frontend/src/AppBuilder/Widgets/Tabs.jsx
  frontend/src/AppBuilder/_stores/slices/componentsSlice.js
  frontend/src/AppBuilder/_stores/slices/gridSlice.js
  frontend/src/AppBuilder/_stores/slices/resolvedSlice.js
  frontend/src/AppBuilder/_stores/slices/undoRedoSlice.js
  frontend/src/AppBuilder/_stores/utils.js
  frontend/src/Editor/Components/ButtonGroup.jsx
  frontend/src/Editor/Components/Checkbox.jsx
  frontend/src/Editor/Components/Datepicker.jsx
  frontend/src/Editor/Components/DaterangePicker.jsx
  frontend/src/Editor/Components/DropDown.jsx
  frontend/src/Editor/Components/DropdownV2/DropdownV2.jsx
  frontend/src/Editor/Components/Multiselect.jsx
  frontend/src/Editor/Components/MultiselectV2/MultiselectV2.jsx
  frontend/src/Editor/Components/NumberInput.jsx
  frontend/src/Editor/Components/PasswordInput.jsx
  frontend/src/Editor/Components/TextInput.jsx
  frontend/src/Editor/Components/ToggleV2.jsx
  frontend/src/_styles/theme.scss
  server/src/helpers/components.helper.ts
  server/src/helpers/widget-config/buttonGroup.js
  server/src/services/components.service.ts
Labels: tested

#11280 Fix: viewer, sidebar and pages bugs
  frontend/src/AppBuilder/AppCanvas/AppCanvas.jsx
  frontend/src/AppBuilder/LeftSidebar/LeftSidebar.jsx
  frontend/src/AppBuilder/LeftSidebar/PageMenu/IconSelector.jsx
  frontend/src/AppBuilder/LeftSidebar/PageMenu/PageHandlerMenu.jsx
  frontend/src/AppBuilder/LeftSidebar/PageMenu/PageMenuItem.jsx
  frontend/src/AppBuilder/Viewer/MobileHeader.jsx
  frontend/src/AppBuilder/Viewer/Viewer.jsx
  frontend/src/AppBuilder/Viewer/ViewerSidebarNavigation.jsx
  frontend/src/AppBuilder/_hooks/useAppData.js
  frontend/src/AppBuilder/_stores/slices/pageMenuSlice.js
  frontend/src/_components/SortableList/SortableList.jsx
  frontend/src/_styles/components.scss
  frontend/src/_styles/pages-sidebar.scss
  frontend/src/_styles/theme.scss
  server/src/services/app_import_export.service.ts
Labels: tested

#11281 Fixes dark mode, mode theme in inspector, bg color in viewer, widget …
  frontend/src/AppBuilder/AppCanvas/AppCanvas.jsx
  frontend/src/AppBuilder/AppCanvas/Container.jsx
  frontend/src/AppBuilder/AppCanvas/appCanvasUtils.js
  frontend/src/AppBuilder/Header/AppVersionsManager.jsx
  frontend/src/AppBuilder/Header/EditorHeader.jsx
  frontend/src/AppBuilder/LeftSidebar/LeftSidebarInspector/LeftSidebarInspector.jsx
  frontend/src/AppBuilder/Viewer/DesktopHeader.jsx
  frontend/src/AppBuilder/Viewer/Viewer.jsx
  frontend/src/AppBuilder/_hooks/useAppData.js
  frontend/src/_components/DarkModeToggle.jsx
  frontend/src/_styles/theme.scss
Labels: tested

#11327 Fix: page settings not available for imported apps
  server/src/services/app_import_export.service.ts
Labels: tested

#11324 Fix: sidebar navigation visibility on mobile vew
  frontend/src/AppBuilder/AppCanvas/AppCanvas.jsx
  frontend/src/AppBuilder/Viewer/MobileHeader.jsx
  frontend/src/AppBuilder/Viewer/Viewer.jsx
Labels: tested

#11316 [docs]: Update documentation for Listview Component
  docs/docs/widgets/listview.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/listview.md
  docs/versioned_docs/version-3.0.0-LTS/widgets/listview.md
Labels: suspend-review-docs-app

#11236 [docs]: Fix documentation for Date-Range Picker Component
  docs/docs/widgets/date-range-picker.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/date-range-picker.md
Labels: suspend-review-docs-app

#11207 [docs]: Fix documentation for the Date Picker Component
  docs/docs/widgets/datepicker.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/datepicker.md
Labels: suspend-review-docs-app

#11230 [docs]: Fix documentation for the Code Editor Component
  docs/docs/widgets/code-editor.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/code-editor.md
Labels: suspend-review-docs-app

#11232 [docs]: Fix documentation for Text Component
  docs/docs/widgets/text.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/text.md
Labels: suspend-review-docs-app

#11330 [docs]: Improve navigation for TJDB
  docs/docs/tooljet-db/constraints/foreign-key.md
  docs/docs/tooljet-db/constraints/primary-key.md
  docs/docs/tooljet-db/database-editor.md
  docs/docs/tooljet-db/table-operations.md
  docs/sidebars.js
  docs/versioned_docs/version-3.0.0-LTS/tooljet-db/constraints/foreign-key.md
  docs/versioned_docs/version-3.0.0-LTS/tooljet-db/constraints/primary-key.md
  docs/versioned_docs/version-3.0.0-LTS/tooljet-db/database-editor.md
  docs/versioned_docs/version-3.0.0-LTS/tooljet-db/table-operations.md
  docs/versioned_sidebars/version-3.0.0-LTS-sidebars.json
Labels: suspend-review-docs-app

#11332 Fix: remove events and exposed variables from component definition to avoid backend Component entity error
  frontend/src/AppBuilder/_stores/slices/componentsSlice.js
Labels: tested

#11333 Fix: page settings not available on imported apps
  server/src/services/app_import_export.service.ts
Labels: tested

#11338 Fixed onCellValueChanged event being triggered before save changes bu…
  frontend/src/AppBuilder/Widgets/Table/Table.jsx
Labels: tested

#11345 Fixed default calendar view not updating view on reload
  frontend/src/AppBuilder/AppCanvas/Grid/Grid.jsx
  frontend/src/AppBuilder/Widgets/Calendar/Calendar.jsx
Labels: tested

#11351 Fix submit button event not triggered when dynamic schema is selected
  frontend/src/AppBuilder/Widgets/Form/Form.jsx
  frontend/src/AppBuilder/Widgets/Form/RenderSchema.jsx
Labels: tested

#11337 form button to submit mapping issue on version creation and import ex…
  frontend/src/AppBuilder/_stores/ast.js
  server/package.json
  server/src/helpers/import_export.helpers.ts
  server/src/services/app_import_export.service.ts
  server/src/services/apps.service.ts
  server/src/services/page.service.ts
Labels: tested

#11329 [docs]: Add Serverside Operations in Sidebar
  docs/sidebars.js
  docs/versioned_sidebars/version-3.0.0-LTS-sidebars.json
Labels: active-review-docs-app

#10793 [docs]: Add Home Page
  docs/docs/doc-home-page.mdx
  docs/docs/getting-started/platform-overview.md
  docs/docs/homePageData.js
  docs/docs/homepage.css
  docs/package-lock.json
  docs/package.json
  docs/postcss.config.js
  docs/sidebars.js
  docs/src/css/custom.css
  docs/src/pages/getting-started.png
  docs/tailwind.config.js
  docs/versioned_docs/version-2.50.0-LTS/doc-home-page.mdx
  docs/versioned_docs/version-2.50.0-LTS/homePageData.js
  docs/versioned_docs/version-2.50.0-LTS/homepage.css
Labels: suspend-review-docs-app

#11358 [docs]: Add local DS migration guide
  docs/docs/data-sources/local-data-sources-migration.md
  docs/docs/setup/choose-your-tooljet.md
  docs/docs/setup/cloud-v3-migration.md
  docs/docs/setup/upgrade-to-v3.md
  docs/sidebars.js
  docs/static/img/datasource-reference/v3-migration/create-new-data-source.png
  docs/static/img/datasource-reference/v3-migration/query-error.png
  docs/static/img/datasource-reference/v3-migration/query-reconnection.png
  docs/static/img/datasource-reference/v3-migration/test-queries.png
  docs/versioned_docs/version-2.50.0-LTS/setup/cloud-v3-migration.md
  docs/versioned_docs/version-2.50.0-LTS/setup/upgrade-to-v3.md
  docs/versioned_docs/version-3.0.0-LTS/data-sources/local-data-sources-migration.md
  docs/versioned_docs/version-3.0.0-LTS/setup/choose-your-tooljet.md
  docs/versioned_docs/version-3.0.0-LTS/setup/cloud-v3-migration.md
  docs/versioned_docs/version-3.0.0-LTS/setup/upgrade-to-v3.md
  docs/versioned_sidebars/version-3.0.0-LTS-sidebars.json
Labels: active-review-docs-app

#11216 [docs]: Fix documentation for the Button Group Component
  docs/docs/widgets/button-group.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/button-group.md
Labels: suspend-review-docs-app

#11344 Local data source discontinued changes
  frontend/assets/images/icons/info-icon.svg
  frontend/src/AppBuilder/QueryManager/Components/QueryManagerBody.jsx
  frontend/src/_components/NotificationBanner/NotificationBanner.jsx
  frontend/src/_components/NotificationBanner/index.js
  frontend/src/_components/NotificationBanner/resources/styles.scss
Labels: suspend-review-app

#11360 Fix request, response, responseHeaders from resolved query not being part of dependency graph
  .version
  frontend/.version
  frontend/src/AppBuilder/WidgetManager/widgets/codeEditor.js
  frontend/src/AppBuilder/_stores/slices/queryPanelSlice.js
  frontend/src/AppBuilder/_stores/slices/resolvedSlice.js
  frontend/src/Editor/Components/CodeEditor.jsx
  server/.version
  server/src/helpers/widget-config/codeEditor.js
Labels: tested

#11371 [docs]: Remove Duplicate Content from Workflow Docs
  docs/docs/workflows/results.md
  docs/versioned_docs/version-3.0.0-LTS/workflows/results.md
Labels: active-review-docs-app

#10832 enhancement- changed display name and image of the horizontal divider
  frontend/assets/images/icons/widgets/divider.jsx
  frontend/assets/images/icons/widgets/index.jsx
  frontend/src/Editor/WidgetManager/configs/divider.js
Labels: tested

#10707 fix: hover on one table now does not trigger tooltips on all nearby t…
  frontend/src/Editor/Components/Table/Table.jsx
Labels: tested

#11420 [docs]: Marketplace Links Update
  docs/docs/data-sources/azureblob.md
  docs/docs/data-sources/google.sheets.md
  docs/docs/marketplace/marketplace_overview.md
  docs/docs/marketplace/plugins/amazon-redshift.md
  docs/docs/marketplace/plugins/prestodb.md
  docs/sidebars.js
  docs/versioned_docs/version-2.50.0-LTS/data-sources/azureblob.md
  docs/versioned_docs/version-2.50.0-LTS/data-sources/google.sheets.md
  docs/versioned_docs/version-2.50.0-LTS/marketplace/marketplace_overview.md
  docs/versioned_docs/version-2.50.0-LTS/marketplace/plugins/amazon-redshift.md
  docs/versioned_docs/version-2.50.0-LTS/marketplace/plugins/prestodb.md
  docs/versioned_docs/version-3.0.0-LTS/data-sources/azureblob.md
  docs/versioned_docs/version-3.0.0-LTS/data-sources/google.sheets.md
  docs/versioned_docs/version-3.0.0-LTS/marketplace/marketplace_overview.md
  docs/versioned_docs/version-3.0.0-LTS/marketplace/plugins/amazon-redshift.md
  docs/versioned_docs/version-3.0.0-LTS/marketplace/plugins/prestodb.md
  docs/versioned_sidebars/version-2.50.0-LTS-sidebars.json
  docs/versioned_sidebars/version-3.0.0-LTS-sidebars.json
Labels: active-review-docs-app

#11343 [docs]: Trigger Workflows from a ToolJet App
  docs/docs/workflows/trigger-from-app.md
  docs/sidebars.js
  docs/static/img/workflows/trigger-from-app/app-section.png
  docs/static/img/workflows/trigger-from-app/app.png
  docs/static/img/workflows/trigger-from-app/configure-wf.png
  docs/static/img/workflows/trigger-from-app/new-app.png
  docs/static/img/workflows/trigger-from-app/new-wf.png
  docs/static/img/workflows/trigger-from-app/run-wf.png
  docs/static/img/workflows/trigger-from-app/wf-eh.png
  docs/static/img/workflows/trigger-from-app/wf-query.png
  docs/static/img/workflows/trigger-from-app/workflow-section.png
Labels: suspend-review-docs-app

#11382 Added a template to the Tooljet Community Templates, for issue #11006
  server/templates/url-splitter-and-parser/definition.json
  server/templates/url-splitter-and-parser/manifest.json
Labels: templates

#11410 [docs]: Fix SEO links
  docs/docs/data-sources/restapi/querying-rest-api.md
  docs/docs/setup/env-vars.md
  docs/docs/setup/v2-migration.md
  docs/docs/user-authentication/user-lifecycle.md
  docs/docs/widgets/overview.md
  docs/versioned_docs/version-2.50.0-LTS/data-sources/restapi.md
  docs/versioned_docs/version-2.50.0-LTS/setup/env-vars.md
  docs/versioned_docs/version-2.50.0-LTS/user-authentication/user-lifecycle.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/overview.md
  docs/versioned_docs/version-3.0.0-LTS/data-sources/restapi/querying-rest-api.md
  docs/versioned_docs/version-3.0.0-LTS/setup/env-vars.md
  docs/versioned_docs/version-3.0.0-LTS/user-authentication/user-lifecycle.md
  docs/versioned_docs/version-3.0.0-LTS/widgets/overview.md
Labels: active-review-docs-app

#11364 [docs]: Documentation on Dynamic Columns
  docs/docs/widgets/table/dynamic-column.md
  docs/sidebars.js
  docs/versioned_docs/version-3.0.0-LTS/widgets/table/dynamic-column.md
  docs/versioned_sidebars/version-3.0.0-LTS-sidebars.json
Labels: suspend-review-docs-app

#11416 Fix: ToolJet database limit check API issue
  frontend/src/_helpers/utils.js
  server/src/modules/casl/abilities/tooljet-db-ability.factory.ts
Labels: suspend-review-app, database

#11394 Release: Sprint Marketplace 6 LTS ( v3.0.5-ce-lts )
  .version
  frontend/.version
  frontend/assets/images/icons/ai-tag.svg
  frontend/src/AppBuilder/QueryManager/Components/QueryManagerBody.jsx
  frontend/src/AppBuilder/QueryManager/Components/QueryManagerHeader.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/Restapi/TabBody.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/Restapi/TabContent.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/Restapi/Tabs.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/Restapi/index.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/Stripe.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/index.js
  frontend/src/AppBuilder/QueryManager/QueryManager.jsx
  frontend/src/Editor/DataSourceManager/DataSourceManager.jsx
  frontend/src/Editor/QueryManager/Components/QueryManagerBody.jsx
  frontend/src/Editor/QueryManager/QueryEditors/Restapi/TabBody.jsx
  frontend/src/Editor/QueryManager/QueryEditors/Restapi/TabContent.jsx
  frontend/src/Editor/QueryManager/QueryEditors/Restapi/Tabs.jsx
  frontend/src/Editor/QueryManager/QueryEditors/Restapi/index.jsx
  frontend/src/Editor/QueryManager/QueryEditors/Stripe.jsx
  frontend/src/Editor/QueryManager/QueryEditors/index.js
  frontend/src/GlobalDatasources/GlobalDataSourcesPage/index.jsx
  frontend/src/MarketplacePage/InstalledPlugins.jsx
  frontend/src/MarketplacePage/MarketplaceCard.jsx
  frontend/src/MarketplacePage/MarketplacePlugins.jsx
  frontend/src/MarketplacePage/utils.js
  frontend/src/TooljetDatabase/Filter/index.jsx
  frontend/src/TooljetDatabase/Filter/styles.scss
  frontend/src/TooljetDatabase/Forms/FilterForm.jsx
  frontend/src/TooljetDatabase/Forms/styles.scss
  frontend/src/TooljetDatabase/Table/Header.jsx
  frontend/src/_components/ApiEndpointInput.jsx
  frontend/src/_components/DynamicForm.jsx
  frontend/src/_styles/global-datasources.scss
  frontend/src/_styles/queryManager.scss
  frontend/src/_styles/theme.scss
  frontend/src/_ui/AiBanner.jsx
  frontend/src/_ui/AppButton/AppButton.scss
  frontend/src/_ui/Card/Card.jsx
  frontend/src/_ui/Icon/solidIcons/AITag.jsx
  frontend/src/_ui/Icon/solidIcons/index.js
  frontend/src/_ui/Select/SelectComponent.jsx
  frontend/src/_ui/Select/styles.js
  marketplace/plugins/awsredshift/README.md
  plugins/packages/airtable/lib/index.ts
  plugins/packages/common/lib/index.ts
  plugins/packages/common/lib/oauth.ts
  plugins/packages/googlesheets/lib/index.ts
  plugins/packages/googlesheets/lib/operations.json
  plugins/packages/googlesheets/lib/operations.ts
  plugins/packages/googlesheets/lib/types.ts
  plugins/packages/mongodb/lib/index.ts
  plugins/packages/mongodb/lib/manifest.json
  plugins/packages/mongodb/lib/types.ts
  plugins/packages/mssql/lib/index.ts
  plugins/packages/mysql/lib/index.ts
  plugins/packages/postgresql/lib/index.ts
  plugins/packages/restapi/lib/index.ts
  plugins/packages/stripe/lib/operations.json
  server/.version
  server/src/assets/marketplace/plugins.json
Labels: active-review-app

#11389 Release: Marketplace Sprint 6
  .version
  frontend/.version
  frontend/assets/images/icons/ai-tag.svg
  frontend/src/AppBuilder/QueryManager/Components/QueryManagerBody.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/Restapi/TabBody.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/Restapi/TabContent.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/Restapi/Tabs.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/Restapi/index.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/Stripe.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/index.js
  frontend/src/Editor/DataSourceManager/DataSourceManager.jsx
  frontend/src/Editor/QueryManager/Components/QueryManagerBody.jsx
  frontend/src/Editor/QueryManager/QueryEditors/Restapi/TabBody.jsx
  frontend/src/Editor/QueryManager/QueryEditors/Restapi/TabContent.jsx
  frontend/src/Editor/QueryManager/QueryEditors/Restapi/Tabs.jsx
  frontend/src/Editor/QueryManager/QueryEditors/Restapi/index.jsx
  frontend/src/Editor/QueryManager/QueryEditors/Stripe.jsx
  frontend/src/Editor/QueryManager/QueryEditors/index.js
  frontend/src/GlobalDatasources/GlobalDataSourcesPage/index.jsx
  frontend/src/MarketplacePage/InstalledPlugins.jsx
  frontend/src/MarketplacePage/MarketplaceCard.jsx
  frontend/src/MarketplacePage/MarketplacePlugins.jsx
  frontend/src/MarketplacePage/utils.js
  frontend/src/TooljetDatabase/Filter/index.jsx
  frontend/src/TooljetDatabase/Filter/styles.scss
  frontend/src/TooljetDatabase/Forms/FilterForm.jsx
  frontend/src/TooljetDatabase/Forms/styles.scss
  frontend/src/TooljetDatabase/Table/Header.jsx
  frontend/src/_components/ApiEndpointInput.jsx
  frontend/src/_components/DynamicForm.jsx
  frontend/src/_helpers/utils.js
  frontend/src/_styles/global-datasources.scss
  frontend/src/_styles/queryManager.scss
  frontend/src/_styles/theme.scss
  frontend/src/_ui/AiBanner.jsx
  frontend/src/_ui/AppButton/AppButton.scss
  frontend/src/_ui/Card/Card.jsx
  frontend/src/_ui/Icon/solidIcons/AITag.jsx
  frontend/src/_ui/Icon/solidIcons/index.js
  frontend/src/_ui/Select/SelectComponent.jsx
  frontend/src/_ui/Select/styles.js
  marketplace/plugins/awsredshift/README.md
  plugins/packages/airtable/lib/index.ts
  plugins/packages/common/lib/index.ts
  plugins/packages/common/lib/oauth.ts
  plugins/packages/googlesheets/lib/index.ts
  plugins/packages/googlesheets/lib/operations.json
  plugins/packages/googlesheets/lib/operations.ts
  plugins/packages/googlesheets/lib/types.ts
  plugins/packages/mongodb/lib/index.ts
  plugins/packages/mongodb/lib/manifest.json
  plugins/packages/mongodb/lib/types.ts
  plugins/packages/mssql/lib/index.ts
  plugins/packages/mysql/lib/index.ts
  plugins/packages/postgresql/lib/index.ts
  plugins/packages/restapi/lib/index.ts
  plugins/packages/stripe/lib/operations.json
  server/.version
  server/src/assets/marketplace/plugins.json
  server/src/modules/casl/abilities/tooljet-db-ability.factory.ts
Labels: active-review-app

#11443 Fix local state being behind the zustand state in QueryManagerBody
  frontend/src/AppBuilder/QueryManager/Components/QueryManagerBody.jsx
  frontend/src/AppBuilder/QueryManager/Components/QueryManagerHeader.jsx
  frontend/src/AppBuilder/QueryManager/QueryManager.jsx
Labels: tested, active-review-app

#11390 Fix if typed anything other than supported language mode in codeeditor widget, the component crashes
  frontend/src/Editor/Components/CodeEditor.jsx
Labels: tested

#11464 Fix: page visibility on switch page
  frontend/src/AppBuilder/_hooks/useAppData.js
  frontend/src/AppBuilder/_stores/slices/componentsSlice.js
Labels: tested
