Repository ToolJet/ToolJet, pull requests merged in 2024-08, with the labels that each got.

#10524 fix : Box shadow slider value not getting updated when switching between components
  frontend/src/Editor/CodeBuilder/Elements/BoxShadow.jsx
Labels: tested

#10552 fix: stringify icon name before render
  frontend/src/Editor/CodeBuilder/Elements/Icon.jsx
  frontend/src/_helpers/appUtils.js
Labels: tested

#10548 Fix: scrolling issue when color picker is opened
  frontend/src/Editor/Components/ColorPicker.jsx
Labels: tested

#10554 Fix/seteditor ready post page switch
  frontend/src/Editor/CodeEditor/utils.js
  frontend/src/Editor/Components/MultiselectV2/MultiselectV2.jsx
  frontend/src/Editor/ControlledComponentToRender.jsx
  frontend/src/Editor/Editor.jsx
  frontend/src/Editor/Header/GlobalSettings.jsx
  frontend/src/_helpers/appUtils.js
Labels: tested

#10559 [docs]: Add new LTS tags
  docs/docs/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.15.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.16.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.17.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.18.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.19.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.22.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.23.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.24.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.25.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.27.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.29.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.30.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.33.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.34.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.35.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.36.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.39.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.43.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.50.0-LTS/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.61.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.62.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.65.0/setup/choose-your-tooljet.md
Labels: active-review-docs-app

#10560 [docs]: Fix Sign-in redirect URL
  docs/docs/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.0.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.1.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.10.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.11.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.12.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.13.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.14.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.15.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.16.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.17.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.18.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.19.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.2.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.22.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.23.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.24.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.25.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.27.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.29.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.3.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.30.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.33.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.34.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.35.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.36.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.39.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.4.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.43.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.5.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.50.0-LTS/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.6.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.61.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.62.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.65.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.7.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.8.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.9.0/user-authentication/sso/openid/okta.md
  docs/versioned_docs/version-2.9.4/user-authentication/sso/openid/okta.md
Labels: active-review-docs-app

#10562 Fix P0 hotfixes
  .version
  frontend/.version
  frontend/src/Editor/CodeEditor/utils.js
  frontend/src/Editor/Components/Datepicker.jsx
  frontend/src/Editor/Components/Form/Form.jsx
  frontend/src/Editor/Components/Modal.jsx
  frontend/src/Editor/Components/Table/GenerateEachCellValue.jsx
  frontend/src/Editor/Components/Table/NullRenderer/NullRenderer.jsx
  frontend/src/Editor/Components/Table/NullRenderer/nullRenderer.scss
  frontend/src/Editor/Components/Table/String.jsx
  frontend/src/Editor/Components/Table/Text.jsx
  server/.version
Labels: tested

#10563 Fix p0 hotfixes
  .version
  frontend/.version
  frontend/src/Editor/CodeEditor/utils.js
  frontend/src/Editor/Components/Datepicker.jsx
  frontend/src/Editor/Components/Form/Form.jsx
  frontend/src/Editor/Components/Modal.jsx
  frontend/src/Editor/Components/Table/GenerateEachCellValue.jsx
  frontend/src/Editor/Components/Table/NullRenderer/NullRenderer.jsx
  frontend/src/Editor/Components/Table/NullRenderer/nullRenderer.scss
  server/.version
Labels: tested

#10571 [docs]: Add 2.50.9.25 LTS tag
  docs/docs/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.15.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.16.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.17.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.18.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.19.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.22.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.23.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.24.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.25.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.27.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.29.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.30.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.33.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.34.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.35.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.36.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.39.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.43.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.50.0-LTS/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.61.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.62.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.65.0/setup/choose-your-tooljet.md
Labels: active-review-docs-app

#10590 [docs]: add SMTP UI configuration
  docs/docs/org-management/smtp-configuration.md
  docs/docs/setup/env-vars.md
  docs/sidebars.js
  docs/static/img/enterprise/smtp/configuration.png
  docs/versioned_docs/version-2.62.0/org-management/smtp-configuration.md
  docs/versioned_docs/version-2.62.0/setup/env-vars.md
  docs/versioned_docs/version-2.65.0/org-management/smtp-configuration.md
  docs/versioned_docs/version-2.65.0/setup/env-vars.md
  docs/versioned_sidebars/version-2.62.0-sidebars.json
  docs/versioned_sidebars/version-2.65.0-sidebars.json
Labels: active-review-docs-app

#10618 Search bar loading bug
  frontend/src/HomePage/HomePage.jsx
Labels: tested

#10538 New add plugins UI
  frontend/src/GlobalDatasources/GlobalDataSourcesPage/index.jsx
  frontend/src/_styles/global-datasources.scss
Labels: suspend-review-app

#10432 Feature/autofill workspaceslug using workspace name
  frontend/src/_components/OrganizationManager/CreateOrganization.jsx
Labels: suspend-review-app, needs review

#10607 Fix: TJDB list query with conditionals
  server/src/services/tooljet_db_operations.service.ts
Labels: tested, suspend-review-app

#10587 Hotfix: Fix PostgREST user in proxy request
  server/src/services/postgrest_proxy.service.ts
Labels: tested, suspend-review-app

#10630 docs: add new LTS patch
  docs/docs/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.15.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.16.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.17.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.18.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.19.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.22.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.23.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.24.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.25.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.27.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.29.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.30.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.33.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.34.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.35.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.36.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.39.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.43.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.50.0-LTS/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.61.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.62.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.65.0/setup/choose-your-tooljet.md
  docs/versions.json
Labels: active-review-docs-app

#10599 [Hotfix] - Add TLS settings for redis plugin
  plugins/package-lock.json
  plugins/packages/redis/lib/index.ts
  plugins/packages/redis/lib/manifest.json
  plugins/packages/redis/lib/types.ts
  plugins/packages/redis/package.json
Labels: needs testing, suspend-review-app

#10483 enabled app sharing before release of app
  frontend/src/Editor/Header/RightTopHeaderButtons/ManageAppUsers.jsx
  frontend/src/_helpers/constants.js
  frontend/src/_ui/HttpHeaders/sourceEditorStyles.scss
Labels: suspend-review-app, needs review

#10636 [docs]: add section for direct url access behaviour
  docs/docs/user-authentication/workspace-settings.md
  docs/versioned_docs/version-2.50.0-LTS/user-authentication/workspace-settings.md
  docs/versioned_docs/version-2.61.0/user-authentication/workspace-settings.md
  docs/versioned_docs/version-2.62.0/user-authentication/workspace-settings.md
  docs/versioned_docs/version-2.65.0/user-authentication/workspace-settings.md
Labels: active-review-docs-app

#10627 Hotfix: old component mapping to new component mapping on version promotion
  frontend/src/Editor/Editor.jsx
  frontend/src/_stores/appDataStore.js
  server/src/services/apps.service.ts
Labels: tested

#10637 [docs]: PrestoDB plugin
  docs/docs/marketplace/marketplace_overview.md
  docs/docs/marketplace/plugins/prestodb.md
  docs/sidebars.js
  docs/static/img/marketplace/plugins/prestodb/connect.png
  docs/static/img/marketplace/plugins/prestodb/query.png
  docs/versioned_docs/version-2.50.0-LTS/marketplace/marketplace_overview.md
  docs/versioned_docs/version-2.50.0-LTS/marketplace/plugins/prestodb.md
  docs/versioned_sidebars/version-2.50.0-LTS-sidebars.json
Labels: active-review-docs-app

#10640 [docs]: Update Redis Connection
  docs/docs/data-sources/redis.md
  docs/static/img/datasource-reference/redis/connect-v2.png
  docs/static/img/datasource-reference/redis/decode-v2.png
  docs/static/img/datasource-reference/redis/encode-v2.png
  docs/versioned_docs/version-2.50.0-LTS/data-sources/redis.md
Labels: active-review-docs-app

#10663 [docs]: add new LTS tag
  docs/docs/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.15.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.16.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.17.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.18.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.19.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.22.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.23.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.24.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.25.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.27.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.29.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.30.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.33.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.34.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.35.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.36.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.39.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.43.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.50.0-LTS/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.61.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.62.0/setup/choose-your-tooljet.md
  docs/versioned_docs/version-2.65.0/setup/choose-your-tooljet.md
Labels: suspend-review-docs-app

#10163 fix: Marketplace - display scrollbar only if the items exceed on the page
  frontend/src/MarketplacePage/InstalledPlugins.jsx
  frontend/src/MarketplacePage/MarketplacePlugins.jsx
  frontend/src/MarketplacePage/index.jsx
Labels: suspend-review-app

#10635 fix: Improve Text and Background Color Contrast in Dark Mode for Smaller Devices
  docs/package-lock.json
  docs/src/css/custom.css
Labels: active-review-docs-app

#10681 [docs:] Remove older versions
  docs/docusaurus.config.js
  docs/static/robots.txt
  docs/versions.json
Labels: suspend-review-docs-app

#10675 [docs]: Guide on how to use query params in custom components
  docs/docs/how-to/pass-query-params-in-custom-components.md
  docs/sidebars.js
  docs/static/img/how-to/use-query-params-in-custom-components/todo-custom-component-with-data.png
  docs/static/img/how-to/use-query-params-in-custom-components/todo-custom-component.png
  docs/static/img/how-to/use-query-params-in-custom-components/todo-query.png
  docs/versioned_docs/version-2.50.0-LTS/how-to/pass-query-params-in-custom-components.md
  docs/versioned_docs/version-2.65.0/how-to/pass-query-params-in-custom-components.md
  docs/versioned_sidebars/version-2.50.0-LTS-sidebars.json
  docs/versioned_sidebars/version-2.65.0-sidebars.json
Labels: suspend-review-docs-app

#10694 [docs]: Change dropdown type
  docs/docusaurus.config.js
  docs/versions.json
Labels: active-review-docs-app

#10223 Jira plugin
  docs/docs/data-sources/jira.md
  frontend/package-lock.json
  plugins/package-lock.json
  plugins/package.json
  plugins/packages/jira/.gitignore
  plugins/packages/jira/README.md
  plugins/packages/jira/__tests__/index.js
  plugins/packages/jira/lib/icon.svg
  plugins/packages/jira/lib/index.ts
  plugins/packages/jira/lib/manifest.json
  plugins/packages/jira/lib/operations.json
  plugins/packages/jira/lib/operations.ts
  plugins/packages/jira/lib/types.ts
  plugins/packages/jira/package-lock.json
  plugins/packages/jira/package.json
  plugins/packages/jira/tsconfig.json
  server/package-lock.json
Labels: suspend-review-app, deploy-marketplace-plugin
