Repository ToolJet/ToolJet, pull requests merged in 2024-03, with the labels that each got.

#8965 Change existing categories to new ones
  frontend/src/HomePage/TemplateLibraryModal/Categories.jsx
  server/templates/applicant-tracking-system/manifest.json
  server/templates/aws-s3-file-explorer/manifest.json
  server/templates/bug-tracker/manifest.json
  server/templates/customer-support-admin/manifest.json
  server/templates/customer-ticketing-form/manifest.json
  server/templates/employee-directory/manifest.json
  server/templates/expense-tracker-admin/manifest.json
  server/templates/expense-tracker-portal/manifest.json
  server/templates/google-cloud-storage-explorer/manifest.json
  server/templates/inventory-management-postgresql/manifest.json
  server/templates/inventory-management-tooljet-db/manifest.json
  server/templates/job-application-tracker/manifest.json
  server/templates/kpi-management-dashboard-airtable/manifest.json
  server/templates/kpi-management-dashboard-tooljet-db/manifest.json
  server/templates/lead-management-system/manifest.json
  server/templates/mortgage-calculator/manifest.json
  server/templates/promo-code-management/manifest.json
  server/templates/release-notes/manifest.json
  server/templates/saas-license-management/manifest.json
  server/templates/sales-analytics-dashboard-snowflake/manifest.json
  server/templates/sales-analytics-dashboard-tooljet-db/manifest.json
  server/templates/supply-chain-management/manifest.json
Labels: active-review-app

#8958 fixes: validate instance version and update the component label property
  .version
  frontend/.version
  server/.version
  server/src/services/app_import_export.service.ts
Labels: tested, hotfix

#8971 [fixes | improvement] Performance fixes
  frontend/src/Editor/CodeEditor/MultiLineCodeEditor.jsx
  frontend/src/Editor/CodeEditor/SingleLineCodeEditor.jsx
  frontend/src/Editor/Editor.jsx
  frontend/src/Editor/Header/GlobalSettings.jsx
  frontend/src/Editor/Inspector/Components/Chart.jsx
  frontend/src/Editor/Inspector/Components/Table/Table.jsx
  frontend/src/Editor/QueryManager/Components/ParameterForm.jsx
  frontend/src/Editor/QueryManager/Components/SuccessNotificationInputs.jsx
  frontend/src/Editor/QueryManager/QueryEditors/Runjs/Runjs.jsx
  frontend/src/_stores/currentStateStore.js
  frontend/src/_stores/handleReferenceTransactions.js
  frontend/src/_stores/resolverStore.js
  frontend/src/_stores/utils.js
Labels: enhancement

#8866 fix: The scrolling speed of the viewport is faster than that of the cell navigation
  frontend/src/TooljetDatabase/Table/index.jsx
  frontend/src/_styles/theme.scss
Labels: tested, suspend-review-app, database

#8910 fix: serial data type column has had its width reduced.
  frontend/src/TooljetDatabase/Table/index.jsx
Labels: tested, database

#8964 Bugfix: ToolJet database page unresponsive on-loading large data
  frontend/src/TooljetDatabase/Drawers/CreateColumnDrawer/index.jsx
  frontend/src/TooljetDatabase/Table/Header.jsx
  frontend/src/TooljetDatabase/TableListItem/index.jsx
Labels: tested, active-review-app, database

#8878 fix: cell edit modal closes when "enter" key is pressed for number fields
  frontend/src/TooljetDatabase/Forms/EditColumnForm.jsx
  frontend/src/TooljetDatabase/Menu/CellEditMenu/index.jsx
  frontend/src/_styles/theme.scss
Labels: tested, active-review-app, database

#8839 AWS Redshift plugin
  marketplace/package-lock.json
  marketplace/plugins/aws-lambda/lib/index.ts
  marketplace/plugins/awsredshift/.gitignore
  marketplace/plugins/awsredshift/README.md
  marketplace/plugins/awsredshift/__tests__/index.js
  marketplace/plugins/awsredshift/lib/icon.svg
  marketplace/plugins/awsredshift/lib/index.ts
  marketplace/plugins/awsredshift/lib/manifest.json
  marketplace/plugins/awsredshift/lib/operations.json
  marketplace/plugins/awsredshift/lib/types.ts
  marketplace/plugins/awsredshift/package.json
  marketplace/plugins/awsredshift/tsconfig.json
  server/src/assets/marketplace/plugins.json
Labels: needs testing, suspend-review-app, documented

#9014 Added data-cy attribute for sso components
  frontend/src/_components/OrganizationLogin/GithubSsoModal.jsx
  frontend/src/_components/OrganizationLogin/GoogleSsoModal.jsx
  frontend/src/_components/OrganizationLogin/SsoConfiguration.jsx
  frontend/src/_components/OrganizationLogin/WorkspaceSSOEnableModal.jsx
Labels: data-cy, cypress

#9019 Chore: ToolJet database on the horizontal scrolling left end has extra space
  frontend/src/TooljetDatabase/Table/index.jsx
Labels: suspend-review-app, database

#8994 Change of serial datatype icon in ToolJet database
  frontend/src/TooljetDatabase/Forms/ColumnsForm.jsx
  frontend/src/TooljetDatabase/Forms/EditRowForm.jsx
  frontend/src/TooljetDatabase/Forms/RowForm.jsx
  frontend/src/TooljetDatabase/Icons/Serial.svg
  frontend/src/TooljetDatabase/Table/index.jsx
  frontend/src/TooljetDatabase/constants.js
Labels: enhancement, tested, active-review-app, database

#8883 fix : Active tab issue for default value in ToolJet database when editing a row
  frontend/src/TooljetDatabase/Forms/EditRowForm.jsx
Labels: tested, active-review-app, database

#8823 ToolJet database empty and loading state design
  frontend/src/TooljetDatabase/Filter/index.jsx
  frontend/src/TooljetDatabase/Icons/warning.svg
  frontend/src/TooljetDatabase/Table/Header.jsx
  frontend/src/TooljetDatabase/Table/index.jsx
  frontend/src/TooljetDatabase/Table/styles.scss
  frontend/src/TooljetDatabase/TableList/index.jsx
  frontend/src/TooljetDatabase/TooljetDatabasePage/index.jsx
  frontend/src/TooljetDatabase/index.jsx
  frontend/src/TooljetDatabase/usePostgrestQueryBuilder.jsx
Labels: tested, suspend-review-app, database

#9005 Fix : remove default value when not null constraint is added and table is empty in ToolJet database
  frontend/src/TooljetDatabase/Drawers/CreateColumnDrawer/index.jsx
  frontend/src/TooljetDatabase/Forms/ColumnForm.jsx
  frontend/src/TooljetDatabase/Forms/EditColumnForm.jsx
  frontend/src/TooljetDatabase/Forms/styles.scss
  frontend/src/TooljetDatabase/Table/Header.jsx
  frontend/src/TooljetDatabase/Table/index.jsx
  frontend/src/TooljetDatabase/TableListItem/index.jsx
Labels: tested, active-review-app, database

#9029 hotfix: Make component hidden only when visibility is set to false
  .version
  frontend/.version
  frontend/src/Editor/Box.jsx
  server/.version
Labels: tested, hotfix

#8998 fix: ToolJet database column now allows special characters in the default value.
  frontend/src/TooljetDatabase/Forms/EditColumnForm.jsx
  server/src/dto/tooljet-db.dto.ts
  server/src/services/tooljet_db.service.ts
Labels: active-review-app, database

#9059 Modified platform cypress test cases for grid revamp
  cypress-tests/cypress/e2e/happypath/platform/commonTestcases/authentication/forgotPassword.cy.js
  cypress-tests/cypress/e2e/happypath/platform/commonTestcases/workspace/manageUsers.cy.js
Labels: cypress

#8986 Fix : bulk upload progress bar and upload button fix in ToolJet databse
  frontend/src/TooljetDatabase/Drawers/BulkUploadDrawer/FileDropzone.jsx
  frontend/src/TooljetDatabase/Drawers/BulkUploadDrawer/index.jsx
  frontend/src/TooljetDatabase/Drawers/BulkUploadDrawer/styles.scss
  frontend/src/TooljetDatabase/Table/ActionsPopover/AddNewDataPopOver.jsx
Labels: bug, tested, suspend-review-app, database

#8764 Feat : Cell density enhancement
  frontend/src/Editor/Components/Table/CustomDropdown.jsx
  frontend/src/Editor/Components/Table/Radio.jsx
  frontend/src/Editor/Components/Table/Table.jsx
  frontend/src/Editor/Components/Table/Tags.jsx
  frontend/src/Editor/Components/Table/columns/index.jsx
  frontend/src/Editor/Components/Table/load-properties-and-styles.js
  frontend/src/Editor/Inspector/Components/Table/ColumnManager/StylesTabElements.jsx
  frontend/src/Editor/Inspector/Inspector.jsx
  frontend/src/Editor/WidgetManager/widgetConfig.js
  frontend/src/_styles/table-component.scss
Labels: run-ci, Table component

#8995 Updated app view redirection flow to workspace login page in case authentication fails or no session is active.
  frontend/src/_helpers/handle-response.js
  frontend/src/_services/authentication.service.js
  server/src/modules/auth/app-auth.guard.ts
Labels: tested, suspend-review-app, run-cypress

#9069 Fix user group permission
  cypress-tests/cypress-app-builder.config.js
  cypress-tests/cypress-marketplace.config.js
  cypress-tests/cypress-workspace.config.js
  frontend/src/_services/groupPermission.service.js
  server/src/controllers/group_permissions.controller.ts
  server/src/services/group_permissions.service.ts
Labels: tested

#9047 hotfix : Transformation getting applied correctly for nested column
  frontend/src/Editor/Components/Table/Table.jsx
Labels: run-ci, tested, hotfix, Table component

#9071 fix: import pdf component conditionally in supported browsers
  .version
  frontend/.version
  frontend/src/Editor/Box.jsx
  frontend/src/Editor/Container.jsx
  frontend/src/Editor/SubContainer.jsx
  frontend/src/_stores/utils.js
  server/.version
Labels: tested, hotfix, appbuilder

#9070 Release platform v14.1
  .version
  cypress-tests/cypress-app-builder.config.js
  cypress-tests/cypress-marketplace.config.js
  cypress-tests/cypress-workspace.config.js
  cypress-tests/cypress/constants/selectors/common.js
  cypress-tests/cypress/constants/selectors/manageSSO.js
  cypress-tests/cypress/constants/texts/manageSSO.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/authentication/forgotPassword.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/manageSSO.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/manageUsers.cy.js
  cypress-tests/cypress/support/utils/common.js
  cypress-tests/cypress/support/utils/manageSSO.js
  frontend/.version
  frontend/src/_components/OrganizationLogin/DisablePasswordLoginModal.jsx
  frontend/src/_components/OrganizationLogin/GithubSsoModal.jsx
  frontend/src/_components/OrganizationLogin/GoogleSsoModal.jsx
  frontend/src/_components/OrganizationLogin/SsoConfiguration.jsx
  frontend/src/_helpers/handle-response.js
  frontend/src/_services/authentication.service.js
  frontend/src/_services/groupPermission.service.js
  server/.version
  server/src/controllers/group_permissions.controller.ts
  server/src/modules/auth/app-auth.guard.ts
  server/src/services/group_permissions.service.ts
Labels: run-ci, run-cypress-workspace

#9084 Modified marketplace cypress config
  cypress-tests/cypress-marketplace.config.js
  cypress-tests/cypress/e2e/happyPath/marketplace/commonTestcases/data-source/mysqlHappyPath.cy.js
Labels: run-cypress-marketplace

#9101 Fix : alignment of cell edit popover in ToolJet database
  frontend/src/TooljetDatabase/Menu/CellEditMenu/styles.scss
Labels: tested, active-review-app, database

#9100 Fix : null value cell selection is not working in ToolJet database
  frontend/src/TooljetDatabase/Table/index.jsx
Labels: tested, active-review-app, database

#9105 Hotfix: TJDB UX fixes
  .version
  frontend/.version
  frontend/src/TooljetDatabase/Forms/EditRowForm.jsx
  frontend/src/TooljetDatabase/Menu/CellEditMenu/styles.scss
  frontend/src/TooljetDatabase/Table/index.jsx
  server/.version
Labels: run-ci, suspend-review-app, run-cypress

#9031 [docs] SSO revamp
  docs/docs/Enterprise/superadmin.md
  docs/docs/Enterprise/white-label.md
  docs/docs/user-authentication/workspace-settings.md
  docs/sidebars.js
  docs/static/img/enterprise/superadmin/instancelogin.png
  docs/static/img/enterprise/superadmin/workspaceswitcher.png
  docs/static/img/enterprise/white-label/cloud1.png
  docs/static/img/enterprise/white-label/settings.png
  docs/static/img/enterprise/white-label/title-and-favicon.png
  docs/static/img/enterprise/white-label/whitelabeln1.png
  docs/static/img/sso/workspace-settings/enabled.png
  docs/static/img/sso/workspace-settings/gear.png
  docs/static/img/sso/workspace-settings/inherited.png
  docs/static/img/sso/workspace-settings/workspacelogin.png
  docs/versioned_docs/version-2.30.0/Enterprise/white-label.md
  docs/versioned_docs/version-2.33.0/Enterprise/superadmin.md
  docs/versioned_docs/version-2.33.0/Enterprise/white-label.md
  docs/versioned_docs/version-2.33.0/user-authentication/workspace-settings.md
  docs/versioned_sidebars/version-2.33.0-sidebars.json
Labels: documentation, active-review-docs-app

#9048 test: Fixed automation failures on grid revamp
  cypress-tests/cypress/commands/commands.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/components/buttonHappyPath.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/components/componentDuplicationHappypath.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/components/componentsBasicHappypath.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/components/csa.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/components/datePickerHappyPath.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/components/listViewHappyPath.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/components/modalHappyPath.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/components/multiselectHappyPath.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/components/numberInputHappyPath.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/components/passwordInputHappyPath.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/components/tableRegression.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/components/textInputHappyPath.cy.js
  cypress-tests/cypress/support/utils/basicComponents.js
  cypress-tests/cypress/support/utils/commonWidget.js
  cypress-tests/cypress/support/utils/datePickerWidget.js
  cypress-tests/cypress/support/utils/listviewWidget.js
  cypress-tests/cypress/support/utils/table.js
Labels: cypress, run-cypress-app-builder

#9132 Fix : while table creation datatype dropdown is overlapping
  frontend/src/TooljetDatabase/Forms/styles.scss
Labels: database

#9128 [fix] Multiple `ws` binding issues & release button disabled if the proxy don't support `ws` connections
  frontend/src/Editor/Editor.jsx
  frontend/src/Editor/Header/index.js
  frontend/src/_helpers/websocketConnection.js
Labels: tested, active-review-app

#8912 feat: Extended chart support on chart component
  .version
  frontend/.version
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Editor/Components/Chart.jsx
  server/.version
Labels: tested, suspend-review-app, appbuilder

#9075 Copywrite update: Deprecating workspace variables
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/userPermissions.cy.js
  frontend/src/ManageOrgVars/ManageOrgVars.jsx
Labels: tested

#9143 Fix: drag and drop on bulk upload
  frontend/src/ManageOrgUsers/FileDropzone.jsx
Labels: tested, active-review-app

#9151 Enter to save is not working for create organization
  frontend/src/_components/OrganizationManager/CreateOrganization.jsx
Labels: tested

#9148 Release platformv14.2
  .version
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/userPermissions.cy.js
  frontend/.version
  frontend/src/HomePage/HomePage.jsx
  frontend/src/ManageOrgUsers/FileDropzone.jsx
  frontend/src/ManageOrgVars/ManageOrgVars.jsx
  frontend/src/_components/OrganizationLogin/GithubSsoModal.jsx
  frontend/src/_components/OrganizationLogin/GoogleSsoModal.jsx
  frontend/src/_components/OrganizationLogin/SsoConfiguration.jsx
  frontend/src/_components/OrganizationManager/CreateOrganization.jsx
  frontend/src/_helpers/error_constants.js
  server/.version
  server/src/controllers/import_export_resources.controller.ts
  server/src/helpers/error_type.constant.ts
  server/src/helpers/utils.helper.ts
Labels: run-ci, run-cypress

#9154 hotfix: On cloning apps should not transform the data or do backward compatibility as cloning is only possible from the same tj version
  .version
  frontend/.version
  server/.version
  server/src/services/app_import_export.service.ts
Labels: tested, hotfix, run-cypress

#9170 Fix read documentation button for marketplace plugins
  docs/sidebars.js
  docs/versioned_sidebars/version-2.33.0-sidebars.json
  frontend/src/Editor/DataSourceManager/DataSourceManager.jsx
Labels: suspend-review-app

#8999 Hotfix: Unify runpy execution for query and transformations
  .version
  frontend/.version
  frontend/src/Editor/QueryManager/Components/Transformation.jsx
  frontend/src/_helpers/appUtils.js
  server/.version
Labels: tested, suspend-review-app

#9195 [docs]: Fix sidebar link for aws lambda
  docs/docs/marketplace/marketplace_overview.md
  docs/docs/marketplace/plugins/lambda.md
  docs/versioned_docs/version-2.33.0/marketplace/marketplace_overview.md
  docs/versioned_docs/version-2.33.0/marketplace/plugins/lambda.md
Labels: active-review-docs-app

#9208 Modified platfrom cypress test cases
  cypress-tests/cypress-workspace.config.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/editor/appSlug.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/editor/privateAndPublicApp.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/workspace/groupDuplication.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/workspace/manageSSO.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/workspace/workspaceConstants.cy.js
  cypress-tests/cypress/support/utils/manageSSO.js
  cypress-tests/cypress/support/utils/manageUsers.js
Labels: cypress, run-cypress-workspace

#9198 hottfix: Fix infinite render in dropdown when value changed to array
  .version
  cypress-tests/cypress-workspace.config.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/editor/appSlug.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/editor/privateAndPublicApp.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/workspace/groupDuplication.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/workspace/manageSSO.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/workspace/workspaceConstants.cy.js
  cypress-tests/cypress/support/utils/manageSSO.js
  cypress-tests/cypress/support/utils/manageUsers.js
  frontend/.version
  frontend/src/Editor/Components/DropDown.jsx
  frontend/src/_stores/dataQueriesStore.js
  server/.version
Labels: tested, hotfix, run-cypress, appbuilder, run-cypress-workspace

#9012 Feat/engagespot plugin
  docs/docs/marketplace/plugins/engagespot.md
  docs/static/img/marketplace/plugins/engagespot/create_user.png
  docs/static/img/marketplace/plugins/engagespot/engagespot_install.png
  docs/static/img/marketplace/plugins/engagespot/engagespot_query.png
  docs/static/img/marketplace/plugins/engagespot/generate_token.png
  docs/static/img/marketplace/plugins/engagespot/send_notification.png
  marketplace/plugins/engagespot/.gitignore
  marketplace/plugins/engagespot/README.md
  marketplace/plugins/engagespot/__tests__/index.js
  marketplace/plugins/engagespot/lib/icon.svg
  marketplace/plugins/engagespot/lib/index.ts
  marketplace/plugins/engagespot/lib/manifest.json
  marketplace/plugins/engagespot/lib/operations.json
  marketplace/plugins/engagespot/lib/types.ts
  marketplace/plugins/engagespot/package.json
  marketplace/plugins/engagespot/tsconfig.json
  server/src/assets/marketplace/plugins.json
Labels: plugins, suspend-review-app

#9210 [fixes] handles references mapping with new associations
  frontend/src/Editor/Editor.jsx
  frontend/src/Editor/Viewer.jsx
  frontend/src/_stores/appDataStore.js
  server/src/helpers/import_export.helpers.ts
  server/src/services/app_import_export.service.ts
Labels: tested

#9206 [bugfix ]fixes: entity ids needs to map correctly with entity name in viewer
  frontend/src/Editor/Editor.jsx
  frontend/src/Editor/Viewer.jsx
  frontend/src/_helpers/appUtils.js
  frontend/src/_stores/appDataStore.js
  server/src/helpers/import_export.helpers.ts
  server/src/services/app_import_export.service.ts
Labels: tested

#9201 [bugfix]fixes: on component delete, ref should not connect to the new component dropped with same name
  frontend/src/Editor/Editor.jsx
  frontend/src/Editor/Viewer.jsx
  frontend/src/_helpers/appUtils.js
  frontend/src/_stores/appDataStore.js
  frontend/src/_stores/dataQueriesStore.js
  frontend/src/_stores/resolverStore.js
  server/src/helpers/import_export.helpers.ts
  server/src/services/app_import_export.service.ts
Labels: tested

#9174 9167 databricks integration
  frontend/package-lock.json
  marketplace/package-lock.json
  plugins/package-lock.json
  plugins/package.json
  plugins/packages/databricks/.gitignore
  plugins/packages/databricks/README.md
  plugins/packages/databricks/__tests__/index.js
  plugins/packages/databricks/lib/icon.svg
  plugins/packages/databricks/lib/index.ts
  plugins/packages/databricks/lib/manifest.json
  plugins/packages/databricks/lib/operations.json
  plugins/packages/databricks/lib/types.ts
  plugins/packages/databricks/package.json
  plugins/packages/databricks/tsconfig.json
  server/package-lock.json
  server/src/assets/marketplace/plugins.json
Labels: active-review-app

#9224 [:docs] Add documentation for Databricks plugin
  docs/docs/data-sources/databricks.md
  docs/docusaurus.config.js
  docs/sidebars.js
  docs/static/img/datasource-reference/databricks/add-query.gif
  docs/static/img/datasource-reference/databricks/connection-details.png
  docs/static/img/datasource-reference/databricks/generate-token.png
  docs/static/img/datasource-reference/databricks/install.gif
  docs/static/img/datasource-reference/databricks/setup-parameters.png
Labels: active-review-docs-app

#9227 Fixed data source cypress failure
  cypress-tests/cypress/constants/texts/dataSource.js
  cypress-tests/cypress/constants/texts/elasticsearch.js
  cypress-tests/cypress/constants/texts/postgreSql.js
  cypress-tests/cypress/e2e/happyPath/marketplace/commonTestcases/data-source/mongoDbHappyPath.cy.js
  cypress-tests/cypress/e2e/happyPath/marketplace/commonTestcases/data-source/sqlServerHappyPath.cy.js
Labels: run-cypress-marketplace

#9225 [:docs] Update documentation for Engagespot
  docs/docs/marketplace/marketplace_overview.md
  docs/docs/marketplace/plugins/engagespot.md
  docs/sidebars.js
  docs/static/img/marketplace/plugins/engagespot/engagespot_install.png
Labels: active-review-docs-app
