Repository ToolJet/ToolJet, pull requests merged in 2024-10, with the labels that each got.

#10770 [docs]: Update data-sources guides - BigQuery, Firestore
  docs/docs/data-sources/bigquery.md
  docs/docs/data-sources/firestore.md
  docs/static/img/datasource-reference/bigquery/bq-create-v2.png
  docs/versioned_docs/version-2.50.0-LTS/data-sources/bigquery.md
  docs/versioned_docs/version-2.50.0-LTS/data-sources/firestore.md
  docs/versioned_docs/version-2.68.0/data-sources/bigquery.md
  docs/versioned_docs/version-2.68.0/data-sources/firestore.md
Labels: active-review-docs-app

#10768 [docs]: Update data-sources guides - amazonses, baserow
  docs/docs/data-sources/amazonses.md
  docs/docs/data-sources/baserow.md
  docs/static/img/datasource-reference/amazonses/connection-v2.png
  docs/static/img/datasource-reference/amazonses/email-service.png
  docs/static/img/datasource-reference/amazonses/operations.png
  docs/static/img/datasource-reference/baserow/baserow-create-row-v2.png
  docs/static/img/datasource-reference/baserow/baserow-get-row-v2.png
  docs/static/img/datasource-reference/baserow/baserow-list-fields-v2.png
  docs/static/img/datasource-reference/baserow/baserow-list-rows-v2.png
  docs/static/img/datasource-reference/baserow/baserow-move-row-v2.png
  docs/static/img/datasource-reference/baserow/baserow-update-row-v2.png
  docs/static/img/datasource-reference/baserow/operations.png
  docs/versioned_docs/version-2.50.0-LTS/data-sources/amazonses.md
  docs/versioned_docs/version-2.50.0-LTS/data-sources/baserow.md
  docs/versioned_docs/version-2.68.0/data-sources/amazonses.md
  docs/versioned_docs/version-2.68.0/data-sources/baserow.md
Labels: active-review-docs-app

#10805 [docs]: Update data-sources guides - SMTP, Snowflake, Stripe
  docs/docs/data-sources/smtp.md
  docs/docs/data-sources/snowflake.md
  docs/docs/data-sources/stripe.md
  docs/static/img/datasource-reference/smtp/connect-v2.png
  docs/static/img/datasource-reference/smtp/querysmtp-v2.png
  docs/static/img/datasource-reference/snowflake/snowflake-connect-v2.png
  docs/static/img/datasource-reference/snowflake/snowflake-query-v2.png
  docs/static/img/datasource-reference/stripe/connect-v2.png
  docs/versioned_docs/version-2.50.0-LTS/data-sources/smtp.md
  docs/versioned_docs/version-2.50.0-LTS/data-sources/snowflake.md
  docs/versioned_docs/version-2.50.0-LTS/data-sources/stripe.md
  docs/versioned_docs/version-2.68.0/data-sources/smtp.md
  docs/versioned_docs/version-2.68.0/data-sources/snowflake.md
  docs/versioned_docs/version-2.68.0/data-sources/stripe.md
Labels: suspend-review-docs-app

#10356 Update Tabs.jsx to Fix setTab bug
  frontend/src/Editor/Components/Tabs.jsx
Labels: suspend-review-app

#10716 fix password validation message hiding under box shadow
  frontend/src/Editor/Components/PasswordInput.jsx
Labels: tested

#10860 Updated the documentation for the Timeline Component
  docs/docs/widgets/timeline.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/timeline.md
Labels: active-review-docs-app

#10721 [docs]: platform v3
  docs/docs/how-to/access-users-groups.md
  docs/docs/org-management/permissions.md
  docs/docs/org-management/workspaces/workspace_constants.md
  docs/docs/tooljet-concepts/workspace-constants.md
  docs/docs/tutorial/manage-users-groups.md
  docs/docs/tutorial/tooljet-api.md
  docs/docs/user-authentication/sso/auto-sso-login.md
  docs/docs/user-authentication/sso/oidc-group-sync.md
  docs/docusaurus.config.js
  docs/sidebars.js
  docs/static/img/sso/auto-sso-login.png
  docs/static/img/sso/group-sync-oidc.png
  docs/static/img/sso/oidc-config-group-sync.png
  docs/static/img/tutorial/manage-users-groups/app-level-permissions.png
  docs/static/img/tutorial/manage-users-groups/archiveuser-v3.png
  docs/static/img/tutorial/manage-users-groups/bulkinvite-v3.png
  docs/static/img/tutorial/manage-users-groups/create-custom-group.png
  docs/static/img/tutorial/manage-users-groups/data-source-permissions.png
  docs/static/img/tutorial/manage-users-groups/default-user-groups.png
  docs/static/img/tutorial/manage-users-groups/deleting-custom-group.png
  docs/static/img/tutorial/manage-users-groups/duplicate-group.png
  docs/static/img/tutorial/manage-users-groups/edituserdetails-v3.png
  docs/static/img/tutorial/manage-users-groups/granular-access.png
  docs/static/img/tutorial/manage-users-groups/invitemodal-v3.png
  docs/static/img/tutorial/manage-users-groups/manage-all-users.png
  docs/static/img/tutorial/manage-users-groups/modify-group-permissions.png
  docs/static/img/tutorial/manage-users-groups/users-v4.png
  docs/static/img/tutorial/manage-users-groups/workspace-level-permissions.png
  docs/static/img/workspace-const/create-new.png
  docs/static/img/workspace-const/env-specific-const.png
  docs/static/img/workspace-const/global-constants-app-builder.png
  docs/static/img/workspace-const/global-constants-queries.png
  docs/static/img/workspace-const/golbal-constants-data-source-connection.png
  docs/static/img/workspace-const/secrets-data-source-connection.png
  docs/static/img/workspace-const/secrets-queries.png
  docs/versioned_docs/version-2.50.0-LTS/setup/env-vars.md
  docs/versioned_docs/version-2.50.0-LTS/user-authentication/sso/auto-sso-login.md
  docs/versioned_sidebars/version-2.50.0-LTS-sidebars.json
  docs/versions.json
Labels: suspend-review-docs-app

#10669 Enhance OpenAI Datasource Schema with Image Generation and Model Selection Support
  marketplace/plugins/openai/lib/index.ts
  marketplace/plugins/openai/lib/operations.json
  marketplace/plugins/openai/lib/query_operations.ts
  marketplace/plugins/openai/lib/types.ts
  marketplace/plugins/openai/package.json
Labels: tested, active-review-app, marketplace-plugin-deployed

#10881 [docs]: Updated the documentation for the Timer Component #10846
  docs/docs/widgets/timer.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/timer.md
Labels: hacktoberfest, hacktoberfest-accepted, suspend-review-docs-app

#10886 Updated documentation for Toggle Switch Component
  docs/docs/widgets/toggle-switch-v2.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/toggle-switch-v2.md
Labels: hacktoberfest, hacktoberfest-accepted, suspend-review-docs-app

#10862 updated the documentation for the vertical divider component
  docs/docs/widgets/vertical-divider.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/vertical-divider.md
Labels: hacktoberfest, hacktoberfest-accepted, suspend-review-docs-app

#10782 [docs]: Update data-sources guides - RestAPI
  docs/docs/data-sources/restapi.md
  docs/static/img/datasource-reference/rest-api/oauth-v2.png
  docs/static/img/datasource-reference/rest-api/oauth.png
  docs/static/img/datasource-reference/rest-api/rest-api-data-source.png
  docs/static/img/datasource-reference/rest-api/restquery.png
  docs/static/img/how-to/oauth2-authorization/restapi-v2.png
  docs/static/img/how-to/oauth2-authorization/restapi.png
  docs/versioned_docs/version-2.50.0-LTS/data-sources/restapi.md
  docs/versioned_docs/version-2.68.0/data-sources/restapi.md
Labels: active-review-docs-app

#10924 [docs]: Marketplace - S5
  docs/docs/data-sources/airtable.md
  docs/docs/data-sources/restapi.md
  docs/docs/data-sources/restapi/authentication.md
  docs/docs/data-sources/restapi/configuration.md
  docs/docs/data-sources/restapi/metadata-and-cookies.md
  docs/docs/data-sources/restapi/querying-rest-api.md
  docs/docs/marketplace/plugins/openai.md
  docs/sidebars.js
  docs/static/img/datasource-reference/airtable/list-records-v3.png
  docs/static/img/datasource-reference/rest-api/authentication.png
  docs/static/img/datasource-reference/rest-api/basic.png
  docs/static/img/datasource-reference/rest-api/credentials.png
  docs/static/img/datasource-reference/rest-api/ssl.png
  docs/static/img/marketplace/plugins/openai/chat-v2.png
  docs/static/img/marketplace/plugins/openai/completions-v2.png
  docs/static/img/marketplace/plugins/openai/connection-v3.png
  docs/static/img/marketplace/plugins/openai/generate-ai-images.png
Labels: active-review-docs-app

#10779 [docs]: Update data-sources guides - PostgreSQL and Redis
  docs/docs/data-sources/postgresql.md
  docs/docs/data-sources/redis.md
  docs/static/img/datasource-reference/postgresql/gui-v2.png
  docs/static/img/datasource-reference/postgresql/pgconnection-v2.png
  docs/static/img/datasource-reference/postgresql/pgconnection.png
  docs/static/img/datasource-reference/postgresql/sql-v2.png
  docs/static/img/datasource-reference/redis/connect-v2.png
  docs/static/img/datasource-reference/redis/ping.png
  docs/versioned_docs/version-2.50.0-LTS/data-sources/postgresql.md
  docs/versioned_docs/version-2.50.0-LTS/data-sources/redis.md
  docs/versioned_docs/version-2.68.0/data-sources/postgresql.md
  docs/versioned_docs/version-2.68.0/data-sources/redis.md
Labels: active-review-docs-app

#10783 [docs]: Update data-sources guides - RethinkDB
  docs/docs/data-sources/rethinkdb.md
  docs/static/img/datasource-reference/rethink/connection.png
  docs/static/img/datasource-reference/rethink/create-db.png
  docs/static/img/datasource-reference/rethink/create-table.png
  docs/static/img/datasource-reference/rethink/delete-all-doc.png
  docs/static/img/datasource-reference/rethink/delete-db.png
  docs/static/img/datasource-reference/rethink/delete-doc.png
  docs/static/img/datasource-reference/rethink/delete-table.png
  docs/static/img/datasource-reference/rethink/insert-doc.png
  docs/static/img/datasource-reference/rethink/list-database.png
  docs/static/img/datasource-reference/rethink/list-docs.png
  docs/static/img/datasource-reference/rethink/list-table.png
  docs/static/img/datasource-reference/rethink/operations.png
  docs/static/img/datasource-reference/rethink/retrieve-doc.png
  docs/static/img/datasource-reference/rethink/update-all-doc.png
  docs/static/img/datasource-reference/rethink/update-doc.png
  docs/versioned_docs/version-2.50.0-LTS/data-sources/rethinkdb.md
  docs/versioned_docs/version-2.68.0/data-sources/rethinkdb.md
Labels: active-review-docs-app

#10905 [docs]: fix documentation for the Steps Component
  docs/docs/widgets/steps.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/steps.md
Labels: active-review-docs-app

#10910 [docs]: Fix documentation for the SVG Image Component
  docs/docs/widgets/svg-image.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/svg-image.md
Labels: suspend-review-docs-app

#10945 [docs]: Fix documentation for the QR Scanner Component
  docs/docs/widgets/qr-scanner.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/qr-scanner.md
Labels: suspend-review-docs-app

#10943 [docs]: Fix documentation for Star Rating component
  docs/docs/widgets/star-rating.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/star-rating.md
Labels: suspend-review-docs-app

#10771 [docs]: Update data-sources guides - OpenAPI and OracleDB
  docs/docs/data-sources/openapi.md
  docs/docs/data-sources/oracledb.md
  docs/static/img/datasource-reference/oracledb/gui.png
  docs/static/img/datasource-reference/oracledb/operations.png
  docs/static/img/datasource-reference/oracledb/oracleauth-v3.png
  docs/static/img/datasource-reference/oracledb/sql.png
  docs/versioned_docs/version-2.50.0-LTS/data-sources/openapi.md
  docs/versioned_docs/version-2.50.0-LTS/data-sources/oracledb.md
  docs/versioned_docs/version-2.68.0/data-sources/openapi.md
  docs/versioned_docs/version-2.68.0/data-sources/oracledb.md
Labels: suspend-review-docs-app

#10795 [docs]: Update data-sources guides - RunJS
  docs/docs/data-sources/custom-js.md
  docs/static/img/datasource-reference/custom-javascript/call-multiply-v2.png
  docs/static/img/datasource-reference/custom-javascript/create-query.png
  docs/static/img/datasource-reference/custom-javascript/js-param.png
  docs/static/img/datasource-reference/custom-javascript/multiply-v2.png
  docs/static/img/datasource-reference/custom-javascript/param-alert.png
  docs/static/img/datasource-reference/custom-javascript/random-num.png
  docs/static/img/datasource-reference/custom-javascript/unique-id-1.png
  docs/static/img/datasource-reference/custom-javascript/unique-id-2.png
  docs/versioned_docs/version-2.50.0-LTS/data-sources/custom-js.md
  docs/versioned_docs/version-2.68.0/data-sources/custom-js.md
Labels: suspend-review-docs-app

#10796 [docs]: Update data-sources guides - RunPy
  docs/docs/data-sources/run-py.md
  docs/versioned_docs/version-2.50.0-LTS/data-sources/run-py.md
  docs/versioned_docs/version-2.68.0/data-sources/run-py.md
Labels: suspend-review-docs-app

#10797 [docs]: Update data-sources guides - SAP HANA, SendGrid and Slack
  docs/docs/data-sources/saphana.md
  docs/docs/data-sources/sendgrid.md
  docs/docs/data-sources/slack.md
  docs/static/img/datasource-reference/saphana/connect-v2.png
  docs/static/img/datasource-reference/saphana/query-v2.png
  docs/static/img/datasource-reference/sendgrid/sendgrid-datasource-v2.png
  docs/static/img/datasource-reference/sendgrid/sendgrid-query-v2.png
  docs/static/img/datasource-reference/slack/authorize-v2.png
  docs/static/img/datasource-reference/slack/connect-v2.png
  docs/static/img/datasource-reference/slack/listmembers-v2.png
  docs/static/img/datasource-reference/slack/listmessages-v2.png
  docs/static/img/datasource-reference/slack/operations.png
  docs/static/img/datasource-reference/slack/sendmessage-v2.png
  docs/versioned_docs/version-2.50.0-LTS/data-sources/saphana.md
  docs/versioned_docs/version-2.50.0-LTS/data-sources/sendgrid.md
  docs/versioned_docs/version-2.50.0-LTS/data-sources/slack.md
  docs/versioned_docs/version-2.68.0/data-sources/saphana.md
  docs/versioned_docs/version-2.68.0/data-sources/sendgrid.md
  docs/versioned_docs/version-2.68.0/data-sources/slack.md
Labels: suspend-review-docs-app

#10841 [docs]: Serverside Search Operation
  docs/docs/widgets/table/serverside-operations/search.md
  docs/sidebars.js
  docs/static/img/widgets/table/serverside-operations/fetch-data-query.png
  docs/static/img/widgets/table/serverside-operations/search-eh.png
  docs/static/img/widgets/table/serverside-operations/search-loading.png
  docs/static/img/widgets/table/serverside-operations/search-property.png
  docs/static/img/widgets/table/serverside-operations/search-query.png
Labels: active-review-docs-app

#10979 [docs]: Guides on Serverside Operations
  docs/docs/widgets/table/serverside-operations/filter.md
  docs/docs/widgets/table/serverside-operations/overview.md
  docs/docs/widgets/table/serverside-operations/pagination.md
  docs/docs/widgets/table/serverside-operations/search.md
  docs/docs/widgets/table/serverside-operations/sort.md
  docs/sidebars.js
  docs/static/img/widgets/table/serverside-operations/filter-eh.png
  docs/static/img/widgets/table/serverside-operations/filter-js-query.png
  docs/static/img/widgets/table/serverside-operations/filter-loading.png
  docs/static/img/widgets/table/serverside-operations/filter-property.png
  docs/static/img/widgets/table/serverside-operations/filter-query-eh.png
  docs/static/img/widgets/table/serverside-operations/filter-query.png
  docs/static/img/widgets/table/serverside-operations/pagiation-count.png
  docs/static/img/widgets/table/serverside-operations/pagiation-eh.png
  docs/static/img/widgets/table/serverside-operations/pagiation-loading.png
  docs/static/img/widgets/table/serverside-operations/pagiation-next-page.png
  docs/static/img/widgets/table/serverside-operations/pagiation-property.png
  docs/static/img/widgets/table/serverside-operations/pagiation-query.png
  docs/static/img/widgets/table/serverside-operations/pagiation-total-record.png
  docs/static/img/widgets/table/serverside-operations/serverside-operations.png
  docs/static/img/widgets/table/serverside-operations/sort-eh.png
  docs/static/img/widgets/table/serverside-operations/sort-loading.png
  docs/static/img/widgets/table/serverside-operations/sort-property.png
  docs/static/img/widgets/table/serverside-operations/sort-query.png
Labels: active-review-docs-app

#10959 [docs]: Fix Sidebar Issue in GitSync Documentation
  docs/docs/gitsync.md
Labels: suspend-review-docs-app

#10986 [docs]: add v3 beta migration guide
  docs/docs/setup/cloud-v3-migration.md
  docs/docs/setup/upgrade-to-v3.md
  docs/sidebars.js
  docs/src/components/DocsCard/DocsCard.jsx
  docs/static/img/setup/icons/cloud-v3-migration.svg
  docs/static/img/setup/icons/upgrade-to-v3.svg
  docs/versioned_docs/version-2.50.0-LTS/setup/cloud-v3-migration.md
  docs/versioned_docs/version-2.50.0-LTS/setup/upgrade-to-v3.md
  docs/versioned_sidebars/version-2.50.0-LTS-sidebars.json
Labels: active-review-docs-app

#10904 [docs]: Fix documentation for Tags Component
  docs/docs/widgets/tags.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/tags.md
Labels: suspend-review-docs-app

#10955 [docs]: Fix documentation for Statistics Component
  docs/docs/widgets/statistics.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/statistics.md
Labels: suspend-review-docs-app

#10964 [docs]: Fix documentation for Pagination component
  docs/docs/widgets/pagination.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/pagination.md
Labels: suspend-review-docs-app

#10978 [docs]: Fix documentation for Spinner Component
  docs/docs/widgets/spinner.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/spinner.md
Labels: suspend-review-docs-app

#10982 [docs]: Fix documentation for Divider Component
  docs/docs/widgets/divider.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/divider.md
Labels: suspend-review-docs-app

#11003 [docs]: Fix documentation for File Picker Component
  docs/docs/widgets/file-picker.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/file-picker.md
Labels: suspend-review-docs-app

#11000 Email Images and New Organization dropdown UI
  frontend/src/_components/OrganizationManager/CustomSelect.jsx
  frontend/src/_components/OrganizationManager/List.jsx
  frontend/src/_styles/theme.scss
  frontend/src/_ui/Icon/solidIcons/NewTab.jsx
  frontend/src/_ui/Icon/solidIcons/index.js
  server/src/mails/assets/github.png
  server/src/mails/assets/linkedin.png
  server/src/mails/assets/twitter.png
  server/src/mails/assets/youtube.png
  server/src/mails/base/partials/footer.hbs
  server/src/mails/base/partials/header.hbs
Labels: suspend-review-app

#11036 [docs]: Update Create Query and Query Panel docs
  docs/docs/app-builder/query-panel.md
  docs/docs/app-builder/walkthrough/create-queries.md
  docs/static/img/v2-beta/app-builder/querypanel/newui2/events-v2.png
  docs/static/img/v2-beta/app-builder/querypanel/newui2/params-v2.png
  docs/static/img/v2-beta/app-builder/querypanel/newui2/preview-v2.png
  docs/static/img/v2-beta/app-builder/querypanel/newui2/run-v2.png
  docs/static/img/v2-beta/app-builder/querypanel/newui2/settings-v2.png
  docs/static/img/v2-beta/app-builder/querypanel/newui2/switch-v2.png
  docs/static/img/v2-beta/app-builder/querypanel/newui2/transform-v2.png
  docs/static/img/v2-beta/app-builder/querypanel/newui3/qpanel-v2.png
  docs/static/img/v2-beta/app-builder/querypanel/newui3/queryeditor-v2.png
  docs/static/img/v2-beta/app-builder/querypanel/newui3/queryparams-v2.png
  docs/static/img/v2-beta/app-builder/querypanel/newui3/queryrename-v2.png
  docs/static/img/v2-beta/app-builder/querypanel/query-panel-preview-v3.png
  docs/static/img/v2-beta/app-builder/walkthrough/create-queries/data-source-list-v2.png
  docs/static/img/v2-beta/app-builder/walkthrough/create-queries/delete-data-v2.png
  docs/static/img/v2-beta/app-builder/walkthrough/create-queries/insert-data-v2.png
  docs/static/img/v2-beta/app-builder/walkthrough/create-queries/low-code-query-builder-v2.png
  docs/static/img/v2-beta/app-builder/walkthrough/create-queries/query-panel-preview-v2.png
  docs/static/img/v2-beta/app-builder/walkthrough/create-queries/read-data-v2.png
  docs/static/img/v2-beta/app-builder/walkthrough/create-queries/sql-query-builder-v2.png
  docs/static/img/v2-beta/app-builder/walkthrough/create-queries/update-data-v2.png
Labels: active-review-docs-app

#11085 [docs]: Add release notes for ToolJet 3.0
  docs/docs/project-overview/release-notes.md
  docs/docs/user-authentication/sso/oidc-group-sync.md
  docs/sidebars.js
Labels: active-review-docs-app

#11014 Release: Marketplace - Sharepoint plugin ( v2.67.1 )
  .version
  frontend/.version
  frontend/src/Oauth2/Authorize.jsx
  frontend/src/_components/DynamicForm.jsx
  frontend/src/_components/Sharepoint.jsx
  marketplace/package-lock.json
  marketplace/plugins/sharepoint/.gitignore
  marketplace/plugins/sharepoint/README.md
  marketplace/plugins/sharepoint/__tests__/index.js
  marketplace/plugins/sharepoint/lib/icon.svg
  marketplace/plugins/sharepoint/lib/index.ts
  marketplace/plugins/sharepoint/lib/manifest.json
  marketplace/plugins/sharepoint/lib/operations.json
  marketplace/plugins/sharepoint/lib/types.ts
  marketplace/plugins/sharepoint/package.json
  marketplace/plugins/sharepoint/tsconfig.json
  server/.version
  server/src/assets/marketplace/plugins.json
Labels: suspend-review-app

#11100 [docs]: Update documentation for Page Management
  docs/docs/tutorial/pages.md
  docs/static/img/v2-beta/pages/v3/page-add.png
  docs/static/img/v2-beta/pages/v3/page-hidden.png
  docs/static/img/v2-beta/pages/v3/page-option.png
  docs/static/img/v2-beta/pages/v3/page-pin.png
  docs/static/img/v2-beta/pages/v3/page-settings.png
  docs/static/img/v2-beta/pages/v3/page-style.png
  docs/static/img/v2-beta/pages/v3/pages-panel-v4.png
  docs/static/img/v2-beta/pages/v3/pages-v3.png
Labels: active-review-docs-app

#11002 [docs]: Fix the documentation for Icon Component
  docs/docs/widgets/icon.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/icon.md
Labels: suspend-review-docs-app

#10991 [docs]: Fix documentation for Iframe Component
  docs/docs/widgets/iframe.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/iframe.md
Labels: suspend-review-docs-app

#11023 [docs]: Fix documentation for Date Picker Component
  docs/docs/widgets/datepicker.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/datepicker.md
Labels: suspend-review-docs-app

#11016 [docs]: Fix documentation for Link Component
  docs/docs/widgets/link.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/link.md
Labels: suspend-review-docs-app

#11019 [docs]: Fix documentation for the Custom Component
  docs/docs/widgets/custom-component.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/custom-component.md
Labels: suspend-review-docs-app

#11033 [docs]: Fix documentation for container component
  docs/docs/widgets/container.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/container.md
Labels: suspend-review-docs-app

#11030 [docs]: Fix documentation for HTML Viewer Component
  docs/docs/widgets/html.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/html.md
Labels: suspend-review-docs-app

#11026 [docs]: Fix documentation for the Image Component
  docs/docs/widgets/image.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/image.md
Labels: suspend-review-docs-app

#11104 [docs]: Add screenshot in types of node docs
  docs/docs/workflows/nodes.md
  docs/static/img/workflows/nodes/v2/datasources.png
  docs/static/img/workflows/nodes/v2/if-node.png
  docs/static/img/workflows/nodes/v2/javascript.png
  docs/static/img/workflows/nodes/v2/loop-node.png
  docs/static/img/workflows/nodes/v2/response-node.png
  docs/static/img/workflows/nodes/v2/start-node.png
Labels: active-review-docs-app

#11172 Chore: Make TJDB SQL mode configurable
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/ToolJetDbOperations.jsx
  frontend/webpack.config.js
  server/src/services/tooljet_db_operations.service.ts
Labels: active-review-app

#11160 [docs]: Fix documentation for the map component
  docs/docs/widgets/map.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/map.md
Labels: active-review-docs-app

#11145 [docs]: Fix documentation for pagination component
  docs/docs/widgets/pagination.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/pagination.md
Labels: active-review-docs-app

#11131 [docs] : Updated the documentation for the Steps component
  docs/docs/widgets/steps.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/steps.md
Labels: suspend-review-docs-app

#11105 [docs]: Fix documentation for color picker component
  docs/docs/widgets/color-picker.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/color-picker.md
Labels: suspend-review-docs-app

#11020 [docs]: Fix documentation for the Date-Range Picker Component
  docs/docs/widgets/date-range-picker.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/date-range-picker.md
Labels: suspend-review-docs-app

#11073 [docs]: Fix documentation for the Button Component
  docs/docs/widgets/button.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/button.md
Labels: suspend-review-docs-app

#11094 [docs]: Fix documentation for Radio Button Component
  docs/docs/widgets/radio-button.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/radio-button.md
Labels: suspend-review-docs-app

#11125 [docs]: Fix documentation for tabs components
  docs/docs/widgets/tabs.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/tabs.md
Labels: suspend-review-docs-app

#10869 #fixes Refactor InviteUsersForm component to support dark mode
  frontend/src/ManageOrgUsers/InviteUsersForm.jsx
Labels: active-review-app

#11027 [docs]: Fix documentation for Code Editor Component
  docs/docs/widgets/code-editor.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/code-editor.md
Labels: active-review-docs-app

#11110 [docs]: Fix documentation for the Bounded Box Component
  docs/docs/widgets/bounded-box.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/bounded-box.md
Labels: active-review-docs-app

#11174 [docs] : Updated documentation for File Picker Component
  docs/docs/widgets/file-picker.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/file-picker.md
Labels: active-review-docs-app

#11140 [docs]: Update the documentation for the Kanban Component
  docs/docs/widgets/kanban-board.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/kanban-board.md
Labels: active-review-docs-app

#11191 [docs]: Update the documentation for the Color Picker Component
  docs/docs/widgets/color-picker.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/color-picker.md
Labels: active-review-docs-app

#11138 [docs]: Fix documentation for the Image Component
  docs/docs/widgets/image.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/image.md
Labels: active-review-docs-app

#11166 [docs]: Fix documentation for Tree Select Component
  docs/docs/widgets/tree-select.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/tree-select.md
Labels: active-review-docs-app

#11142 [docs]: Fix documentation for the QR Scanner Component
  docs/docs/widgets/qr-scanner.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/qr-scanner.md
Labels: active-review-docs-app

#11144 [docs]: Fix documentation for SVG Image component
  docs/docs/widgets/svg-image.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/svg-image.md
Labels: active-review-docs-app
