Repository ToolJet/ToolJet, pull requests merged in 2024-12, with the labels that each got.

#11435 Added data-cy for newly added components
  frontend/src/ManageOrgUsers/InviteUsersForm.jsx
  frontend/src/_components/OrganizationManager/List.jsx
  frontend/src/modules/auth/pages/ForgotPasswordPage/components/ForgotPasswordInfoScreen/ForgotPasswordInfoScreen.jsx
  frontend/src/modules/auth/pages/LoginPage/components/LoginForm/LoginForm.jsx
  frontend/src/modules/auth/pages/ResetPasswordPage/components/ResetPasswordInfoScreen/ResetPasswordInfoScreen.jsx
  frontend/src/modules/common/components/FormDescription/FormDescription.jsx
  frontend/src/modules/common/components/FormHeader/FormHeader.jsx
  frontend/src/modules/common/components/FormTextInput/FormTextInput.jsx
  frontend/src/modules/common/components/GeneralFeatureImage/GeneralFeatureImage.jsx
  frontend/src/modules/common/components/PasswordInput/PasswordInput.jsx
  frontend/src/modules/common/components/PasswordInput/resources/images/eyeclose.svg
  frontend/src/modules/common/components/PasswordInput/resources/images/eyeopen.svg
  frontend/src/modules/common/components/SSOAuthModule/components/SSOButtonWrapper/SSOButtonWrapper.jsx
  frontend/src/modules/common/components/SubmitButton/SubmitButton.jsx
  frontend/src/modules/onboarding/components/OnboardingFormWrapper/OnboardingFormWrapper.jsx
  frontend/src/modules/onboarding/pages/SignupPage/components/SignupSuccessInfo/SignupSuccessInfo.jsx
  frontend/src/modules/onboarding/pages/SignupPage/components/SignupSuccessInfo/components/ResendVerificationEmail/ResendVerificationEmail.jsx
Labels: data-cy, cypress

#11480 [docs]: Update Server Side Operation Docs
  docs/docs/widgets/table/serverside-operations/filter.md
  docs/docs/widgets/table/serverside-operations/overview.md
  docs/docs/widgets/table/serverside-operations/pagination.md
  docs/docs/widgets/table/serverside-operations/search.md
  docs/docs/widgets/table/serverside-operations/sort.md
Labels: active-review-docs-app

#11425 [feat] : Add support for clicking anywhere on the edge should select the component
  frontend/src/AppBuilder/AppCanvas/ConfigHandle/configHandle.scss
  frontend/src/AppBuilder/AppCanvas/Grid/Grid.jsx
  frontend/src/AppBuilder/AppCanvas/Selecto.jsx
Labels: tested

#11409 Fixed: Value of 'value' CSA when no default value is set and clear() action is used
  frontend/src/AppBuilder/WidgetManager/widgets/numberinput.js
  frontend/src/Editor/Components/NumberInput.jsx
  frontend/src/Editor/WidgetManager/configs/numberinput.js
  server/src/helpers/widget-config/numberinput.js
Labels: tested, suspend-review-app

#11405 Fix: Content overflow issue in rich text editor
  frontend/src/Editor/Components/DraftEditor.jsx
Labels: tested, suspend-review-app

#11363 chore: Set modal as the selected widget when clicked
  frontend/src/AppBuilder/Widgets/Modal.jsx
Labels: tested

#11355 [feat] Add support for container and kanban to be moved by dragging on the body of the component
  frontend/src/AppBuilder/AppCanvas/Grid/Grid.jsx
  server/src/helpers/utils.helper.ts
Labels: tested

#11229 chore: Exposes CSAs for Container widget
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/DefaultComponent.jsx
  frontend/src/AppBuilder/WidgetManager/widgets/container.js
  frontend/src/AppBuilder/Widgets/Container.jsx
  frontend/src/AppBuilder/_hooks/useExposeVariables.js
  frontend/src/Editor/WidgetManager/configs/container.js
  server/src/helpers/widget-config/container.js
Labels: tested

#11404 Feature: Implemented loading state for Chart component (Pie)
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Chart.jsx
Labels: tested, suspend-review-app

#11408 Feature: Added Radio button V2 component
  frontend/assets/images/icons/widgets/index.jsx
  frontend/assets/images/icons/widgets/radiobuttonV2.jsx
  frontend/src/AppBuilder/AppCanvas/RenderWidget.jsx
  frontend/src/AppBuilder/RightSideBar/ComponentsManagerTab/ComponentsManagerTab.jsx
  frontend/src/AppBuilder/RightSideBar/ComponentsManagerTab/constants.js
  frontend/src/AppBuilder/RightSideBar/Inspector/Inspector.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Utils.js
  frontend/src/AppBuilder/RightSideBar/WidgetBox/WidgetBox.jsx
  frontend/src/AppBuilder/WidgetManager/configs/widgetConfig.js
  frontend/src/AppBuilder/WidgetManager/widgets/index.js
  frontend/src/AppBuilder/WidgetManager/widgets/radioButtonV2.js
  frontend/src/AppBuilder/WidgetManager/widgets/radiobutton.js
  frontend/src/AppBuilder/_helpers/editorHelpers.js
  frontend/src/AppBuilder/_stores/slices/componentsSlice.js
  frontend/src/Editor/CodeEditor/SingleLineCodeEditor.jsx
  frontend/src/Editor/Components/RadioButtonV2/RadioButtonV2.jsx
  frontend/src/Editor/Components/RadioButtonV2/radioButtonV2.scss
  frontend/src/Editor/Inspector/Elements/Components/ToolTip.jsx
  frontend/src/Editor/WidgetManager/configs/index.js
  frontend/src/Editor/WidgetManager/configs/radioButtonV2.js
  frontend/src/Editor/WidgetManager/configs/radiobutton.js
  frontend/src/Editor/WidgetManager/constants.js
  frontend/src/Editor/WidgetManager/widgetConfig.js
  server/src/helpers/widget-config/index.js
  server/src/helpers/widget-config/radioButtonV2.js
Labels: tested, suspend-review-app

#10330 Change download behaviour for server side pagination
  frontend/src/AppBuilder/WidgetManager/widgets/table.js
  frontend/src/AppBuilder/Widgets/Table/Components/Footer.jsx
  frontend/src/AppBuilder/Widgets/Table/Table.jsx
  frontend/src/AppBuilder/_stores/slices/eventsSlice.js
  server/src/helpers/widget-config/table.js
Labels: tested

#11406 Enhance: Added 'Set Value' functionality and support for HTML with hyperlinks in Rich Text Editor component
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/DefaultComponent.jsx
  frontend/src/AppBuilder/WidgetManager/widgets/richtextarea.js
  frontend/src/Editor/Components/DraftEditor.jsx
  frontend/src/Editor/Components/RichTextEditor.jsx
  frontend/src/Editor/WidgetManager/configs/richtextarea.js
  server/src/helpers/widget-config/richtextarea.js
Labels: tested, active-review-app

#11428 [Feature]: Push event errors from page, components and query to debugger
  frontend/src/AppBuilder/RightSideBar/Inspector/EventManager.jsx
  frontend/src/AppBuilder/WidgetManager/widgets/button.js
  frontend/src/AppBuilder/WidgetManager/widgets/image.js
  frontend/src/AppBuilder/WidgetManager/widgets/numberinput.js
  frontend/src/AppBuilder/_stores/slices/debuggerSlice.js
  frontend/src/AppBuilder/_stores/slices/eventsSlice.js
  frontend/src/AppBuilder/_stores/slices/queryPanelSlice.js
  frontend/src/Editor/LeftSidebar/SidebarDebugger/Logs.jsx
  frontend/src/_styles/left-sidebar.scss
  frontend/src/_styles/theme.scss
Labels: tested, suspend-review-app

#11309 feat: Adds header for container widget
  frontend/src/AppBuilder/AppCanvas/Grid/Grid.jsx
  frontend/src/AppBuilder/AppCanvas/appCanvasConstants.js
  frontend/src/AppBuilder/AppCanvas/appCanvasUtils.js
  frontend/src/AppBuilder/WidgetManager/widgets/container.js
  frontend/src/AppBuilder/Widgets/Container.jsx
  frontend/src/Editor/WidgetManager/configs/container.js
  server/src/helpers/widget-config/container.js
Labels: tested, suspend-review-app, appbuilder

#11379 [docs]: Add Guide to Trigger Workflow Using Webhook
  docs/docs/workflows/trigger-using-webhook.md
  docs/sidebars.js
  docs/static/img/workflows/trigger-using-webhook/api-token.png
  docs/static/img/workflows/trigger-using-webhook/configure-wf.png
  docs/static/img/workflows/trigger-using-webhook/copy-url.png
  docs/static/img/workflows/trigger-using-webhook/enable-webhook.png
  docs/static/img/workflows/trigger-using-webhook/new-wf.png
  docs/static/img/workflows/trigger-using-webhook/parameters-postman.png
  docs/static/img/workflows/trigger-using-webhook/parameters.png
  docs/static/img/workflows/trigger-using-webhook/postman-url.png
  docs/static/img/workflows/trigger-using-webhook/postman.png
  docs/static/img/workflows/trigger-using-webhook/response.png
  docs/static/img/workflows/trigger-using-webhook/trigger-section.png
  docs/static/img/workflows/trigger-using-webhook/workflow-section.png
Labels: suspend-review-docs-app

#11444 [docs]: Add Clear Filter in TJDB
  docs/docs/tooljet-db/database-editor.md
  docs/static/img/v2-beta/database/ux2/clear-all.png
  docs/versioned_docs/version-3.0.0-LTS/tooljet-db/database-editor.md
Labels: active-review-docs-app

#11442 [docs]: Update Operations in Google Sheet
  docs/docs/data-sources/google.sheets.md
  docs/static/img/datasource-reference/google-sheets/create-sheet.png
  docs/static/img/datasource-reference/google-sheets/list-all-sheets.png
  docs/static/img/datasource-reference/google-sheets/operations-v3.png
  docs/versioned_docs/version-3.0.0-LTS/data-sources/google.sheets.md
Labels: active-review-docs-app

#11469 [docs]: Add SSL to MongoDB
  docs/docs/data-sources/mongodb.md
  docs/static/img/datasource-reference/mongo-db/ssl.png
  docs/versioned_docs/version-3.0.0-LTS/data-sources/mongodb.md
Labels: active-review-docs-app

#11501 Fix: mssql driver options configurable
  .version
  frontend/.version
  plugins/packages/mssql/lib/index.ts
  plugins/packages/mssql/lib/manifest.json
  server/.version
Labels: active-review-app

#11498 Fixed issue causing objects on new line to not be resolved
  .version
  frontend/.version
  frontend/src/AppBuilder/CodeEditor/utils.js
  frontend/src/AppBuilder/QueryManager/Components/Transformation.jsx
  frontend/src/AppBuilder/Widgets/Form/Form.jsx
  frontend/src/AppBuilder/_stores/slices/componentsSlice.js
  frontend/src/AppBuilder/_stores/slices/eventsSlice.js
  frontend/src/AppBuilder/_stores/utils.js
  server/.version
Labels: tested

#11504 Fix/id map break
  .version
  frontend/.version
  frontend/src/Editor/Components/Form/Form.jsx
  frontend/src/_stores/utils.js
  server/.version
  server/src/helpers/import_export.helpers.ts
Labels: tested

#11490 Hotfix: The build failed to include the reference file for custom validation of the ToolJet database schema.
  server/package.json
  server/tsconfig.json
Labels: suspend-review-app

#11553 Updated bulk upload test cases
  cypress-tests/cypress/constants/selectors/common.js
  cypress-tests/cypress/constants/selectors/manageSSO.js
  cypress-tests/cypress/constants/selectors/manageUsers.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/app-version/version.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/workspace/manageSSO.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/userManagment/UserInviteFlow.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/userManagment/bulkUsersUpload.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/errorPage.cy.js
  cypress-tests/cypress/fixtures/bulkUser/invalid_group_name - Sheet1.csv
  cypress-tests/cypress/fixtures/bulkUser/without_firstname - Sheet1.csv
  cypress-tests/cypress/fixtures/bulkUser/without_group - Sheet1.csv
  cypress-tests/cypress/fixtures/bulkUser/without_lastname - Sheet1.csv
  cypress-tests/cypress/fixtures/bulkUser/without_role - Sheet1.csv
  cypress-tests/cypress/support/utils/manageSSO.js
  cypress-tests/cypress/support/utils/manageUsers.js
Labels: cypress

#11517 Added automation for Inspector.
  cypress-tests/cypress.config.js
  cypress-tests/cypress/commands/apiCommands.js
  cypress-tests/cypress/commands/commands.js
  cypress-tests/cypress/constants/selectors/common.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/codehinter.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/inspectorHappypath.cy.js
  cypress-tests/cypress/fixtures/inspectorItems.json
  cypress-tests/cypress/support/utils/commonWidget.js
  cypress-tests/cypress/support/utils/editor/codehinter.js
  cypress-tests/cypress/support/utils/events.js
  cypress-tests/cypress/support/utils/inspector.js
  cypress-tests/package-lock.json
  frontend/src/AppBuilder/AppCanvas/RenderWidget.jsx
  frontend/src/AppBuilder/LeftSidebar/PageMenu/PageMenuItem.jsx
  server/package-lock.json
Labels: cypress, run-cypress-app-builder

#11563 [docs]: Update dropdown component doc
  docs/docs/widgets/dropdown.md
  docs/versioned_docs/version-3.0.0-LTS/widgets/dropdown.md
Labels: active-review-docs-app

#11568 Hotfix: Fixes app import with ToolJet Database
  .version
  frontend/.version
  server/.version
  server/package.json
  server/tsconfig.json
Labels: active-review-app

#11564 Bug fixes
  .version
  frontend/.version
  frontend/src/Editor/Components/Form/Form.jsx
  frontend/src/Editor/Components/RangeSlider.jsx
  frontend/src/Editor/Components/Table/GenerateEachCellValue.jsx
  frontend/src/Editor/Inspector/EventManager.jsx
  frontend/src/Editor/LeftSidebar/SidebarPageSelector/PageHandler.jsx
  frontend/src/Editor/WidgetManager/configs/rangeslider.js
  frontend/src/_styles/theme.scss
  server/.version
  server/src/services/page.service.ts
Labels: tested

#11622 Hotfix: Prelease fixes
  .version
  frontend/.version
  frontend/src/GlobalDatasources/GlobalDataSourcesPage/index.jsx
  server/.version
Labels: active-review-app

#11606 Bug fixes
  .version
  frontend/.version
  frontend/src/AppBuilder/WidgetManager/widgets/rangeslider.js
  frontend/src/AppBuilder/Widgets/Table/Table.jsx
  frontend/src/Editor/Components/RangeSlider.jsx
  frontend/src/Editor/WidgetManager/configs/rangeslider.js
  server/.version
  server/src/helpers/widget-config/rangeslider.js
Labels: tested

#11613 Fix [CE LTS]: Key field width should cover full screen under column section in TJDB query manager
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/CreateRow.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/RenderColumnUI.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/UpdateRows.jsx
Labels: run-ci, tested, active-review-app

#11631 Fix: Marketplace LTS patch
  .version
  frontend/.version
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/CreateRow.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/RenderColumnUI.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/UpdateRows.jsx
  frontend/src/Editor/DataSourceManager/DataSourceManager.jsx
  frontend/src/Editor/DataSourceManager/dataSourceManager.theme.scss
  frontend/src/_ui/HttpHeaders/QueryEditor.jsx
  frontend/src/_ui/HttpHeaders/SourceEditor.jsx
  frontend/src/_ui/HttpHeaders/index.js
  server/.version
Labels: active-review-app

#11376 [docs]: Update syntax in form documentation
  docs/docs/widgets/form.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/form.md
  docs/versioned_docs/version-3.0.0-LTS/widgets/form.md
Labels: active-review-docs-app

#11633 [docs]: Add Error Handling in Create Plugin Docs
  docs/docs/contributing-guide/marketplace/creating-a-plugin.md
  docs/static/img/contributing-guide/create-plugin/mongodb-error.png
  docs/static/img/contributing-guide/create-plugin/query-error.png
  docs/versioned_docs/version-3.0.0-LTS/contributing-guide/marketplace/creating-a-plugin.md
Labels: active-review-docs-app

#11626 Fix spelling of Transportation logistics tracker
  .version
  frontend/.version
  frontend/assets/images/templates/transportation-logistics-tracker-dark.png
  frontend/assets/images/templates/transportation-logistics-tracker.png
  server/.version
  server/templates/ai-powered-reimbursement-tracker-with-ocr/manifest.json
  server/templates/transportation-logistics-tracker/definition.json
  server/templates/transportation-logistics-tracker/manifest.json
  server/templates/url-splitter-and-parser/manifest.json
  server/templates/utf-8-encoder-and-decoder/manifest.json
Labels: suspend-review-app

#11670 Enhance: Add detailed error descriptions for AWS Redshift in CE-LTS
  marketplace/plugins/awsredshift/lib/index.ts
Labels: active-review-app

#11671 Fix: AWS Lambda label in CE-LTS
  server/src/assets/marketplace/plugins.json
Labels: active-review-app

#11635 Added Automation for inputs and button component.
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/componentsBasics/button.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/componentsBasics/numberInput.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/componentsBasics/passwordInput.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/componentsBasics/textInput.cy.js
  cypress-tests/cypress/support/utils/editor/textInput.js
  cypress-tests/cypress/support/utils/events.js
  cypress-tests/cypress/support/utils/inspector.js
  frontend/src/AppBuilder/QueryPanel/QueryPanel.jsx
Labels: cypress

#11590 [docs]: Fix SAML docs
  docs/docs/user-authentication/sso/saml.md
  docs/static/img/sso/saml/SAML-Redirect-URL.png
  docs/versioned_docs/version-2.50.0-LTS/user-authentication/sso/saml.md
  docs/versioned_docs/version-3.0.0-LTS/user-authentication/sso/saml.md
Labels: active-review-docs-app

#11684 [docs]: Remove Enable Marketplace and TJDB from env var
  docs/docs/setup/env-vars.md
  docs/versioned_docs/version-3.0.0-LTS/setup/env-vars.md
Labels: active-review-docs-app

#11668 [doc]: Custom URL logout
  docs/docs/Enterprise/superadmin.md
  docs/static/img/enterprise/superadmin/instance-login-logout.png
  docs/static/img/enterprise/superadmin/instance-logout.png
  docs/versioned_docs/version-3.0.0-LTS/Enterprise/superadmin.md
Labels: active-review-docs-app

#11634 [docs] Add information on workflows scheduler
  docs/docs/workflows/triggers.md
  docs/static/img/workflows/scheduler/cron-job.png
  docs/static/img/workflows/scheduler/interval-mode.png
Labels: suspend-review-docs-app

#11689 Optimize platform cypress test cases
  cypress-tests/cypress-platform-subpath.js
  cypress-tests/cypress-platform.config.js
  cypress-tests/cypress-workspace.config.js
  cypress-tests/cypress/commands/apiCommands.js
  cypress-tests/cypress/commands/commands.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/editor/privateAndPublicApp.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/workspace/groupDuplication.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/workspace/manageSSO.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/userManagment/Login.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/userManagment/Signup.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/userManagment/UserInviteFlow.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/userManagment/bulkUsersUpload.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/userManagment/resetPassword.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/dashboard.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/groups/manageGroups.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/groups/permissions.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/userPermissions.cy.js
  cypress-tests/cypress/support/utils/common.js
  cypress-tests/cypress/support/utils/dashboard.js
  cypress-tests/cypress/support/utils/dataSource.js
  cypress-tests/cypress/support/utils/manageGroups.js
  cypress-tests/cypress/support/utils/manageSSO.js
  cypress-tests/cypress/support/utils/manageUsers.js
  cypress-tests/cypress/support/utils/onboarding.js
  cypress-tests/cypress/support/utils/selfHostSignUp.js
  cypress-tests/cypress/support/utils/userPermissions.js
  cypress-tests/cypress/support/utils/version.js
  cypress-tests/cypress/support/utils/workspaceConstants.js
Labels: cypress, run-cypress-platform

#11690 [docs]: Update the Devices table for the Chart Component
  docs/docs/widgets/chart/chart.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/chart/chart.md
  docs/versioned_docs/version-3.0.0-LTS/widgets/chart/chart.md
Labels: active-review-docs-app

#11682 [docs]: Fix the command format in the testing
  docs/docs/contributing-guide/testing.md
  docs/versioned_docs/version-2.50.0-LTS/contributing-guide/testing.md
  docs/versioned_docs/version-3.0.0-LTS/contributing-guide/testing.md
Labels: active-review-docs-app

#11723 [docs]: Update Device Table in Table Component
  docs/docs/widgets/table/properties.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/table/properties.md
  docs/versioned_docs/version-3.0.0-LTS/widgets/table/properties.md
Labels: active-review-docs-app

#11711 [docs]: Fix Style table in PDF Component
  docs/docs/widgets/pdf.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/pdf.md
  docs/versioned_docs/version-3.0.0-LTS/widgets/pdf.md
Labels: active-review-docs-app
