Repository ToolJet/ToolJet, pull requests merged in 2024-05, with the labels that each got.

#9108 Fix: Column header rows should cover the whole width of the dashboard
  frontend/src/TooljetDatabase/Table/index.jsx
  frontend/src/TooljetDatabase/Table/styles.scss
  frontend/src/_styles/theme.scss
Labels: tested, suspend-review-app, database

#9566 [docs]: Update macos controbution guide
  docs/docs/contributing-guide/setup/macos.md
  docs/versioned_docs/version-2.33.0/contributing-guide/setup/macos.md
  docs/versioned_docs/version-2.34.0/contributing-guide/setup/macos.md
  docs/versioned_docs/version-2.35.0/contributing-guide/setup/macos.md
  docs/versioned_docs/version-2.36.0/contributing-guide/setup/macos.md
Labels: active-review-docs-app

#9579 Hotfix: TJDB connection on feature disabled flag
  .version
  frontend/.version
  server/.version
  server/src/app.module.ts
  server/src/modules/import_export_resources/import_export_resources.module.ts
  server/src/modules/tooljet_db/tooljet_db.module.ts
  server/src/services/tooljet_db.service.ts
  server/src/services/tooljet_db_bulk_upload.service.ts
Labels: active-review-app

#9559 Fix community templates
  frontend/assets/images/templates/digital-marketing-campaign-manager-dark.png
  frontend/assets/images/templates/digital-marketing-campaign-manager.png
  frontend/assets/images/templates/finance-underwriting-admin-dark.png
  frontend/assets/images/templates/finance-underwriting-admin.png
  frontend/assets/images/templates/finance-underwriting-user-form-dark.png
  frontend/assets/images/templates/finance-underwriting-user-form.png
  frontend/assets/images/templates/lorem-ipsum-generator-dark.png
  frontend/assets/images/templates/lorem-ipsum-generator.png
  frontend/src/HomePage/TemplateLibraryModal/Categories.jsx
  server/templates/base64-encoder-decoder/definition.json
  server/templates/base64-encoder-decoder/manifest.json
  server/templates/digital-marketing-campaign-manager/definition.json
  server/templates/digital-marketing-campaign-manager/manifest.json
  server/templates/finance-underwriting-admin/definition.json
  server/templates/finance-underwriting-admin/manifest.json
  server/templates/finance-underwriting-user-form/definition.json
  server/templates/finance-underwriting-user-form/manifest.json
  server/templates/finance-underwriting/definition.json
  server/templates/finance-underwriting/manifest.json
  server/templates/lorem-Ipsum-generator/definition.json
  server/templates/lorem-Ipsum-generator/manifest.json
  server/templates/lorem-ipsum-generator/definition.json
  server/templates/lorem-ipsum-generator/manifest.json
  server/templates/patient-records-management/definition.json
  server/templates/patient-records-management/manifest.json
Labels: active-review-app

#9556 Modified user invite flow cypress test cases
  cypress-tests/cypress/commands/apiCommands.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/authentication/signUp.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/manageUsers.cy.js
  cypress-tests/cypress/support/utils/manageSSO.js
  cypress-tests/cypress/support/utils/manageUsers.js
  cypress-tests/cypress/support/utils/onboarding.js
Labels: cypress

#9590 [docs]: Restructure tooljet db docs and fix grammatical issues
  docs/docs/tooljet-db/database-editor.md
  docs/docs/tooljet-db/querying-tooljet-db.md
  docs/docs/tooljet-db/tooljet-database.md
  docs/sidebars.js
Labels: active-review-docs-app

#9597 Feature: Import Export revison for TJDB relations
  server/src/helpers/tjdb_dto_transforms.ts
  server/src/services/tooljet_db.service.ts
  server/src/services/tooljet_db_import_export_service.ts
Labels: suspend-review-app

#9503 Feature: TJDB bulk upload support for primary key
  frontend/src/TooljetDatabase/Table/Header.jsx
  server/src/services/tooljet_db_bulk_upload.service.ts
Labels: suspend-review-app

#9409 TJDB: Fix capitalization issue in dashboard drawer column names
  frontend/src/TooljetDatabase/Forms/EditRowForm.jsx
  frontend/src/TooljetDatabase/Forms/RowForm.jsx
  frontend/src/_styles/theme.scss
Labels: suspend-review-app

#9593 [docs]: Update app-builder overview, components overview and pages
  docs/docs/app-builder/overview.md
  docs/docs/app-builder/right-sidebar.md
  docs/docs/app-builder/share.md
  docs/docs/tutorial/pages.md
  docs/docs/widgets/overview.md
  docs/static/img/v2-beta/app-builder/share/edit-slug-v2.png
  docs/static/img/v2-beta/app-builder/share/make-application-public-v2.png
  docs/static/img/v2-beta/app-builder/share/share-app-v2.gif
  docs/static/img/v2-beta/pages/accesshidden-v2.gif
  docs/static/img/v2-beta/pages/disable-menu.gif
  docs/static/img/v2-beta/pages/home-icon-v2.png
  docs/static/img/v2-beta/pages/options-v2.png
  docs/static/img/v2-beta/pages/pages-panel-v3.png
  docs/static/img/v2-beta/pages/pages-v2.gif
  docs/versioned_docs/version-2.29.0/app-builder/overview.md
  docs/versioned_docs/version-2.30.0/app-builder/overview.md
  docs/versioned_docs/version-2.30.0/app-builder/right-sidebar.md
  docs/versioned_docs/version-2.30.0/app-builder/share.md
  docs/versioned_docs/version-2.30.0/tutorial/pages.md
  docs/versioned_docs/version-2.30.0/widgets/overview.md
  docs/versioned_docs/version-2.33.0/app-builder/overview.md
  docs/versioned_docs/version-2.33.0/app-builder/right-sidebar.md
  docs/versioned_docs/version-2.33.0/app-builder/share.md
  docs/versioned_docs/version-2.33.0/tutorial/pages.md
  docs/versioned_docs/version-2.33.0/widgets/overview.md
  docs/versioned_docs/version-2.34.0/app-builder/overview.md
  docs/versioned_docs/version-2.34.0/app-builder/right-sidebar.md
  docs/versioned_docs/version-2.34.0/app-builder/share.md
  docs/versioned_docs/version-2.34.0/tutorial/pages.md
  docs/versioned_docs/version-2.34.0/widgets/overview.md
  docs/versioned_docs/version-2.35.0/app-builder/overview.md
  docs/versioned_docs/version-2.35.0/app-builder/right-sidebar.md
  docs/versioned_docs/version-2.35.0/app-builder/share.md
  docs/versioned_docs/version-2.35.0/tutorial/pages.md
  docs/versioned_docs/version-2.35.0/widgets/overview.md
  docs/versioned_docs/version-2.36.0/app-builder/overview.md
  docs/versioned_docs/version-2.36.0/app-builder/right-sidebar.md
  docs/versioned_docs/version-2.36.0/app-builder/share.md
  docs/versioned_docs/version-2.36.0/tutorial/pages.md
  docs/versioned_docs/version-2.36.0/widgets/overview.md
Labels: active-review-app

#9607 Release/templates 1.2
  .version
  frontend/.version
  frontend/assets/images/templates/admin-panel-tooljet-db-dark.png
  frontend/assets/images/templates/admin-panel-tooljet-db.png
  frontend/assets/images/templates/bill-of-materials-dark.png
  frontend/assets/images/templates/bill-of-materials.png
  frontend/assets/images/templates/business-intelligence-dashboard-postgresql-dark.png
  frontend/assets/images/templates/business-intelligence-dashboard-postgresql.png
  frontend/assets/images/templates/digital-marketing-campaign-manager-dark.png
  frontend/assets/images/templates/digital-marketing-campaign-manager.png
  frontend/assets/images/templates/finance-underwriting-admin-dark.png
  frontend/assets/images/templates/finance-underwriting-admin.png
  frontend/assets/images/templates/finance-underwriting-user-form-dark.png
  frontend/assets/images/templates/finance-underwriting-user-form.png
  frontend/assets/images/templates/lorem-ipsum-generator-dark.png
  frontend/assets/images/templates/lorem-ipsum-generator.png
  frontend/assets/images/templates/postgresql-database-explorer-dark.png
  frontend/assets/images/templates/postgresql-database-explorer.png
  frontend/assets/images/templates/simple-marketplace-admin-dark.png
  frontend/assets/images/templates/simple-marketplace-admin.png
  frontend/assets/images/templates/simple-marketplace-dark.png
  frontend/assets/images/templates/simple-marketplace.png
  frontend/src/HomePage/TemplateLibraryModal/Categories.jsx
  server/.version
  server/templates/admin-panel-tooljet-db/definition.json
  server/templates/admin-panel-tooljet-db/manifest.json
  server/templates/aws-s3-file-explorer/manifest.json
  server/templates/bill-of-materials/definition.json
  server/templates/bill-of-materials/manifest.json
  server/templates/business-intelligence-dashboard-postgresql/definition.json
  server/templates/business-intelligence-dashboard-postgresql/manifest.json
  server/templates/colour-palette-generator/manifest.json
  server/templates/digital-marketing-campaign-manager/definition.json
  server/templates/digital-marketing-campaign-manager/manifest.json
  server/templates/expense-tracker-admin/manifest.json
  server/templates/expense-tracker-portal/manifest.json
  server/templates/finance-underwriting-admin/definition.json
  server/templates/finance-underwriting-admin/manifest.json
  server/templates/finance-underwriting-user-form/definition.json
  server/templates/finance-underwriting-user-form/manifest.json
  server/templates/google-cloud-storage-explorer/manifest.json
  server/templates/image-converter/manifest.json
  server/templates/kpi-management-dashboard-airtable/manifest.json
  server/templates/kpi-management-dashboard-tooljet-db/manifest.json
  server/templates/lorem-ipsum-generator/definition.json
  server/templates/lorem-ipsum-generator/manifest.json
  server/templates/mortgage-calculator/manifest.json
  server/templates/postgresql-database-explorer/definition.json
  server/templates/postgresql-database-explorer/manifest.json
  server/templates/sales-analytics-dashboard-snowflake/manifest.json
  server/templates/sales-analytics-dashboard-tooljet-db/manifest.json
  server/templates/simple-marketplace-admin/definition.json
  server/templates/simple-marketplace-admin/manifest.json
  server/templates/simple-marketplace/definition.json
  server/templates/simple-marketplace/manifest.json
Labels: suspend-review-app

#9552 Fix : Bugs from Foreign key feature
  frontend/src/Editor/QueryManager/QueryEditors/TooljetDatabase/DropDownSelect.jsx
  frontend/src/Editor/QueryManager/QueryEditors/TooljetDatabase/SelectBox.jsx
  frontend/src/TooljetDatabase/Forms/ColumnForm.jsx
  frontend/src/TooljetDatabase/Forms/EditColumnForm.jsx
  frontend/src/TooljetDatabase/Forms/ForeignKeyRelation.jsx
  frontend/src/TooljetDatabase/Forms/ForeignKeyTableForm.jsx
  frontend/src/TooljetDatabase/Forms/TableDetailsDropdown.jsx
  frontend/src/TooljetDatabase/Forms/TableForm.jsx
  frontend/src/TooljetDatabase/Forms/TableKeyRelations.jsx
  frontend/src/TooljetDatabase/Table/ActionsPopover/UniqueConstraintPopOver.jsx
  frontend/src/TooljetDatabase/Table/styles.scss
  frontend/src/_components/ToolTip.jsx
  frontend/src/_styles/theme.scss
  frontend/src/_styles/typography.scss
  frontend/src/_ui/Drawer/DrawerFooter/index.jsx
Labels: bug, run-ci, tested, suspend-review-app

#9588 Fix: Query duplication on version creation
  server/src/services/apps.service.ts
Labels: tested, suspend-review-app

#9591 [docs]: Revamp athena and dynamodb sections from the data sources library
  docs/docs/data-sources/athena.md
  docs/docs/data-sources/dynamodb.md
  docs/static/img/datasource-reference/athena/athena-connection-v2.png
  docs/static/img/datasource-reference/athena/querying-amazon-athena.png
  docs/static/img/datasource-reference/dynamodb/arn-v2.png
  docs/static/img/datasource-reference/dynamodb/awsinstance-v2.png
  docs/static/img/datasource-reference/dynamodb/createtable-v2.png
  docs/static/img/datasource-reference/dynamodb/deleteitem-v2.png
  docs/static/img/datasource-reference/dynamodb/describetable-v2.png
  docs/static/img/datasource-reference/dynamodb/getitem-v2.png
  docs/static/img/datasource-reference/dynamodb/iam-v2.png
  docs/static/img/datasource-reference/dynamodb/listtables-v2.png
  docs/static/img/datasource-reference/dynamodb/putitem-v2.png
  docs/static/img/datasource-reference/dynamodb/queries-v2.png
  docs/static/img/datasource-reference/dynamodb/querytable-v2.png
  docs/static/img/datasource-reference/dynamodb/scantable-v2.png
  docs/static/img/datasource-reference/dynamodb/updateitem-v2.png
  docs/versioned_docs/version-2.30.0/data-sources/athena.md
  docs/versioned_docs/version-2.30.0/data-sources/dynamodb.md
  docs/versioned_docs/version-2.33.0/data-sources/athena.md
  docs/versioned_docs/version-2.33.0/data-sources/dynamodb.md
  docs/versioned_docs/version-2.34.0/data-sources/athena.md
  docs/versioned_docs/version-2.34.0/data-sources/dynamodb.md
  docs/versioned_docs/version-2.35.0/data-sources/athena.md
  docs/versioned_docs/version-2.35.0/data-sources/dynamodb.md
  docs/versioned_docs/version-2.36.0/data-sources/athena.md
  docs/versioned_docs/version-2.36.0/data-sources/dynamodb.md
Labels: active-review-docs-app

#9573 [docs]: Revamp BigQuery and Cloud Firestore docs from the Data Sources Library section.
  docs/docs/data-sources/bigquery.md
  docs/docs/data-sources/firestore.md
  docs/static/img/datasource-reference/bigquery/bq-create-v2.png
  docs/static/img/datasource-reference/bigquery/bq-delete-v2.png
  docs/static/img/datasource-reference/bigquery/bq-insert-v2.png
  docs/static/img/datasource-reference/bigquery/bq-query-v2.png
  docs/static/img/datasource-reference/bigquery/bq-update-v2.png
  docs/static/img/datasource-reference/bigquery/create-table.png
  docs/static/img/datasource-reference/bigquery/create-view-v2.png
  docs/static/img/datasource-reference/bigquery/delete-table.png
  docs/static/img/datasource-reference/bigquery/list-datasets-v2.png
  docs/static/img/datasource-reference/bigquery/listtables-v2.png
  docs/static/img/datasource-reference/bigquery/query-v2.png
  docs/static/img/datasource-reference/firestore/add-document-v2.png
  docs/static/img/datasource-reference/firestore/bulk-v2.png
  docs/static/img/datasource-reference/firestore/delete-v2.png
  docs/static/img/datasource-reference/firestore/firestore-query-v2.png
  docs/static/img/datasource-reference/firestore/get-v2.png
  docs/static/img/datasource-reference/firestore/query-collection-v2.png
  docs/static/img/datasource-reference/firestore/set-v2.png
  docs/static/img/datasource-reference/firestore/update-v2.png
  docs/versioned_docs/version-2.30.0/data-sources/bigquery.md
  docs/versioned_docs/version-2.30.0/data-sources/firestore.md
  docs/versioned_docs/version-2.33.0/data-sources/bigquery.md
  docs/versioned_docs/version-2.33.0/data-sources/firestore.md
  docs/versioned_docs/version-2.34.0/data-sources/bigquery.md
  docs/versioned_docs/version-2.34.0/data-sources/firestore.md
  docs/versioned_docs/version-2.35.0/data-sources/bigquery.md
  docs/versioned_docs/version-2.35.0/data-sources/firestore.md
  docs/versioned_docs/version-2.36.0/data-sources/bigquery.md
  docs/versioned_docs/version-2.36.0/data-sources/firestore.md
Labels: active-review-docs-app

#9634 [docs]: Update system requirements for self-hosted and contributions
  docs/docs/contributing-guide/setup/system-requirements.md
  docs/docs/setup/system-requirements.md
  docs/sidebars.js
  docs/versioned_docs/version-2.36.0/contributing-guide/setup/system-requirements.md
  docs/versioned_docs/version-2.36.0/setup/system-requirements.md
  docs/versioned_sidebars/version-2.36.0-sidebars.json
Labels: active-review-docs-app

#9637 Fix : Bug fixes from foreign key feature
  frontend/src/TooljetDatabase/Forms/ColumnForm.jsx
  frontend/src/TooljetDatabase/Forms/ForeignKeyRelation.jsx
  frontend/src/TooljetDatabase/Forms/TableKeyRelations.jsx
Labels: bug, draft, run-ci

#9639 fix : Cell select focus border issue in ToolJet database
  frontend/src/TooljetDatabase/Table/index.jsx
  server/package-lock.json
Labels: database

#9652 fix : padding issue in foreign key relation dropdown and tooltip width issue in create and edit row in ToolJet database
  frontend/src/TooljetDatabase/Forms/ColumnForm.jsx
  frontend/src/TooljetDatabase/Forms/EditColumnForm.jsx
  frontend/src/TooljetDatabase/Forms/EditRowForm.jsx
  frontend/src/TooljetDatabase/Forms/RowForm.jsx
  frontend/src/TooljetDatabase/Forms/TableSchema.jsx
  frontend/src/TooljetDatabase/Forms/styles.scss
  frontend/src/_styles/queryManager.scss
Labels: database

#9646 Revert table header and null renderer changes
  .version
  frontend/.version
  frontend/src/Editor/Components/Table/Datepicker.jsx
  frontend/src/Editor/Components/Table/GenerateEachCellValue.jsx
  frontend/src/Editor/Components/Table/Tags.jsx
  frontend/src/Editor/Components/Table/columns/index.jsx
  frontend/src/Editor/Components/Table/datepicker.scss
  frontend/src/Editor/Inspector/Components/Table/ColumnManager/ValidationProperties.jsx
  frontend/src/ToolJetUI/Timepicker/Timepicker.jsx
  frontend/src/_styles/table-component.scss
  server/.version
Labels: tested, run-cypress

#9656 fix : In edit and create row the null tag's height is greater than the input field in ToolJet database
  frontend/src/Editor/QueryManager/QueryEditors/TooljetDatabase/CreateRow.jsx
  frontend/src/Editor/QueryManager/QueryEditors/TooljetDatabase/DropDownSelect.jsx
  frontend/src/Editor/QueryManager/QueryEditors/TooljetDatabase/JoinConstraint.jsx
  frontend/src/Editor/QueryManager/QueryEditors/TooljetDatabase/SelectBox.jsx
  frontend/src/Editor/QueryManager/QueryEditors/TooljetDatabase/UpdateRows.jsx
  frontend/src/TooljetDatabase/Forms/TableKeyRelations.jsx
  frontend/src/TooljetDatabase/Forms/styles.scss
  frontend/src/TooljetDatabase/Table/index.jsx
  frontend/src/TooljetDatabase/Table/styles.scss
  frontend/src/_styles/theme.scss
Labels: database

#9666 fix : Added back set null and set default options in actions dropdown in foreign key drawer
  frontend/src/Editor/QueryManager/QueryEditors/TooljetDatabase/SelectBox.jsx
  frontend/src/TooljetDatabase/Forms/TableKeyRelations.jsx
Labels: database

#9670 Fix: Minor UI fixes
  frontend/src/TooljetDatabase/Forms/TableSchema.jsx
  frontend/src/TooljetDatabase/constants.js
Labels: active-review-app

#9672 fix : Null toggle issue in cell edit dropdown in ToolJet database
  frontend/src/TooljetDatabase/Menu/CellEditMenu/index.jsx
Labels: active-review-app, database

#9621 fix: set preview loader only when running query is executed
  frontend/src/_helpers/appUtils.js
Labels: tested, run-cypress

#9676 fix : Foreign key drawer fixes of text headings and actions dropdown
  frontend/src/Editor/QueryManager/QueryEditors/TooljetDatabase/CreateRow.jsx
  frontend/src/Editor/QueryManager/QueryEditors/TooljetDatabase/UpdateRows.jsx
  frontend/src/TooljetDatabase/Forms/TableKeyRelations.jsx
Labels: database

#9683 fix : Unique constraint's helper text is not correct for primary key columns in edit column
  frontend/src/TooljetDatabase/Forms/EditColumnForm.jsx
Labels: database

#9678 Added data-cy for workspace constants components
  frontend/src/ManageOrgConstants/ConstantForm.jsx
  frontend/src/ManageOrgConstants/ConstantTable.jsx
Labels: data-cy, cypress

#9680 Modified workspace constants cypress test cases
  cypress-tests/cypress/constants/selectors/workspaceConstants.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/workspace/workspaceConstants.cy.js
  cypress-tests/cypress/support/utils/dataSource.js
  cypress-tests/cypress/support/utils/workspaceConstants.js
Labels: cypress

#9684 fix : Boolean default value not applied on create row in ToolJet database
  frontend/src/TooljetDatabase/Forms/RowForm.jsx
Labels: database

#9583 Feature: Enable salesforce plugin's account queries from app builder
  frontend/src/Editor/DataSourceManager/DataSourceManager.jsx
  frontend/src/_components/DynamicForm.jsx
  frontend/src/_components/Salesforce.jsx
  frontend/src/_services/datasource.service.js
  frontend/src/_styles/theme.scss
  frontend/src/_ui/Input/index.js
  marketplace/package-lock.json
  marketplace/plugins/salesforce/.gitignore
  marketplace/plugins/salesforce/README.md
  marketplace/plugins/salesforce/__tests__/index.js
  marketplace/plugins/salesforce/lib/icon.svg
  marketplace/plugins/salesforce/lib/index.ts
  marketplace/plugins/salesforce/lib/manifest.json
  marketplace/plugins/salesforce/lib/operations.json
  marketplace/plugins/salesforce/lib/types.ts
  marketplace/plugins/salesforce/package.json
  marketplace/plugins/salesforce/tsconfig.json
  server/src/assets/marketplace/plugins.json
  server/src/controllers/data_sources.controller.ts
  server/src/dto/data-source.dto.ts
  server/src/services/data_queries.service.ts
  server/src/services/data_sources.service.ts
Labels: active-review-app, deploy-marketplace-plugin

#9616 Workspace variables
  frontend/src/ManageOrgVars/ManageOrgVars.jsx
Labels: suspend-review-app

#9468 Added common data sources
  frontend/src/Editor/DataSourceManager/SourceComponents/index.js
  frontend/src/GlobalDatasources/GlobalDataSourcesPage/index.jsx
  frontend/src/GlobalDatasources/SegregatedList/index.js
  frontend/src/GlobalDatasources/index.jsx
Labels: tested, suspend-review-app

#9596 Masking workspace constants on frontend
  cypress-tests/cypress/constants/selectors/workspaceConstants.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/workspace/workspaceConstants.cy.js
  cypress-tests/cypress/support/utils/dataSource.js
  cypress-tests/cypress/support/utils/workspaceConstants.js
  frontend/src/Editor/CodeBuilder/CodeHinter.jsx
  frontend/src/Editor/Editor.jsx
  frontend/src/Editor/Viewer.jsx
  frontend/src/ManageGroupPermissionResources/ManageGroupPermissionResources.jsx
  frontend/src/ManageOrgConstants/ConstantForm.jsx
  frontend/src/ManageOrgConstants/ConstantTable.jsx
  frontend/src/ManageOrgConstants/ManageOrgConstants.jsx
  frontend/src/_components/OrgConstantsVariablesResolver/OrgConstantsVariablesPreviewBox.jsx
  frontend/src/_services/organization_constants.service.js
  server/src/controllers/organization_constants.controller.ts
  server/src/services/data_queries.service.ts
  server/src/services/organization_constants.service.ts
Labels: tested, suspend-review-app, platform

#9705 fix : Null value is not showing in foreign key dropdown in edit and create column
  frontend/src/TooljetDatabase/Forms/ColumnForm.jsx
  frontend/src/TooljetDatabase/Forms/EditColumnForm.jsx
  frontend/src/TooljetDatabase/Forms/ForeignKeyRelation.jsx
  frontend/src/_services/tooljetDatabase.service.js
Labels: tested, active-review-app, database

#9727 Chore: Disabled state color code for add foreign key relation button
  frontend/src/TooljetDatabase/Forms/ForeignKeyRelation.jsx
Labels: database

#9649 [docs]: Update ToolJet database docs to include Primary Key & Foreign Key
  docs/docs/tooljet-db/database-editor.md
  docs/docs/tooljet-db/querying-tooljet-db.md
  docs/docs/tooljet-db/tooljet-database.md
  docs/static/img/v2-beta/database/ux2/add-new-column-v2.gif
  docs/static/img/v2-beta/database/ux2/add-new-data-v2.png
  docs/static/img/v2-beta/database/ux2/add-new-row-v2.gif
  docs/static/img/v2-beta/database/ux2/bulk-upload-data-v2.png
  docs/static/img/v2-beta/database/ux2/collapse-v2.gif
  docs/static/img/v2-beta/database/ux2/composite-pk.gif
  docs/static/img/v2-beta/database/ux2/create-fk.gif
  docs/static/img/v2-beta/database/ux2/create-table-v2.png
  docs/static/img/v2-beta/database/ux2/datatypes-v2.png
  docs/static/img/v2-beta/database/ux2/delete-column-v2.png
  docs/static/img/v2-beta/database/ux2/delete-pk.gif
  docs/static/img/v2-beta/database/ux2/delete-rows-v2.png
  docs/static/img/v2-beta/database/ux2/delete-table-v2.png
  docs/static/img/v2-beta/database/ux2/edit-cell-v2.gif
  docs/static/img/v2-beta/database/ux2/edit-column-v2.png
  docs/static/img/v2-beta/database/ux2/edit-row-v2.png
  docs/static/img/v2-beta/database/ux2/edit-table-name-v2.png
  docs/static/img/v2-beta/database/ux2/export-schema-v2.png
  docs/static/img/v2-beta/database/ux2/filter-data-v2.png
  docs/static/img/v2-beta/database/ux2/join-on-fk-v2.gif
  docs/static/img/v2-beta/database/ux2/modify-pk.gif
  docs/static/img/v2-beta/database/ux2/newtable-v2.gif
  docs/static/img/v2-beta/database/ux2/search-v2.png
  docs/static/img/v2-beta/database/ux2/single-field-pk.gif
  docs/static/img/v2-beta/database/ux2/sort-v2.png
  docs/static/img/v2-beta/database/ux2/tables-v2.png
  docs/static/img/v2-beta/database/ux2/tjdb-v2.png
  docs/static/img/v2-beta/database/ux2/tjdbside-v2.png
Labels: active-review-docs-app

#9614 [docs]: add workspace variables migration guide
  docs/docs/org-management/workspaces/workspace-variables-migration.md
  docs/sidebars.js
  docs/static/img/workspace-const/client-side-variable.gif
  docs/static/img/workspace-const/delete-variable.gif
  docs/static/img/workspace-const/server-side-variable.gif
  docs/versioned_docs/version-2.39.0/org-management/workspaces/workspace-variables-migration.md
  docs/versioned_sidebars/version-2.39.0-sidebars.json
  docs/versions.json
Labels: active-review-docs-app

#9713 [docs]: Revamp custom css docs
  docs/docs/app-builder/customcss.md
  docs/static/img/v2-beta/app-builder/customcss/button-class-subclass.png
  docs/static/img/v2-beta/app-builder/customcss/button-component-customcss.png
  docs/static/img/v2-beta/app-builder/customcss/component-class.png
  docs/static/img/v2-beta/app-builder/customcss/custom-styles.png
  docs/static/img/v2-beta/app-builder/customcss/filter-button-customcss.png
  docs/static/img/v2-beta/app-builder/customcss/individual-class.png
  docs/static/img/v2-beta/app-builder/customcss/individual-customcss.png
  docs/static/img/v2-beta/app-builder/customcss/input-fields-customcss.png
  docs/versioned_docs/version-2.30.0/app-builder/customcss.md
  docs/versioned_docs/version-2.33.0/app-builder/customcss.md
  docs/versioned_docs/version-2.34.0/app-builder/customcss.md
  docs/versioned_docs/version-2.35.0/app-builder/customcss.md
  docs/versioned_docs/version-2.36.0/app-builder/customcss.md
  docs/versioned_docs/version-2.39.0/app-builder/customcss.md
Labels: active-review-docs-app

#9685 Modified workspace constants cypress test cases
  cypress-tests/cypress-workspace.config.js
  cypress-tests/cypress/constants/selectors/dataSource.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/globalDataSources/globalDataSourcePermissions.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/workspace/workspaceConstants.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/appCreate.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/userPermissions.cy.js
  cypress-tests/cypress/support/utils/dataSource.js
  cypress-tests/cypress/support/utils/manageUsers.js
  cypress-tests/cypress/support/utils/onboarding.js
Labels: cypress, run-cypress-workspace

#9764 [docs]: Update circular progressbar
  docs/docs/widgets/circular-progressbar.md
  docs/versioned_docs/version-2.30.0/widgets/circular-progressbar.md
  docs/versioned_docs/version-2.33.0/widgets/circular-progressbar.md
  docs/versioned_docs/version-2.34.0/widgets/circular-progressbar.md
  docs/versioned_docs/version-2.35.0/widgets/circular-progressbar.md
  docs/versioned_docs/version-2.36.0/widgets/circular-progressbar.md
  docs/versioned_docs/version-2.39.0/widgets/circular-progressbar.md
Labels: active-review-docs-app

#9812 Hotfix: TJDB query subpath
  server/src/services/tooljet_db_operations.service.ts
Labels: active-review-app

#9807 Fix: RestAPI multiform request
  plugins/packages/restapi/lib/index.ts
Labels: active-review-app

#9824 Revert masked constants
  .version
  frontend/.version
  frontend/src/Editor/CodeBuilder/CodeHinter.jsx
  frontend/src/Editor/Editor.jsx
  frontend/src/Editor/Viewer.jsx
  frontend/src/_components/OrgConstantsVariablesResolver/OrgConstantsVariablesPreviewBox.jsx
  frontend/src/_stores/currentStateStore.js
  server/.version
  server/src/controllers/organization_constants.controller.ts
  server/src/services/data_queries.service.ts
  server/src/services/organization_constants.service.ts
Labels: tested, test-system-deployed, active-path-review-app

#9545 Fixes Built with Tooljet" watermark and app mode switcher appear briefly before the correct login page loads.
  frontend/src/Editor/Viewer.jsx
  frontend/src/Editor/Viewer/DesktopHeader.jsx
  frontend/src/Editor/Viewer/TooljetBanner.jsx
Labels: needs testing

#9567 Fix duplicate text appearing at the bottom from the previous page in PDF widget
  frontend/src/Editor/Components/PDF.jsx
Labels: needs testing

#9561 chore: Remove vulnerabilities in FE packages
  frontend/package-lock.json
Labels: needs testing

#9161 chore: Removed unused packages in FE
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Editor/Components/Table/CustomDatePickerHeader.jsx
  frontend/src/index.jsx
Labels: run-ci, run-cypress

#8361 feat: Button component revamp
  frontend/src/Editor/CodeBuilder/Elements/Color.jsx
  frontend/src/Editor/Components/Button.jsx
  frontend/src/Editor/Inspector/Components/DefaultComponent.jsx
  frontend/src/Editor/Inspector/Inspector.jsx
  frontend/src/Editor/Inspector/Utils.js
  frontend/src/Editor/LeftSidebar/SidebarInspector.jsx
  frontend/src/Editor/WidgetManager/configs/button.js
  frontend/src/ToolJetUI/Loader/Loader.jsx
  frontend/src/ToolJetUI/Loader/Loader.scss
  frontend/src/_helpers/utils.js
  frontend/src/_styles/designtheme.scss
  frontend/src/_styles/theme.scss
  frontend/src/_ui/Input/index.js
Labels: suspend-review-app, appbuilder

#9862 hotfix : Form csa for onsubmit not getting triggered
  frontend/src/Editor/Components/Form/Form.jsx
Labels: tested

#9856 Fix: Foreign key drop down scroll bar moves to the top on each render
  frontend/src/Editor/QueryManager/QueryEditors/TooljetDatabase/SelectBox.jsx
Labels: suspend-review-app, database

#9813 Fix: Perform the substring search operation in the foreign key values
  frontend/src/Editor/QueryManager/QueryEditors/TooljetDatabase/DropDownSelect.jsx
  frontend/src/Editor/QueryManager/QueryEditors/TooljetDatabase/SelectBox.jsx
  frontend/src/TooljetDatabase/Forms/ColumnForm.jsx
  frontend/src/TooljetDatabase/Forms/EditColumnForm.jsx
  frontend/src/TooljetDatabase/Forms/EditRowForm.jsx
  frontend/src/TooljetDatabase/Forms/RowForm.jsx
  frontend/src/TooljetDatabase/Forms/TableSchema.jsx
  frontend/src/TooljetDatabase/Menu/CellEditMenu/index.jsx
  frontend/src/TooljetDatabase/Table/index.jsx
Labels: needs testing, active-review-app, database

#9838 Added cypress test cases for user invite flow
  cypress-tests/cypress/constants/selectors/manageSSO.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/inviteflow.cy.js
  cypress-tests/cypress/support/utils/onboarding.js
Labels: cypress, run-cypress-workspace

#9783 Fix : Stopped flickering effect upon opening and closing fk drawers
  frontend/src/TooljetDatabase/Drawers/BulkUploadDrawer/index.jsx
  frontend/src/TooljetDatabase/Drawers/CreateColumnDrawer/index.jsx
  frontend/src/TooljetDatabase/Drawers/CreateRowDrawer/index.jsx
  frontend/src/TooljetDatabase/Drawers/CreateTableDrawer/index.jsx
  frontend/src/TooljetDatabase/Drawers/EditRowDrawer/index.jsx
  frontend/src/TooljetDatabase/Forms/ColumnForm.jsx
  frontend/src/TooljetDatabase/Forms/EditColumnForm.jsx
  frontend/src/TooljetDatabase/Forms/ForeignKeyRelation.jsx
  frontend/src/TooljetDatabase/Table/index.jsx
  frontend/src/TooljetDatabase/TableListItem/index.jsx
  frontend/src/TooljetDatabase/TooljetDatabasePage/index.jsx
  frontend/src/_styles/drawer.scss
  frontend/src/_ui/Drawer/index.jsx
Labels: bug, run-ci, tested, suspend-review-app, database

#9723 Fix : Sidebar flickers upon changing the current table
  frontend/src/TooljetDatabase/TableList/index.jsx
Labels: bug, run-ci, tested, suspend-review-app

#9820 Added read documentation links for foreign key on ToolJet database dashboard drawers
  frontend/src/TooljetDatabase/Drawers/CreateColumnDrawer/index.jsx
  frontend/src/TooljetDatabase/Drawers/CreateRowDrawer/index.jsx
  frontend/src/TooljetDatabase/Drawers/CreateTableDrawer/index.jsx
  frontend/src/TooljetDatabase/Drawers/EditRowDrawer/index.jsx
  frontend/src/TooljetDatabase/Forms/ColumnForm.jsx
  frontend/src/TooljetDatabase/Forms/EditColumnForm.jsx
  frontend/src/TooljetDatabase/Forms/EditRowForm.jsx
  frontend/src/TooljetDatabase/Forms/ForeignKeyRelation.jsx
  frontend/src/TooljetDatabase/Forms/ForeignKeyTableForm.jsx
  frontend/src/TooljetDatabase/Forms/RowForm.jsx
  frontend/src/TooljetDatabase/Forms/TableForm.jsx
  frontend/src/TooljetDatabase/Forms/styles.scss
  frontend/src/TooljetDatabase/Table/index.jsx
  frontend/src/TooljetDatabase/TableListItem/index.jsx
  frontend/src/TooljetDatabase/TooljetDatabasePage/index.jsx
  frontend/src/_helpers/utils.js
  frontend/src/_stores/keyboardShortcutStore.js
  frontend/src/_styles/theme.scss
  frontend/src/_ui/Drawer/DrawerFooter/index.jsx
  frontend/src/_ui/Drawer/DrawerFooter/styles.scss
  frontend/src/_ui/Drawer/index.jsx
  frontend/src/_ui/Icon/solidIcons/ShiftButtonIcon.jsx
  frontend/src/_ui/Icon/solidIcons/index.js
Labels: tested, suspend-review-app, database

#9891 Added cypress test cases for private app redirection for a non existing…
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/editor/privateAndPublicApp.cy.js
Labels: cypress

#9908 [docs]: add LTS upgrade guide
  docs/docs/setup/azure-container.md
  docs/docs/setup/client.md
  docs/docs/setup/digitalocean.md
  docs/docs/setup/docker.md
  docs/docs/setup/ec2.md
  docs/docs/setup/ecs.md
  docs/docs/setup/google-cloud-run.md
  docs/docs/setup/helm.md
  docs/docs/setup/index.md
  docs/docs/setup/kubernetes-aks.md
  docs/docs/setup/kubernetes-gke.md
  docs/docs/setup/kubernetes.md
  docs/docs/setup/openshift.md
  docs/docs/setup/upgrade-to-lts.md
  docs/sidebars.js
  docs/versioned_docs/version-2.43.0/setup/azure-container.md
  docs/versioned_docs/version-2.43.0/setup/client.md
  docs/versioned_docs/version-2.43.0/setup/digitalocean.md
  docs/versioned_docs/version-2.43.0/setup/docker.md
  docs/versioned_docs/version-2.43.0/setup/ec2.md
  docs/versioned_docs/version-2.43.0/setup/ecs.md
  docs/versioned_docs/version-2.43.0/setup/google-cloud-run.md
  docs/versioned_docs/version-2.43.0/setup/helm.md
  docs/versioned_docs/version-2.43.0/setup/kubernetes-aks.md
  docs/versioned_docs/version-2.43.0/setup/kubernetes-gke.md
  docs/versioned_docs/version-2.43.0/setup/kubernetes.md
  docs/versioned_docs/version-2.43.0/setup/openshift.md
  docs/versioned_docs/version-2.43.0/setup/upgrade-to-lts.md
  docs/versioned_sidebars/version-2.43.0-sidebars.json
Labels: active-review-docs-app

#9894 fix: Bugfixes on LTS from app builder
  .version
  frontend/.version
  frontend/src/Editor/CodeEditor/MultiLineCodeEditor.jsx
  frontend/src/Editor/DragContainer.jsx
  frontend/src/Editor/Editor.jsx
  frontend/src/Editor/Inspector/Components/Table/Table.jsx
  frontend/src/Editor/QueryManager/Components/Transformation.jsx
  frontend/src/Editor/QueryManager/QueryEditors/Runjs/Runjs.jsx
  frontend/src/Editor/QueryManager/QueryEditors/Runpy.jsx
  frontend/src/Editor/SubContainer.jsx
  frontend/src/Editor/Viewer.jsx
  frontend/src/_components/DynamicForm.jsx
  frontend/src/_helpers/appUtils.js
  frontend/src/_helpers/editorHelpers.js
  frontend/src/_helpers/requestIdleCallbackPolyfill.js
  frontend/src/_stores/utils.js
  server/.version
Labels: tested

#9907 Fix: Handling of missing plugin_id in oauth data source parsing
  server/src/services/data_sources.service.ts
Labels: active-review-app

#9828 Fix : Caching the foreign key column options
  frontend/src/Editor/QueryManager/QueryEditors/TooljetDatabase/DropDownSelect.jsx
  frontend/src/Editor/QueryManager/QueryEditors/TooljetDatabase/SelectBox.jsx
  frontend/src/TooljetDatabase/Menu/CellEditMenu/index.jsx
  frontend/src/TooljetDatabase/Table/index.jsx
Labels: needs testing, run-ci, active-review-app, database

#9826 Foreign key dropdown added for cell edit
  frontend/src/Editor/QueryManager/QueryEditors/TooljetDatabase/DropDownSelect.jsx
  frontend/src/Editor/QueryManager/QueryEditors/TooljetDatabase/SelectBox.jsx
  frontend/src/TooljetDatabase/Menu/CellEditMenu/index.jsx
  frontend/src/TooljetDatabase/Menu/CellEditMenu/styles.module.scss
  frontend/src/_styles/theme.scss
Labels: tested, active-review-app

#9928 Fix : Changed copyright from No data available to No data found in fk options dropdown
  frontend/src/TooljetDatabase/Menu/CellEditMenu/index.jsx
Labels: run-ci

#9919 fix : Table breaking for nested array of objects
  .version
  frontend/.version
  frontend/src/Editor/Components/Table/Link.jsx
  frontend/src/Editor/Components/Table/String.jsx
  frontend/src/Editor/Components/Table/Tags.jsx
  frontend/src/Editor/Components/Table/Text.jsx
  frontend/src/Editor/Components/Table/columns/index.jsx
  server/.version
Labels: tested, run-cypress, appbuilder
