Repository ToolJet/ToolJet, pull requests merged in 2025-09, with the labels that each got.

#13952 Hotfix: gRPC test connection issue
  .version
  frontend/.version
  plugins/packages/grpcv2/lib/operations.ts
  server/.version
Labels: active-ce-review-app, active-ee-review-app, ready-to-merge

#13942 Toast message when dynamic height component is resized diagonally or …
  frontend/src/AppBuilder/AppCanvas/Grid/Grid.jsx
  frontend/src/AppBuilder/AppCanvas/Grid/gridUtils.js
Labels: tested, active-ee-review-app

#13915 EE Bug Fixes
  .version
  frontend/.version
  frontend/src/HomePage/HomePage.jsx
  frontend/src/LicenseTooltip/index.jsx
  frontend/src/modules/WorkspaceSettings/pages/Groups/components/BaseManageGranularAccess/BaseManageGranularAccess.jsx
  frontend/src/modules/WorkspaceSettings/pages/Groups/components/BaseManageGroupPermissions/BaseManageGroupPermissions.jsx
  frontend/src/modules/onboarding/components/OnboardingBackgroundWrapper/OnboardingBackgroundWrapper.jsx
  server/.version
  server/src/modules/group-permissions/dto/index.ts
  server/src/modules/group-permissions/services/duplicate.service.ts
  server/src/modules/import-export-resources/controller.ts
  server/src/modules/licensing/guards/editorUser.guard.ts
  server/src/modules/licensing/guards/resourceCount.guard.ts
  server/src/modules/organization-users/util.service.ts
Labels: ready-to-merge

#13964 Fix: gRPC credentials flow
  .version
  frontend/.version
  frontend/src/_components/DynamicForm.jsx
  plugins/packages/grpcv2/lib/index.ts
  plugins/packages/grpcv2/lib/operations.ts
  plugins/packages/grpcv2/lib/types.ts
  server/.version
Labels: active-ee-review-app, ready-to-merge

#13969 [docs]: OIDC Custom Scope
  docs/versioned_docs/version-3.16.0-LTS/user-management/group-sync/workspace-level/oidc-workspace.md
Labels: active-review-docs-app

#13843 Feat: Add Gmail plugin
  frontend/src/_components/ApiEndpointInput.jsx
  frontend/src/modules/dataSources/components/DataSourceManager/DataSourceManager.jsx
  marketplace/plugins/gmail/.gitignore
  marketplace/plugins/gmail/README.md
  marketplace/plugins/gmail/__tests__/index.js
  marketplace/plugins/gmail/lib/icon.svg
  marketplace/plugins/gmail/lib/index.ts
  marketplace/plugins/gmail/lib/manifest.json
  marketplace/plugins/gmail/lib/operations.json
  marketplace/plugins/gmail/lib/types.ts
  marketplace/plugins/gmail/package.json
  marketplace/plugins/gmail/tsconfig.json
  plugins/packages/common/lib/oauth.ts
  server/src/assets/marketplace/plugins.json
  server/src/modules/data-sources/util.service.ts
Labels: tested, marketplace-plugin-deployed, active-ce-review-app, active-ee-review-app

#13641 Fix SVG icon cropping in datasource list
  frontend/src/_styles/theme.scss
Labels: tested

#13643 Fix: Placeholder and description text changes in Postgresql, Mssql and Notion datasource
  plugins/packages/mssql/lib/operations.json
  plugins/packages/notion/lib/operations.json
  plugins/packages/postgresql/lib/operations.json
Labels: tested

#13980 [docs] Reposition ToolJet as AI-native internal application & agent builder (README + repo description)
  README.md
  docs/static/img/platform-overview/v2/agent-builder.png
  docs/static/img/platform-overview/v2/ai-app-builder.png
  docs/static/img/platform-overview/v2/ai-query-builder.png
  docs/static/img/platform-overview/v2/integrations.png
  docs/static/img/platform-overview/v2/multiplayer.png
  docs/static/img/platform-overview/v2/security-and-access-control.png
  docs/static/img/platform-overview/v2/tooljet-db.png
  docs/static/img/platform-overview/v2/visual-app-builder.png
  docs/versioned_docs/version-3.16.0-LTS/getting-started/platform-overview.md
Labels: active-review-docs-app

#13998 Fix: gRPC metadata flow
  .version
  frontend/.version
  plugins/packages/grpcv2/lib/index.ts
  plugins/packages/grpcv2/lib/operations.ts
  plugins/packages/grpcv2/lib/types.ts
  server/.version
Labels: active-ee-review-app, ready-to-merge

#14001 Fixed selected row overiding column color inside table
  frontend/src/AppBuilder/Widgets/NewTable/table.scss
Labels: tested

#13870 design: Changes version position from Navabar to account dropdown
  frontend/src/_ui/Header/index.jsx
  frontend/src/modules/common/components/BaseSettingsMenu/BaseSettingsMenu.jsx
Labels: suspend-ee-review-app, suspend-ce-review-app

#13972 Add mobile empty state handling and related components
  frontend/assets/images/logo-dark.svg
  frontend/assets/images/logo-light.svg
  frontend/src/App/App.jsx
  frontend/src/Routes/AppsRoute.jsx
  frontend/src/Routes/MobileBlock.jsx
  frontend/src/Routes/OrganizationInviteRoute.jsx
  frontend/src/Routes/WorkspaceRouteGuard.jsx
  frontend/src/_hooks/useMobileRouteGuard.js
  frontend/src/_ui/Icon/solidIcons/MobileEmptyStateIcon.jsx
  frontend/src/_ui/Icon/solidIcons/MobileEmptyStateIconDark.jsx
  frontend/src/_ui/Icon/solidIcons/index.js
  frontend/src/modules/dataSources/index.js
Labels: suspend-ee-review-app, suspend-ce-review-app

#13869 [docs]: App Builder LTS Docs Update
  docs/static/img/app-builder/custom-theme/custom-theme-app-v1.png
  docs/static/img/app-builder/custom-theme/default-theme-app-v1.png
  docs/static/img/app-builder/modules/create-module-modal.png
  docs/static/img/app-builder/modules/dashboard.png
  docs/static/img/app-builder/modules/export-module-card.png
  docs/static/img/app-builder/modules/import-module.png
  docs/static/img/app-builder/modules/module-builder.png
  docs/static/img/widgets/form/query-modal.png
  docs/static/img/widgets/form/query-output.png
  docs/versioned_docs/version-3.16.0-LTS/app-builder/custom-theme.md
  docs/versioned_docs/version-3.16.0-LTS/app-builder/embed-application.md
  docs/versioned_docs/version-3.16.0-LTS/app-builder/modules/create-module.md
  docs/versioned_docs/version-3.16.0-LTS/app-builder/modules/import-export.md
  docs/versioned_docs/version-3.16.0-LTS/app-builder/modules/input-output.md
  docs/versioned_docs/version-3.16.0-LTS/app-builder/modules/overview.md
  docs/versioned_docs/version-3.16.0-LTS/app-builder/modules/using-module.md
  docs/versioned_docs/version-3.16.0-LTS/widgets/form/form.md
  docs/versioned_sidebars/version-3.16.0-LTS-sidebars.json
Labels: suspend-review-docs-app

#14053 [docs]: Marketplace FedEx Plugin
  docs/static/img/marketplace/plugins/fedex/add-validation.png
  docs/static/img/marketplace/plugins/fedex/connection.png
  docs/static/img/marketplace/plugins/fedex/rate-quote.png
  docs/versioned_docs/version-3.16.0-LTS/marketplace/marketplace_overview.md
  docs/versioned_docs/version-3.16.0-LTS/marketplace/plugins/fedex.md
  docs/versioned_sidebars/version-3.16.0-LTS-sidebars.json
Labels: active-review-docs-app

#14045 Changed loading and empty state behaviour for table with dynamic height
  frontend/src/AppBuilder/Widgets/NewTable/Table.jsx
  frontend/src/AppBuilder/_stores/slices/gridSlice.js
  frontend/src/_hooks/useDynamicHeight.jsx
Labels: tested, active-ce-review-app, suspend-ee-review-app

#14054 fix: remove clientSidePagination check in setPage effect
  frontend/src/AppBuilder/Widgets/NewTable/_components/Footer/Footer.jsx
  frontend/src/AppBuilder/Widgets/NewTable/_components/Footer/_components/Pagination/Pagination.jsx
  frontend/src/AppBuilder/Widgets/NewTable/_components/Footer/_components/Pagination/PaginationInput.jsx
  frontend/src/AppBuilder/Widgets/NewTable/_components/TableExposedVariables/TableExposedVariables.jsx
  frontend/src/modules/common/components/BasePromoteReleaseButton/components/PromoteVersionButton/components/PromoteConfirmationModal/PromoteConfirmationModal.jsx
Labels: tested

#14086 Add cypress test cases for SAML user onboarding and group sync using okta
  cypress-tests/cypress/constants/selectors/eeCommon.js
  cypress-tests/cypress/constants/texts/manageSSO.js
  cypress-tests/cypress/e2e/happyPath/platform/SSO/oidc.okta.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/SSO/saml.okta.cy.js
  cypress-tests/cypress/support/utils/manageGroups.js
  cypress-tests/cypress/support/utils/manageSSO.js
Labels: cypress

#14016 [fix]: Add modules input support inside the queries
  frontend/src/AppBuilder/_hooks/useAppData.js
  frontend/src/AppBuilder/_stores/slices/appSlice.js
  frontend/src/AppBuilder/_stores/slices/queryPanelSlice.js
Labels: tested

#14039 [fix]: Re-generate codehinter suggestion on page switch
  frontend/src/AppBuilder/_hooks/useAppData.js
Labels: tested

#14109 Removed inline logic for changing position of components below dynami…
  frontend/src/AppBuilder/_stores/slices/gridSlice.js
Labels: tested

#14071 refactor: Expose child form components reference
  frontend/src/AppBuilder/AppCanvas/RenderWidget.jsx
Labels: tested, active-ee-review-app

#14129 refactor: enhance logging in bootstrap and licensing functions; update YjsGateway to use TransactionLogger
  server/src/helpers/bootstrap.helper.ts
  server/src/main.ts
  server/src/modules/events/yjs.gateway.ts
Labels: ready-to-merge

#14131 [docs]: AI Sept Release
  docs/docusaurus.config.js
  docs/static/img/sidebar-icons/build-with-ai.svg
  docs/static/img/tooljet-ai/credits/cloud-button.jpg
  docs/static/img/tooljet-ai/credits/cloud-modal.png
  docs/static/img/tooljet-ai/credits/sh-button.png
  docs/static/img/tooljet-ai/credits/sh-modal.png
  docs/static/img/tooljet-ai/fix-with-ai/ai-processing.png
  docs/static/img/tooljet-ai/fix-with-ai/apply-fix.png
  docs/static/img/tooljet-ai/fix-with-ai/code-hinter-error.png
  docs/static/img/tooljet-ai/fix-with-ai/example.png
  docs/static/img/tooljet-ai/gen-code/icon.png
  docs/static/img/tooljet-ai/gen-code/prompt.png
  docs/static/img/tooljet-ai/gen-code/results.png
  docs/static/img/tooljet-ai/generate-app/app.png
  docs/static/img/tooljet-ai/generate-app/ds.png
  docs/static/img/tooljet-ai/generate-app/modify.png
  docs/static/img/tooljet-ai/generate-app/prompt.png
  docs/static/img/tooljet-ai/generate-app/schema.png
  docs/static/img/tooljet-ai/generate-app/specs.png
  docs/static/img/tooljet-ai/generate-app/ui.png
  docs/static/img/tooljet-ai/learn-with-ai/chart.png
  docs/static/img/tooljet-ai/learn-with-ai/dropdown.png
  docs/static/img/tooljet-ai/learn-with-ai/form.png
  docs/static/img/tooljet-ai/learn-with-ai/table.png
  docs/versioned_docs/version-3.16.0-LTS/build-with-ai/ai-credits.md
  docs/versioned_docs/version-3.16.0-LTS/build-with-ai/ai-docs-assitant.md
  docs/versioned_docs/version-3.16.0-LTS/build-with-ai/debug-components.md
  docs/versioned_docs/version-3.16.0-LTS/build-with-ai/generate-applications.md
  docs/versioned_docs/version-3.16.0-LTS/build-with-ai/privacy.md
  docs/versioned_docs/version-3.16.0-LTS/setup/choose-your-tooljet.md
  docs/versioned_docs/version-3.16.0-LTS/tj-setup/licensing/cloud.md
  docs/versioned_docs/version-3.16.0-LTS/tj-setup/licensing/self-hosted.md
  docs/versioned_sidebars/version-3.16.0-LTS-sidebars.json
Labels: active-review-docs-app

#13850 Xero Plugin Intergration
  frontend/src/modules/dataSources/components/DataSourceManager/DataSourceManager.jsx
  marketplace/plugins/xero/.gitignore
  marketplace/plugins/xero/README.md
  marketplace/plugins/xero/__tests__/index.js
  marketplace/plugins/xero/lib/icon.svg
  marketplace/plugins/xero/lib/index.ts
  marketplace/plugins/xero/lib/manifest.json
  marketplace/plugins/xero/lib/operations.json
  marketplace/plugins/xero/lib/types.ts
  marketplace/plugins/xero/package.json
  marketplace/plugins/xero/tsconfig.json
  server/src/assets/marketplace/plugins.json
Labels: marketplace-plugin-deployed, suspend-ce-review-app

#14147 HomePage Bugs and New Banner
  frontend/src/App/App.jsx
  frontend/src/GetStarted/GetStartedHome.jsx
  frontend/src/HomePage/BasicPlanMigrationBanner/BasicPlanMigrationBanner.jsx
  frontend/src/HomePage/BasicPlanMigrationBanner/BasicPlanMigrationBanner.scss
  frontend/src/HomePage/HomePage.jsx
  frontend/src/WorkspaceConstants/index.jsx
  frontend/src/_helpers/routes.js
  frontend/src/_hooks/useSessionManagement.js
  frontend/src/modules/dataSources/pages/GlobalDataSourcesPage/index.jsx
Labels: create-ee-review-app, active-ce-review-app

#14019 Enhances Kanban widget with modal configuration options
  frontend/src/AppBuilder/AppCanvas/RenderWidget.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/DefaultComponent.jsx
  frontend/src/AppBuilder/RightSideBar/PageSettingsTab/PageMenu/PagesSidebarNavigation.jsx
  frontend/src/AppBuilder/WidgetManager/widgets/kanban.js
  frontend/src/AppBuilder/Widgets/Kanban/Components/Item.jsx
  frontend/src/AppBuilder/Widgets/Kanban/Components/Modal.jsx
  frontend/src/AppBuilder/Widgets/Kanban/Components/Trash.jsx
  frontend/src/AppBuilder/Widgets/Kanban/KanbanBoard.jsx
  server/data-migrations/1758569631987-UpdateTooltipForKanbanComponent.ts
  server/src/modules/apps/services/app-import-export.service.ts
  server/src/modules/apps/services/widget-config/kanban.js
Labels: tested, active-ce-review-app, active-ee-review-app

#14117 [Fix] : UI inconsistencies in the editor/viewer
  frontend/src/AppBuilder/Header/EditorHeader.jsx
  frontend/src/AppBuilder/Header/HeaderActions.jsx
  frontend/src/AppBuilder/Header/styles/style.scss
  frontend/src/AppBuilder/QueryManager/Components/ParameterDetails.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/Restapi/styles.css
  frontend/src/AppBuilder/QueryManager/QueryManager.jsx
  frontend/src/_styles/queryManager.scss
  frontend/src/_styles/versions.scss
Labels: tested, suspend-ce-review-app

#14089 Data source selector for Table & Listview
  frontend/src/AppBuilder/CodeBuilder/Elements/DropdownMenu/AddQueryBtn.jsx
  frontend/src/AppBuilder/CodeBuilder/Elements/DropdownMenu/DropdownMenu.jsx
  frontend/src/AppBuilder/CodeBuilder/Elements/DropdownMenu/styles.scss
  frontend/src/AppBuilder/CodeEditor/SingleLineCodeEditor.jsx
  frontend/src/AppBuilder/QueryManager/Components/DataSourceSelect.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Table/Table.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Utils.js
  frontend/src/AppBuilder/WidgetManager/widgets/form.js
  frontend/src/AppBuilder/WidgetManager/widgets/listview.js
  frontend/src/AppBuilder/WidgetManager/widgets/table.js
  frontend/src/AppBuilder/Widgets/Listview.jsx
  frontend/src/AppBuilder/Widgets/NewTable/Table.jsx
  frontend/src/AppBuilder/_stores/slices/dataQuerySlice.js
  server/src/modules/apps/services/widget-config/form.js
  server/src/modules/apps/services/widget-config/listview.js
  server/src/modules/apps/services/widget-config/table.js
Labels: tested, active-ce-review-app, active-ee-review-app, ready-to-merge

#14171 Feature : AWS Default Credential Provider Chain as an authentication option in AWS S3 datasource
  .version
  frontend/.version
  plugins/packages/s3/lib/index.ts
  plugins/packages/s3/lib/manifest.json
  release-scripts/tag-and-push.sh
  server/.version
Labels: active-ce-review-app, active-ee-review-app

#14189 Refactor: Move customer ID retrieval inside selfhost check in payment handler
  .version
  frontend/.version
  release-scripts/tag-and-push.sh
  server/.version
Labels: ready-to-merge

#14204 Fixed border not clipping overflow in custom component
  frontend/src/Editor/Components/CustomComponent/CustomComponent.jsx
Labels: tested

#13965 [dependency-pr] Workflows state management
  .gitignore
  frontend/src/AppBuilder/CodeEditor/MultiLineCodeEditor.jsx
  frontend/src/AppBuilder/CodeEditor/SingleLineCodeEditor.jsx
  frontend/src/_stores/workflowStore.js
Labels: active-ee-review-app, ready-to-merge
