Repository ToolJet/ToolJet, pull requests merged in 2025-02, with the labels that each got.

#11924 [docs]: GitSync Docs Update
  docs/docs/release-management/gitsync/delete-gitsync.md
  docs/docs/release-management/gitsync/git-pull.md
  docs/docs/release-management/gitsync/git-push.md
  docs/docs/release-management/gitsync/overview.md
  docs/docs/release-management/gitsync/ssh-config.md
  docs/docs/release-management/gitsync/tj-config.md
  docs/sidebars.js
  docs/static/img/gitsync/gitea/deploy-ssh.png
  docs/static/img/gitsync/gitea/final.png
  docs/static/img/gitsync/gitea/new-repo.png
  docs/static/img/gitsync/gitea/ssh-url.png
  docs/static/img/gitsync/gitsync-v3.png
  docs/versioned_docs/version-3.0.0-LTS/release-management/gitsync/delete-gitsync.md
  docs/versioned_docs/version-3.0.0-LTS/release-management/gitsync/git-pull.md
  docs/versioned_docs/version-3.0.0-LTS/release-management/gitsync/git-push.md
  docs/versioned_docs/version-3.0.0-LTS/release-management/gitsync/overview.md
  docs/versioned_docs/version-3.0.0-LTS/release-management/gitsync/ssh-config.md
  docs/versioned_docs/version-3.0.0-LTS/release-management/gitsync/tj-config.md
  docs/versioned_sidebars/version-3.0.0-LTS-sidebars.json
Labels: active-review-docs-app

#11910 redis-cypress-spec
  cypress-tests/cypress/e2e/happyPath/marketplace/commonTestcases/data-source/redisHappyPath.cy.js
  cypress-tests/cypress/support/utils/dataSource.js
Labels: active-review-app, run-cypress-marketplace

#11907 Fix: Add timeout configuration to mistral connection setup
  marketplace/plugins/mistral_ai/lib/index.ts
Labels: active-review-app, deploy-marketplace-plugin

#11855 Integrate Cohere Plugin with Core Operations for AI-Powered Data Processing
  marketplace/plugins/cohere/.gitignore
  marketplace/plugins/cohere/README.md
  marketplace/plugins/cohere/__tests__/index.js
  marketplace/plugins/cohere/lib/icon.svg
  marketplace/plugins/cohere/lib/index.ts
  marketplace/plugins/cohere/lib/manifest.json
  marketplace/plugins/cohere/lib/operations.json
  marketplace/plugins/cohere/lib/query_operations.ts
  marketplace/plugins/cohere/lib/types.ts
  marketplace/plugins/cohere/package.json
  marketplace/plugins/cohere/tsconfig.json
  server/src/assets/marketplace/plugins.json
Labels: active-review-app, marketplace-plugin-deployed

#11920 Fix page handle being wrong when fetching from exposed values in Viewer on initial reload
  .version
  frontend/.version
  frontend/src/AppBuilder/WidgetManager/widgets/listview.js
  frontend/src/AppBuilder/Widgets/Container.jsx
  frontend/src/AppBuilder/_hooks/useAppData.js
  frontend/src/AppBuilder/_stores/slices/componentsSlice.js
  frontend/src/Editor/WidgetManager/configs/listview.js
  frontend/src/_styles/components.scss
  frontend/src/_styles/table-component.scss
  server/.version
  server/src/helpers/widget-config/listview.js
Labels: tested

#11947 Integrate: Add new Weaviate plugin to the marketplace
  frontend/src/_components/DynamicForm.jsx
  frontend/src/_ui/Toggle/Toggle.scss
  marketplace/plugins/weaviate/lib/icon.svg
  marketplace/plugins/weaviate/lib/index.ts
  marketplace/plugins/weaviate/lib/manifest.json
  marketplace/plugins/weaviate/lib/operations.json
  marketplace/plugins/weaviate/lib/query_operations.ts
  marketplace/plugins/weaviate/lib/types.ts
  server/src/assets/marketplace/plugins.json
Labels: suspend-review-app, deploy-marketplace-plugin

#11940 Fix: AI plugin issues
  frontend/src/AppBuilder/DataSourceManager/DataSourceManager.jsx
  frontend/src/Editor/DataSourceManager/DataSourceManager.jsx
  frontend/src/_components/DynamicForm.jsx
  marketplace/plugins/anthropic/lib/manifest.json
  marketplace/plugins/anthropic/lib/operations.json
  marketplace/plugins/cohere/lib/manifest.json
  marketplace/plugins/cohere/lib/operations.json
  marketplace/plugins/gemini/lib/manifest.json
  marketplace/plugins/gemini/lib/operations.json
  marketplace/plugins/hugging_face/lib/operations.json
  marketplace/plugins/mistral_ai/lib/index.ts
  marketplace/plugins/mistral_ai/lib/operations.json
  marketplace/plugins/pinecone/lib/manifest.json
  marketplace/plugins/qdrant/lib/manifest.json
  marketplace/plugins/qdrant/lib/operations.json
Labels: active-review-app, deploy-marketplace-plugin

#11964 Fix: Change placeholder for safety_mode in advance parameters
  marketplace/plugins/cohere/lib/operations.json
Labels: active-review-app, deploy-marketplace-plugin

#11968 Enhance: Weaviate errors standardisation & preselect operations
  marketplace/plugins/weaviate/lib/index.ts
  marketplace/plugins/weaviate/lib/operations.json
  marketplace/plugins/weaviate/lib/query_operations.ts
Labels: active-review-app, deploy-marketplace-plugin, marketplace-plugin-deployed

#11948 [docs]: Home Page and URL Updates
  README.md
  docs/README.md
  docs/docs/app-builder/left-sidebar.md
  docs/docs/contributing-guide/documentation-guidelines/style-guide.md
  docs/docs/contributing-guide/setup/codespaces.md
  docs/docs/dashboard.md
  docs/docs/data-sources/custom-js.md
  docs/docs/data-sources/restapi/authentication.md
  docs/docs/data-sources/s3.md
  docs/docs/data-sources/stripe.md
  docs/docs/getting-started/quickstart-guide.md
  docs/docs/gitsync.md
  docs/docs/homePageData.js
  docs/docs/how-to/pass-values-in-rest-api.md
  docs/docs/how-to/use-axios.md
  docs/docs/project-overview/release-notes.md
  docs/docs/release-management/gitsync/overview.md
  docs/docs/setup/digitalocean.md
  docs/docs/setup/env-vars.md
  docs/docs/tooljet-db/tooljet-database.md
  docs/docs/tutorial/pages.md
  docs/docs/user-authentication/sso/github.md
  docs/docs/versions.md
  docs/docs/widgets/table/columns.md
  docs/docs/widgets/table/properties.md
  docs/versioned_docs/version-2.50.0-LTS/contributing-guide/documentation-guidelines/style-guide.md
  docs/versioned_docs/version-2.50.0-LTS/contributing-guide/setup/codespaces.md
  docs/versioned_docs/version-2.50.0-LTS/data-sources/custom-js.md
  docs/versioned_docs/version-2.50.0-LTS/data-sources/s3.md
  docs/versioned_docs/version-2.50.0-LTS/data-sources/stripe.md
  docs/versioned_docs/version-2.50.0-LTS/getting-started/quickstart-guide.md
  docs/versioned_docs/version-2.50.0-LTS/how-to/pass-values-in-rest-api.md
  docs/versioned_docs/version-2.50.0-LTS/how-to/use-axios.md
  docs/versioned_docs/version-2.50.0-LTS/org-management/licensing/cloud.md
  docs/versioned_docs/version-2.50.0-LTS/org-management/licensing/self-hosted.md
  docs/versioned_docs/version-2.50.0-LTS/setup/digitalocean.md
  docs/versioned_docs/version-2.50.0-LTS/tooljet-db/tooljet-database.md
  docs/versioned_docs/version-2.50.0-LTS/versions.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/table/columns.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/table/properties.md
  docs/versioned_docs/version-3.0.0-LTS/contributing-guide/setup/codespaces.md
  docs/versioned_docs/version-3.0.0-LTS/data-sources/custom-js.md
  docs/versioned_docs/version-3.0.0-LTS/data-sources/s3.md
  docs/versioned_docs/version-3.0.0-LTS/data-sources/stripe.md
  docs/versioned_docs/version-3.0.0-LTS/getting-started/quickstart-guide.md
  docs/versioned_docs/version-3.0.0-LTS/gitsync.md
  docs/versioned_docs/version-3.0.0-LTS/homePageData.js
  docs/versioned_docs/version-3.0.0-LTS/how-to/pass-values-in-rest-api.md
  docs/versioned_docs/version-3.0.0-LTS/how-to/use-axios.md
  docs/versioned_docs/version-3.0.0-LTS/release-management/gitsync/overview.md
  docs/versioned_docs/version-3.0.0-LTS/setup/digitalocean.md
  docs/versioned_docs/version-3.0.0-LTS/tooljet-db/tooljet-database.md
  docs/versioned_docs/version-3.0.0-LTS/versions.md
  docs/versioned_docs/version-3.0.0-LTS/widgets/table/columns.md
  docs/versioned_docs/version-3.0.0-LTS/widgets/table/properties.md
Labels: active-review-docs-app

#11969 [docs]: AI doc update
  docs/static/img/tooljet-ai/generate01.png
  docs/static/img/tooljet-ai/generate02.png
  docs/static/img/tooljet-ai/generate03.png
  docs/static/img/tooljet-ai/generate04.png
  docs/static/img/tooljet-ai/generate05.png
  docs/versioned_docs/version-3.0.0-LTS/build-with-ai/generate-applications.md
Labels: active-review-docs-app

#11973 [fix] : bug fixed download csa in chat component
  frontend/src/AppBuilder/Widgets/Chat/index.jsx
Labels: run-ci

#11512 Fix: mssql connection options are now configurable
  plugins/packages/mssql/lib/index.ts
  plugins/packages/mssql/lib/manifest.json
  plugins/packages/mssql/lib/types.ts
Labels: suspend-review-app

#11514 Fix while copy pasting single or multiple components, the component overlaps after the 2nd paste.
  frontend/src/AppBuilder/AppCanvas/AppCanvas.jsx
  frontend/src/AppBuilder/AppCanvas/Container.jsx
  frontend/src/AppBuilder/AppCanvas/Grid/gridUtils.js
  frontend/src/AppBuilder/AppCanvas/appCanvasUtils.js
  frontend/src/AppBuilder/_stores/slices/componentsSlice.js
  frontend/src/AppBuilder/_stores/slices/gridSlice.js
Labels: tested

#11978 Hotfix: Support for pagination in GitHub plugin
  marketplace/plugins/github/lib/operations.json
  marketplace/plugins/github/lib/query_operations.ts
  marketplace/plugins/github/lib/types.ts
Labels: tested, active-review-app, marketplace-plugin-deployed

#11896 Fix failing cypress test cases
  .github/workflows/cypress-appbuilder.yml
  .github/workflows/cypress-marketplace.yml
  cypress-tests/cypress.config.js
  cypress-tests/cypress/commands/commands.js
  cypress-tests/cypress/constants/texts/dataSource.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/appImportAndExport.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/dataSources/dataSourcePermissions.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/userManagment/Signup.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/userManagment/UserInviteFlow.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/userManagment/bulkUsersUpload.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/userManagment/resetPassword.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/groups/basicPermissions.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/groups/permissions.cy.js
  cypress-tests/cypress/fixtures/bulkUser/10usersupload.csv
  cypress-tests/cypress/fixtures/bulkUser/3usersupload.csv
  cypress-tests/cypress/fixtures/bulkUser/500_invite_users.csv
  cypress-tests/cypress/fixtures/bulkUser/empty_first_and_last_name - Sheet1.csv
  cypress-tests/cypress/fixtures/bulkUser/empty_first_and_last_name.csv
  cypress-tests/cypress/fixtures/bulkUser/invite_users.csv
  cypress-tests/cypress/fixtures/bulkUser/multiple_groups - Sheet1.csv
  cypress-tests/cypress/fixtures/bulkUser/multiple_groups.csv
  cypress-tests/cypress/fixtures/bulkUser/non_existing_group.csv
  cypress-tests/cypress/fixtures/bulkUser/same_email.csv
  cypress-tests/cypress/fixtures/bulkUser/without_email - Sheet1.csv
  cypress-tests/cypress/fixtures/bulkUser/without_email.csv
  cypress-tests/cypress/fixtures/bulkUser/without_name - Sheet1.csv
  cypress-tests/cypress/fixtures/bulkUser/without_name.csv
  cypress-tests/cypress/fixtures/bulkUser/without_role.csv
  cypress-tests/cypress/support/utils/apps.js
  cypress-tests/cypress/support/utils/manageUsers.js
  cypress-tests/cypress/support/utils/onboarding.js
  cypress-tests/cypress/support/utils/userPermissions.js
Labels: suspend-review-app, cypress, active-path-review-app, run-cypress-platform-proxy-subpath

#11984 [docs]: Add Supabase Example Response
  docs/docs/marketplace/plugins/supabase.md
  docs/versioned_docs/version-3.0.0-LTS/marketplace/plugins/supabase.md
Labels: active-review-docs-app

#11988 [docs]: GitHub Plugin - Add Images and Optional Parameters
  docs/docs/marketplace/plugins/github.md
  docs/static/img/marketplace/plugins/github/get-issue.png
  docs/static/img/marketplace/plugins/github/get-pull.png
  docs/static/img/marketplace/plugins/github/get-repo.png
  docs/static/img/marketplace/plugins/github/getuserinfo-v3.png
  docs/versioned_docs/version-3.0.0-LTS/marketplace/plugins/github.md
Labels: suspend-review-docs-app

#11986 [docs]: Update Docker Image, Favicon, Anti Patterns
  docs/docs/app-builder/anti-patterns.md
  docs/docs/setup/choose-your-tooljet.md
  docs/docusaurus.config.js
  docs/static/img/tooljet-ai-favicon.svg
  docs/versioned_docs/version-3.0.0-LTS/app-builder/anti-patterns.md
  docs/versioned_docs/version-3.0.0-LTS/setup/choose-your-tooljet.md
Labels: suspend-review-docs-app

#11985 Fix: Error standardisation OpenAI
  marketplace/plugins/openai/lib/index.ts
  marketplace/plugins/openai/lib/operations.json
  marketplace/plugins/openai/lib/query_operations.ts
  marketplace/plugins/openai/lib/types.ts
Labels: active-review-app, deploy-marketplace-plugin

#12011 [docs]: Update White Labeling
  docs/docs/Enterprise/white-label.md
  docs/docs/setup/choose-your-tooljet.md
  docs/static/img/enterprise/white-label/cloud.png
  docs/static/img/enterprise/white-label/favicon-v3.png
  docs/static/img/enterprise/white-label/self-hosted.png
  docs/static/img/enterprise/white-label/whitelabelling.png
  docs/versioned_docs/version-3.0.0-LTS/Enterprise/white-label.md
  docs/versioned_docs/version-3.0.0-LTS/setup/choose-your-tooljet.md
Labels: active-review-docs-app

#11662 Feat: Import ToolJet templates with the ability to auto-install dependent plugins.
  frontend/src/HomePage/HomePage.jsx
  frontend/src/_services/library-app.service.js
  server/src/controllers/library_apps.controller.ts
  server/src/services/library_app_creation.service.ts
  server/src/services/plugins.service.ts
Labels: needs testing, suspend-review-app

#11801 feat: Nested routing for marketplace page
  frontend/src/App/App.jsx
  frontend/src/GlobalDatasources/GlobalDataSourcesPage/index.jsx
  frontend/src/MarketplacePage/InstalledPlugins.jsx
  frontend/src/MarketplacePage/MarketplacePlugins.jsx
  frontend/src/MarketplacePage/index.jsx
  frontend/src/_components/Settings.jsx
  frontend/src/_helpers/routes.js
  frontend/src/_helpers/utils.js
  frontend/src/_ui/Breadcrumbs/index.jsx
  frontend/src/_ui/Header/index.jsx
Labels: needs testing, active-review-app

#11981 Hotfix: Global datasource page crashes when we navigate from the add new data source flow in query manager.
  frontend/src/GlobalDatasources/GlobalDataSourcesPage/index.jsx
Labels: tested, suspend-review-app

#11756 [Feat] : Bulk update using primary key
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/BulkUploadPrimaryKey.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/ToolJetDbOperations.jsx
  server/src/services/tooljet_db_bulk_upload.service.ts
  server/src/services/tooljet_db_operations.service.ts
Labels: run-ci, active-review-app

#11728 [Fix]: JSON data types should highlight relevant fields when we pass an empty string
  frontend/src/AppBuilder/CodeEditor/TJDBHinter.jsx
  frontend/src/TooljetDatabase/Forms/EditRowForm.jsx
  frontend/src/TooljetDatabase/Forms/RowForm.jsx
  frontend/src/TooljetDatabase/Forms/styles.scss
Labels: run-ci, active-review-app

#11699 TJDB: FKR drawer opens after adding new column during table editing
  frontend/src/TooljetDatabase/Forms/TableKeyRelations.jsx
Labels: run-ci

#11575 Fix : Key field width should cover full screen under column section in TJDB query manager
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/CreateRow.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/RenderColumnUI.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/UpdateRows.jsx
Labels: run-ci, suspend-review-app

#11550 Fix: AWS Lambda label
  server/src/assets/marketplace/plugins.json
Labels: suspend-review-app

#11578 Refactor: Use @apidevtools/json-schema-ref-parser for $ref resolution
  frontend/package-lock.json
  frontend/package.json
  frontend/src/AppBuilder/QueryManager/QueryEditors/Openapi.jsx
  frontend/src/Editor/QueryManager/QueryEditors/Openapi.jsx
  frontend/src/_services/openapi.service.js
  frontend/webpack.config.js
  plugins/packages/openapi/lib/index.ts
Labels: suspend-review-app

#11780 [Enhancement] : UI for Creating template modal
  frontend/src/HomePage/HomePage.jsx
  frontend/src/_components/AppModal.jsx
  frontend/src/_components/PluginsListForAppModal.jsx
Labels: run-ci, suspend-review-app

#11655 Fix: Remove max-width from Codehinter in RestAPI in CE
  frontend/src/_styles/theme.scss
Labels: suspend-review-app

#11649 Enhance: Add detailed error descriptions for MongoDB plugin in CE
  plugins/packages/mongodb/lib/index.ts
Labels: suspend-review-app

#11650 Enhance: Add detailed error descriptions for AWS Redshift in CE
  marketplace/plugins/awsredshift/lib/index.ts
Labels: suspend-review-app

#12024 [docs]: Update OpenAI Screenshots
  docs/docs/marketplace/plugins/openai.md
  docs/static/img/marketplace/plugins/openai/chat-v3.png
  docs/static/img/marketplace/plugins/openai/completions-v3.png
  docs/static/img/marketplace/plugins/openai/connection-v4.png
  docs/static/img/marketplace/plugins/openai/embedding-v2.png
  docs/static/img/marketplace/plugins/openai/generate-ai-images-v2.png
  docs/versioned_docs/version-3.0.0-LTS/marketplace/plugins/openai.md
Labels: active-review-docs-app

#12029 [docs]: Update Logo and Add Factor Script
  docs/docusaurus.config.js
  docs/static/img/docs_logo.svg
Labels: active-review-docs-app

#12021 [Fix] : Made content width to 100% for request field in rest api query manager
  frontend/src/AppBuilder/QueryManager/QueryEditors/Restapi/BaseUrl.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/Restapi/index.jsx
  frontend/src/_components/OverflowTooltip.jsx
  frontend/src/_styles/queryManager.scss
  frontend/src/_styles/theme.scss
Labels: run-ci, tested, suspend-review-app

#12033 [docs]: Update Devices Section
  docs/docs/org-management/licensing/cloud.md
  docs/docs/org-management/licensing/self-hosted.md
  docs/docs/widgets/button.md
  docs/docs/widgets/checkbox.md
  docs/docs/widgets/dropdown.md
  docs/docs/widgets/multiselect.md
  docs/docs/widgets/radio-button.md
  docs/versioned_docs/version-3.0.0-LTS/org-management/licensing/cloud.md
  docs/versioned_docs/version-3.0.0-LTS/org-management/licensing/self-hosted.md
  docs/versioned_docs/version-3.0.0-LTS/widgets/button.md
  docs/versioned_docs/version-3.0.0-LTS/widgets/checkbox.md
  docs/versioned_docs/version-3.0.0-LTS/widgets/dropdown.md
  docs/versioned_docs/version-3.0.0-LTS/widgets/multiselect.md
  docs/versioned_docs/version-3.0.0-LTS/widgets/radio-button.md
Labels: active-review-docs-app

#12073 [docs]: Add Import Export API
  docs/docs/tutorial/tooljet-api.md
  docs/versioned_docs/version-3.0.0-LTS/tutorial/tooljet-api.md
Labels: active-review-docs-app
