Repository ToolJet/ToolJet, pull requests merged in 2025-08, with the labels that each got.

#13596 Fix: Not able to switch queries on Editor once app is promoted or released
  frontend/src/AppBuilder/QueryPanel/QueryCard.jsx
Labels: active-ee-review-app

#13560 [fix]: Table rowClick event is triggered on page reload
  frontend/src/AppBuilder/Widgets/NewTable/_components/TableContainer/TableContainer.jsx
  frontend/src/AppBuilder/Widgets/NewTable/_components/TableExposedVariables/TableExposedVariables.jsx
Labels: active-ce-review-app

#13602 Modules Import Fix
  server/src/modules/apps/services/app-import-export.service.ts
  server/src/modules/import-export-resources/service.ts
Labels: ready-to-merge

#13585 Makes config handle open component properties panel
  frontend/src/AppBuilder/AppCanvas/ConfigHandle/ConfigHandle.jsx
Labels: active-ee-review-app

#13600 Fix: OpenAI datasource generate embedding operation and error standardisation
  marketplace/plugins/openai/lib/index.ts
  marketplace/plugins/openai/lib/operations.json
  marketplace/plugins/openai/lib/query_operations.ts
  marketplace/plugins/openai/lib/types.ts
Labels: tested

#13609 Bug fixes
  frontend/src/AppBuilder/Widgets/Container/Container.jsx
  frontend/src/AppBuilder/Widgets/Form/Form.jsx
  frontend/src/AppBuilder/Widgets/Listview.jsx
  frontend/src/AppBuilder/Widgets/NewTable/Table.jsx
  frontend/src/AppBuilder/Widgets/Tabs.jsx
  frontend/src/AppBuilder/Widgets/TextArea.jsx
  frontend/src/AppBuilder/_stores/slices/eventsSlice.js
  frontend/src/AppBuilder/_stores/slices/gridSlice.js
  frontend/src/Editor/Components/CodeEditor.jsx
  frontend/src/Editor/Components/RichTextEditor.jsx
  frontend/src/Editor/Components/Steps.jsx
  frontend/src/Editor/Components/Text.jsx
  frontend/src/Editor/Components/utils.js
  frontend/src/_hooks/useDynamicHeight.jsx
Labels: tested

#13611 Git sync data migration issue
  frontend/src/_services/login_configs.service.js
  frontend/src/_ui/Layout/index.jsx
  frontend/src/modules/common/components/BasePromoteReleaseButton/components/PromoteVersionButton/components/PromoteConfirmationModal/PromoteConfirmationModal.jsx
  server/data-migrations/1754048735123-MigrateSSHBranchColumnData.ts
  server/migrations/1748501592120-AddSSHBranchColumn.ts
Labels: ready-to-merge

#13615 Fix: Request and Response objects undefined in debugger for failed REST API queries
  frontend/src/AppBuilder/_stores/slices/queryPanelSlice.js
Labels: tested, active-ce-review-app

#13461 [docs]: PAT for Embed Application
  docs/docs/user-management/authentication/self-hosted/pat.md
  docs/sidebars.js
Labels: suspend-review-docs-app

#13336 [docs]: Promote and Release Applications
  docs/docs/development-lifecycle/environment/cloud/multi-environment.md
  docs/docs/development-lifecycle/environment/self-hosted/multi-environment.md
  docs/docs/development-lifecycle/release/release-rollback.md
  docs/docs/user-management/role-based-access/access-control.md
  docs/docs/user-management/role-based-access/user-roles.md
  docs/docs/workflows/permissions.md
  docs/static/img/development-lifecycle/environments/disable-button.png
  docs/static/img/development-lifecycle/release/release/disable-release.png
  docs/static/img/user-management/rbac/access-control/workflow.png
  docs/static/img/user-management/rbac/access-control/workflow_config.png
Labels: suspend-review-docs-app

#13041 [docs]: OIDC group sync instance level
  docs/docs/user-management/group-sync/instance-level/oidc-instance.md
  docs/docs/user-management/group-sync/workspace-level/oidc-workspace.md
  docs/sidebars.js
  docs/static/img/user-management/group-sync/oidc/add_ws.png
  docs/static/img/user-management/group-sync/oidc/delete.png
  docs/static/img/user-management/group-sync/oidc/disable.png
  docs/static/img/user-management/group-sync/oidc/setup.png
Labels: suspend-review-docs-app

#13232 [docs]: Custom Branch SSH Protocol gitsync
  docs/docs/development-lifecycle/gitsync/gitsync-config.md
  docs/static/img/development-lifecycle/gitsync/config/custom-branch.png
Labels: suspend-review-docs-app

#12998 [docs]: Gitsync CICD
  docs/docs/development-lifecycle/cicd/example.md
  docs/docs/development-lifecycle/cicd/gitsync-api.md
  docs/docs/development-lifecycle/cicd/overview.md
  docs/docs/tooljet-api.md
  docs/sidebars.js
  docs/static/img/development-lifecycle/gitsync/cicd/jenkins.png
Labels: suspend-review-docs-app

#13634 Fix module on drag disappearing
  frontend/src/AppBuilder/AppCanvas/AppCanvas.jsx
  frontend/src/AppBuilder/AppCanvas/Container.jsx
  frontend/src/AppBuilder/AppCanvas/Grid/Grid.jsx
  frontend/src/AppBuilder/AppCanvas/Grid/gridUtils.js
  frontend/src/AppBuilder/AppCanvas/Grid/helpers/dragEnd.js
  frontend/src/AppBuilder/AppCanvas/useCanvasDropHandler.js
Labels: tested

#13648 fix: Improve action column width calculation
  frontend/src/AppBuilder/Widgets/NewTable/_components/TableData/_components/TableRow.jsx
  frontend/src/AppBuilder/Widgets/NewTable/_utils/generateActionColumns.js
  frontend/src/_styles/table-component.scss
Labels: tested

#13652 fix: Update accessor key for cell value retrieval in generateColumnData function
  frontend/src/AppBuilder/Widgets/NewTable/_utils/generateColumnsData.js
Labels: tested

#13540 Fix: Enforce a timeout for SQL statements executed via PostgreSQL connections.
  .version
  frontend/.version
  plugins/packages/postgresql/lib/index.ts
  server/.version
Labels: tested, active-review-app

#13656 Adds comprehensive overflow management and box-sizing constraints to prevent content spillover and layout issues across both rendering modes.
  frontend/src/AppBuilder/Widgets/Tabs.jsx
Labels: tested

#13649 [docs]: Post Release Updates
  docs/docs/setup/choose-your-tooljet.md
  docs/docs/versions.md
  docs/docusaurus.config.js
  docs/versioned_docs/version-2.50.0-LTS/versions.md
  docs/versioned_docs/version-3.0.0-LTS/versions.md
  docs/versioned_docs/version-3.16.0-LTS/setup/ami.md
  docs/versioned_docs/version-3.16.0-LTS/setup/choose-your-tooljet.md
  docs/versioned_docs/version-3.16.0-LTS/setup/docker.md
  docs/versioned_docs/version-3.16.0-LTS/setup/ecs.md
  docs/versioned_docs/version-3.16.0-LTS/setup/google-cloud-run.md
  docs/versioned_docs/version-3.16.0-LTS/setup/kubernetes-aks.md
  docs/versioned_docs/version-3.16.0-LTS/setup/kubernetes-eks.md
  docs/versioned_docs/version-3.16.0-LTS/setup/kubernetes-gke.md
  docs/versioned_docs/version-3.16.0-LTS/setup/kubernetes.md
  docs/versioned_docs/version-3.16.0-LTS/setup/openshift.md
  docs/versioned_docs/version-3.16.0-LTS/setup/try-tooljet.md
  docs/versioned_docs/version-3.16.0-LTS/versions.md
  docs/versioned_docs/version-3.5.0-LTS/versions.md
Labels: active-review-docs-app

#13607 [docs]: LDAP Multiple OU
  docs/docs/user-management/sso/ldap.md
  docs/versioned_docs/version-3.5.0-LTS/user-management/sso/ldap.md
Labels: suspend-review-docs-app

#13682 [docs]: Update LDAP OU Env Var
  docs/versioned_docs/version-3.5.0-LTS/user-management/sso/ldap.md
Labels: active-review-docs-app

#13675 Dropdown/Multiselect breaking in Listview fix
  frontend/src/AppBuilder/_stores/slices/componentsSlice.js
Labels: tested

#13688 Fix shrinking subcontainer issue on dragging
  frontend/src/AppBuilder/AppCanvas/Grid/Grid.jsx
  frontend/src/AppBuilder/AppCanvas/Grid/gridUtils.js
Labels: tested

#13713 Fix config handle not appearing on Modal and Modalv2
  frontend/src/AppBuilder/AppCanvas/ConfigHandle/ConfigHandle.jsx
  frontend/src/AppBuilder/Widgets/Modal.jsx
  frontend/src/AppBuilder/Widgets/ModalV2/Components/Modal.jsx
Labels: tested

#13707 [docs]: Update Env Var
  docs/versioned_docs/version-3.16.0-LTS/setup/env-vars.md
  docs/versioned_docs/version-3.5.0-LTS/setup/env-vars.md
Labels: active-review-docs-app

#13733 Bug fixes
  frontend/src/AppBuilder/CodeBuilder/Elements/Icon.jsx
  frontend/src/AppBuilder/CodeBuilder/Elements/Visibility.jsx
  frontend/src/AppBuilder/CodeEditor/MultiLineCodeEditor.jsx
  frontend/src/AppBuilder/CodeEditor/SingleLineCodeEditor.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/TabComponent.jsx
Labels: tested

#13737 Fix/stripe old component
  frontend/src/_components/ApiEndpointInputOld.jsx
  frontend/src/_components/DynamicForm.jsx
  plugins/packages/stripe/lib/operations.json
Labels: tested, create-ee-review-app, active-ce-review-app

#13653 Fix: Filter popup and TJDB drawer labels
  frontend/src/TooljetDatabase/Filter/index.jsx
  frontend/src/TooljetDatabase/Filter/styles.scss
  frontend/src/TooljetDatabase/Forms/ColumnsForm.jsx
  frontend/src/TooljetDatabase/Forms/styles.scss
Labels: tested, suspend-ee-review-app, suspend-ce-review-app

#13581 Feat/ms graph pre release
  frontend/src/_components/ApiEndpointInput.jsx
  frontend/src/_components/OAuthWrapper.jsx
  frontend/src/_ui/OAuth/GrantTypes.jsx
  frontend/src/_ui/OAuth/index.js
  frontend/src/modules/dataSources/components/DataSourceManager/DataSourceManager.jsx
  marketplace/plugins/microsoft_graph/.gitignore
  marketplace/plugins/microsoft_graph/README.md
  marketplace/plugins/microsoft_graph/__tests__/index.js
  marketplace/plugins/microsoft_graph/lib/icon.svg
  marketplace/plugins/microsoft_graph/lib/index.ts
  marketplace/plugins/microsoft_graph/lib/manifest.json
  marketplace/plugins/microsoft_graph/lib/operations.json
  marketplace/plugins/microsoft_graph/lib/types.ts
  marketplace/plugins/microsoft_graph/package.json
  marketplace/plugins/microsoft_graph/tsconfig.json
  marketplace/plugins/salesforce/lib/manifest.json
  plugins/packages/common/lib/oauth.ts
  server/src/assets/marketplace/plugins.json
  server/src/modules/data-sources/util.service.ts
Labels: marketplace-plugin-deployed, active-ce-review-app

#13738 Release : Marketplace Sprint 12
  .version
  frontend/.version
  frontend/src/TooljetDatabase/Filter/index.jsx
  frontend/src/TooljetDatabase/Filter/styles.scss
  frontend/src/TooljetDatabase/Forms/ColumnsForm.jsx
  frontend/src/TooljetDatabase/Forms/styles.scss
  frontend/src/_components/ApiEndpointInput.jsx
  frontend/src/_components/ApiEndpointInputOld.jsx
  frontend/src/_components/DynamicForm.jsx
  frontend/src/_components/OAuthWrapper.jsx
  frontend/src/_ui/OAuth/GrantTypes.jsx
  frontend/src/_ui/OAuth/index.js
  frontend/src/modules/dataSources/components/DataSourceManager/DataSourceManager.jsx
  marketplace/plugins/aftership/.gitignore
  marketplace/plugins/aftership/README.md
  marketplace/plugins/aftership/__tests__/index.js
  marketplace/plugins/aftership/lib/icon.svg
  marketplace/plugins/aftership/lib/index.ts
  marketplace/plugins/aftership/lib/manifest.json
  marketplace/plugins/aftership/lib/operations.json
  marketplace/plugins/aftership/lib/types.ts
  marketplace/plugins/aftership/package.json
  marketplace/plugins/aftership/tsconfig.json
  marketplace/plugins/microsoft_graph/.gitignore
  marketplace/plugins/microsoft_graph/README.md
  marketplace/plugins/microsoft_graph/__tests__/index.js
  marketplace/plugins/microsoft_graph/lib/icon.svg
  marketplace/plugins/microsoft_graph/lib/index.ts
  marketplace/plugins/microsoft_graph/lib/manifest.json
  marketplace/plugins/microsoft_graph/lib/operations.json
  marketplace/plugins/microsoft_graph/lib/types.ts
  marketplace/plugins/microsoft_graph/package.json
  marketplace/plugins/microsoft_graph/tsconfig.json
  marketplace/plugins/salesforce/lib/manifest.json
  plugins/packages/common/lib/oauth.ts
  plugins/packages/stripe/lib/operations.json
  server/.version
  server/src/assets/marketplace/plugins.json
  server/src/modules/data-sources/util.service.ts
Labels: marketplace-plugin-deployed, suspend-ee-review-app, suspend-ce-review-app, ready-to-merge

#13795 fix: update ssl_enabled value retrieval in SampleDataSourceService
  server/src/modules/data-sources/services/sample-ds.service.ts
Labels: ready-to-merge

#13818 Feat: Add google cloud spanner marketplace plugin
  frontend/src/_components/DynamicForm.jsx
  marketplace/package-lock.json
  marketplace/plugins/spanner/.gitignore
  marketplace/plugins/spanner/README.md
  marketplace/plugins/spanner/__tests__/index.js
  marketplace/plugins/spanner/lib/icon.svg
  marketplace/plugins/spanner/lib/index.ts
  marketplace/plugins/spanner/lib/manifest.json
  marketplace/plugins/spanner/lib/operations.json
  marketplace/plugins/spanner/lib/types.ts
  marketplace/plugins/spanner/package.json
  marketplace/plugins/spanner/tsconfig.json
  server/package-lock.json
  server/package.json
  server/src/assets/marketplace/plugins.json
Labels: tested

#13805 Feat: Add the UPS plugin to marketplace
  frontend/src/_components/ApiEndpointInput.jsx
  frontend/src/_styles/theme.scss
  frontend/src/modules/dataSources/components/DataSourceManager/DataSourceManager.jsx
  marketplace/package-lock.json
  marketplace/plugins/ups/.gitignore
  marketplace/plugins/ups/README.md
  marketplace/plugins/ups/__tests__/index.js
  marketplace/plugins/ups/lib/icon.svg
  marketplace/plugins/ups/lib/index.ts
  marketplace/plugins/ups/lib/manifest.json
  marketplace/plugins/ups/lib/operations.json
  marketplace/plugins/ups/lib/types.ts
  marketplace/plugins/ups/package.json
  marketplace/plugins/ups/tsconfig.json
  server/src/assets/marketplace/plugins.json
Labels: marketplace-plugin-deployed, active-ce-review-app, active-ee-review-app

#13820 Release : Marketplace plugins
  frontend/src/_components/ApiEndpointInput.jsx
  frontend/src/_components/DynamicForm.jsx
  frontend/src/_styles/theme.scss
  frontend/src/_ui/OAuth/GrantTypes.jsx
  frontend/src/_ui/OAuth/index.js
  frontend/src/modules/dataSources/components/DataSourceManager/DataSourceManager.jsx
  marketplace/package-lock.json
  marketplace/plugins/spanner/.gitignore
  marketplace/plugins/spanner/README.md
  marketplace/plugins/spanner/__tests__/index.js
  marketplace/plugins/spanner/lib/icon.svg
  marketplace/plugins/spanner/lib/index.ts
  marketplace/plugins/spanner/lib/manifest.json
  marketplace/plugins/spanner/lib/operations.json
  marketplace/plugins/spanner/lib/types.ts
  marketplace/plugins/spanner/package.json
  marketplace/plugins/spanner/tsconfig.json
  marketplace/plugins/ups/.gitignore
  marketplace/plugins/ups/README.md
  marketplace/plugins/ups/__tests__/index.js
  marketplace/plugins/ups/lib/icon.svg
  marketplace/plugins/ups/lib/index.ts
  marketplace/plugins/ups/lib/manifest.json
  marketplace/plugins/ups/lib/operations.json
  marketplace/plugins/ups/lib/types.ts
  marketplace/plugins/ups/package.json
  marketplace/plugins/ups/tsconfig.json
  plugins/packages/graphql/lib/manifest.json
  plugins/packages/restapi/lib/manifest.json
  server/package-lock.json
  server/package.json
  server/src/assets/marketplace/plugins.json
Labels: marketplace-plugin-deployed, active-ce-review-app, active-ee-review-app

#13714 Platform P1P2 Issues PostRelease Fixes
  .version
  frontend/.version
  frontend/src/Editor/Editor.jsx
  frontend/src/Editor/Viewer.jsx
  frontend/src/HomePage/styles/homepage.scss
  frontend/src/_components/DynamicForm.jsx
  frontend/src/_components/DynamicFormV2.jsx
  frontend/src/_helpers/white-label/whiteLabelling.js
  frontend/src/_services/index.js
  frontend/src/_services/org_environment_variable.service.js
  frontend/src/_styles/theme.scss
  frontend/src/modules/WorkspaceSettings/pages/Groups/components/BaseManageGranularAccess/BaseManageGranularAccess.jsx
  frontend/src/modules/WorkspaceSettings/pages/WorkspaceLogin/WorkspaceLoginSettings.jsx
  frontend/src/modules/common/components/OrganizationManager/CreateOrganization.jsx
  frontend/src/modules/dataSources/components/DataSourceManager/DataSourceManager.jsx
  frontend/src/modules/dataSources/components/LIstItem/index.jsx
  server/.version
  server/data-migrations/1754999194042-UpdateWorkflowPermissionsForAdminAndBuilder.ts
  server/src/helpers/utils.helper.ts
  server/src/modules/app-git/constants/feature.ts
  server/src/modules/app/constants/module-info.ts
  server/src/modules/auth/oauth/interfaces/ILdapService.ts
  server/src/modules/auth/oauth/util-services/ldap.service.ts
  server/src/modules/licensing/services/count.service.ts
  server/src/modules/organizations/service.ts
  server/src/modules/users/repositories/repository.ts
  server/templates/sample_app_def.json
Labels: ready-to-merge

#13599 [docs]: UPS Plugin
  docs/docs/marketplace/marketplace_overview.md
  docs/docs/marketplace/plugins/ups.md
  docs/sidebars.js
  docs/static/img/marketplace/plugins/spanner/connection.png
  docs/static/img/marketplace/plugins/spanner/google-sql.png
  docs/static/img/marketplace/plugins/spanner/posgre-sql.png
  docs/static/img/marketplace/plugins/ups/connection.png
  docs/versioned_docs/version-3.16.0-LTS/marketplace/marketplace_overview.md
  docs/versioned_docs/version-3.16.0-LTS/marketplace/plugins/spanner.md
  docs/versioned_docs/version-3.16.0-LTS/marketplace/plugins/ups.md
  docs/versioned_sidebars/version-3.16.0-LTS-sidebars.json
Labels: suspend-review-docs-app

#13815 Fix dragging of widgets in Modal(V1 and V2) in scolled view
  frontend/src/AppBuilder/AppCanvas/Grid/Grid.jsx
  frontend/src/AppBuilder/Widgets/Modal.jsx
  frontend/src/AppBuilder/Widgets/ModalV2/Components/Modal.jsx
  frontend/src/AppBuilder/Widgets/ModalV2/helpers/stylesFactory.js
Labels: tested

#13846 Release : Marketplace plugins
  .version
  frontend/.version
  marketplace/package-lock.json
  marketplace/plugins/aws-bedrock/.gitignore
  marketplace/plugins/aws-bedrock/README.md
  marketplace/plugins/aws-bedrock/__tests__/index.js
  marketplace/plugins/aws-bedrock/lib/icon.svg
  marketplace/plugins/aws-bedrock/lib/index.ts
  marketplace/plugins/aws-bedrock/lib/manifest.json
  marketplace/plugins/aws-bedrock/lib/operations.json
  marketplace/plugins/aws-bedrock/lib/query_operations.ts
  marketplace/plugins/aws-bedrock/lib/types.ts
  marketplace/plugins/aws-bedrock/package.json
  marketplace/plugins/aws-bedrock/tsconfig.json
  server/.version
  server/src/assets/marketplace/plugins.json
Labels: active-ce-review-app, active-ee-review-app

#13790 [Improvement ] While updating WF name inside canvas getting app name updated message need to change to WF name updated
  frontend/assets/translations/de.json
  frontend/assets/translations/en.json
  frontend/assets/translations/es.json
  frontend/assets/translations/fr.json
  frontend/assets/translations/id.json
  frontend/assets/translations/it.json
  frontend/assets/translations/ru.json
  frontend/assets/translations/uk.json
  frontend/assets/translations/zh.json
  frontend/src/Editor/Header/EditAppName.jsx
Labels: tested, suspend-ee-review-app

#13789 [Improvement]While searching WF in dashboard , Getting no application found message need to update to "No workflows found"
  frontend/assets/translations/de.json
  frontend/assets/translations/en.json
  frontend/assets/translations/es.json
  frontend/assets/translations/fr.json
  frontend/assets/translations/id.json
  frontend/assets/translations/it.json
  frontend/assets/translations/ru.json
  frontend/assets/translations/uk.json
  frontend/assets/translations/zh.json
  frontend/src/HomePage/HomePage.jsx
Labels: tested, suspend-ee-review-app

#13894 Feature[LTS]: GRPC Plugin revamp
  frontend/src/AppBuilder/QueryManager/Components/QueryManagerBody.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/GRPCv2.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/grpcv2.scss
  frontend/src/AppBuilder/QueryManager/QueryEditors/index.js
  frontend/src/_services/dataquery.service.js
  frontend/src/_styles/global-datasources.scss
  frontend/src/_ui/Card/Card.jsx
  frontend/src/_ui/Icon/solidIcons/ArrowUpDown.jsx
  frontend/src/_ui/Icon/solidIcons/index.js
  frontend/src/_ui/LegacyBanner.jsx
  frontend/src/modules/dataSources/components/GlobalDataSources/index.jsx
  plugins/package-lock.json
  plugins/package.json
  plugins/packages/common/lib/query_service.interface.ts
  plugins/packages/grpc/lib/manifest.json
  plugins/packages/grpcv2/README.md
  plugins/packages/grpcv2/__tests__/index.js
  plugins/packages/grpcv2/lib/darkIcon.svg
  plugins/packages/grpcv2/lib/icon.svg
  plugins/packages/grpcv2/lib/index.ts
  plugins/packages/grpcv2/lib/manifest.json
  plugins/packages/grpcv2/lib/operations.json
  plugins/packages/grpcv2/lib/operations.ts
  plugins/packages/grpcv2/lib/types.ts
  plugins/packages/grpcv2/package-lock.json
  plugins/packages/grpcv2/package.json
  plugins/packages/grpcv2/tsconfig.json
  server/package-lock.json
  server/src/modules/data-sources/controller.ts
  server/src/modules/data-sources/dto/index.ts
  server/src/modules/data-sources/guards/whitelist-plugin.guard.ts
  server/src/modules/data-sources/interfaces/IController.ts
  server/src/modules/data-sources/interfaces/IService.ts
  server/src/modules/data-sources/service.ts
Labels: active-ee-review-app

#13844 [docs]: gRPC 2.0 Guide
  docs/static/img/datasource-reference/grpc-2/config.png
  docs/static/img/datasource-reference/grpc-2/oauth.png
  docs/static/img/datasource-reference/grpc-2/proto.png
  docs/static/img/datasource-reference/grpc-2/server-reflection.png
  docs/static/img/datasource-reference/grpc-2/service.png
  docs/static/img/datasource-reference/grpc-2/ssl.png
  docs/versioned_docs/version-3.16.0-LTS/data-sources/grpc-2.md
  docs/versioned_docs/version-3.16.0-LTS/data-sources/grpc.md
  docs/versioned_sidebars/version-3.16.0-LTS-sidebars.json
Labels: active-review-docs-app

#13854 feat: added hubspot
  frontend/src/_components/ApiEndpointInput.jsx
  frontend/src/modules/dataSources/components/DataSourceManager/DataSourceManager.jsx
  marketplace/plugins/hubspot/.gitignore
  marketplace/plugins/hubspot/README.md
  marketplace/plugins/hubspot/__tests__/index.js
  marketplace/plugins/hubspot/lib/icon.svg
  marketplace/plugins/hubspot/lib/index.ts
  marketplace/plugins/hubspot/lib/manifest.json
  marketplace/plugins/hubspot/lib/operations.json
  marketplace/plugins/hubspot/lib/types.ts
  marketplace/plugins/hubspot/package.json
  marketplace/plugins/hubspot/tsconfig.json
  plugins/packages/common/lib/oauth.ts
  server/src/assets/marketplace/plugins.json
  server/src/modules/data-sources/util.service.ts
Labels: tested, marketplace-plugin-deployed, active-ce-review-app, active-ee-review-app

#13754 [docs]: Embed Application
  docs/versioned_docs/version-3.16.0-LTS/app-builder/embed-application.md
  docs/versioned_docs/version-3.16.0-LTS/user-management/authentication/self-hosted/pat.md
  docs/versioned_sidebars/version-3.16.0-LTS-sidebars.json
Labels: active-review-docs-app

#13917 [docs]: Statistics Component
  docs/static/img/widgets/statistics/preview.png
  docs/versioned_docs/version-3.16.0-LTS/widgets/statistics.md
Labels: active-review-docs-app
