Repository ToolJet/ToolJet, pull requests merged in 2025-03, with the labels that each got.

#12088 Fix: Plugins installation and test-connections bugs
  frontend/src/_services/datasource.service.js
  frontend/src/modules/dataSources/components/DataSourceManager/TestConnection.jsx
  server/src/modules/plugins/service.ts
  server/src/modules/plugins/util.service.ts
Labels: active-ce-review-app, active-ee-review-app

#12102 [docs]: Update TJ API and Map Const w/ Env Var
  docs/docs/org-management/workspaces/workspace_constants.md
  docs/docs/tutorial/tooljet-api.md
  docs/static/img/workspace-const/const-mapping.png
  docs/versioned_docs/version-3.0.0-LTS/org-management/workspaces/workspace_constants.md
  docs/versioned_docs/version-3.0.0-LTS/tutorial/tooljet-api.md
Labels: active-review-docs-app

#12129 Fix: Appbuilder page error
  frontend/src/AppBuilder/QueryManager/Components/QueryManagerBody.jsx
  server/src/modules/data-sources/repository.ts
Labels: create-review-app

#11707 feature marketplace plugin azure repo
  marketplace/plugins/azurerepos/.gitignore
  marketplace/plugins/azurerepos/README.md
  marketplace/plugins/azurerepos/__tests__/index.js
  marketplace/plugins/azurerepos/lib/icon.svg
  marketplace/plugins/azurerepos/lib/index.ts
  marketplace/plugins/azurerepos/lib/manifest.json
  marketplace/plugins/azurerepos/lib/operations.json
  marketplace/plugins/azurerepos/lib/query_operations.ts
  marketplace/plugins/azurerepos/lib/types.ts
  marketplace/plugins/azurerepos/package.json
  marketplace/plugins/azurerepos/tsconfig.json
  server/src/assets/marketplace/plugins.json
Labels: suspend-review-app, marketplace-plugin-deployed

#11476 [Feature]: Nocodb integration
  frontend/package-lock.json
  plugins/package-lock.json
  plugins/package.json
  plugins/packages/nocodb/__tests__/index.js
  plugins/packages/nocodb/lib/icon.svg
  plugins/packages/nocodb/lib/index.ts
  plugins/packages/nocodb/lib/manifest.json
  plugins/packages/nocodb/lib/operations.json
  plugins/packages/nocodb/lib/types.ts
  plugins/packages/nocodb/package-lock.json
  plugins/packages/nocodb/package.json
  plugins/packages/nocodb/tsconfig.json
Labels: suspend-review-app, marketplace-plugin-deployed

#11708 [docs]: Fix Content for Divider Component
  docs/docs/widgets/divider.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/divider.md
  docs/versioned_docs/version-3.0.0-LTS/widgets/divider.md
Labels: suspend-review-docs-app

#12168 Fix: Copy button not working in Debugger
  frontend/src/Editor/LeftSidebar/SidebarDebugger/Logs.jsx
  frontend/src/_ui/JSONTreeViewer/JSONNode.jsx
Labels: active-ce-review-app

#12169 Fix: Date picker gets hidden inside table
  frontend/src/AppBuilder/Widgets/Table/Datepicker.jsx
  frontend/src/AppBuilder/Widgets/Table/Table.jsx
Labels: active-ce-review-app

#12170 Fix: In Dropdown, call "on select" event when user clicks on clear button
  frontend/src/Editor/Components/DropdownV2/DropdownV2.jsx
Labels: active-ce-review-app

#12171 Fix: Table component's max row height not getting updated
  frontend/src/AppBuilder/CodeBuilder/Elements/TableRowHeightInput.jsx
Labels: active-ce-review-app

#12172 Fix: Custom Component runQuery parameter not working
  frontend/src/Editor/Components/CustomComponent/CustomComponent.jsx
Labels: active-ce-review-app

#12070 Fix: One click option to open the component directly in the inspector
  frontend/src/AppBuilder/LeftSidebar/LeftSidebarInspector/LeftSidebarInspector.jsx
  frontend/src/_ui/JSONTreeViewer/JSONNode.jsx
Labels: tested, active-ce-review-app

#12090 Fix: Scroll and bring the component in view port
  frontend/src/AppBuilder/LeftSidebar/LeftSidebarInspector/useCallbackActions.js
  frontend/src/AppBuilder/Widgets/Kanban/KanbanBoard.jsx
  frontend/src/AppBuilder/Widgets/Modal.jsx
  frontend/src/AppBuilder/_stores/slices/componentsSlice.js
  frontend/src/AppBuilder/_stores/slices/leftSideBarSlice.js
Labels: tested, active-ce-review-app

#12175 Feature: Added support for JSON column type in Table component
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Table/ColumnManager/PropertiesTabElements.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Table/ColumnManager/StylesTabElements.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Table/ProgramaticallyHandleProperties.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Table/Table.jsx
  frontend/src/AppBuilder/Widgets/Table/Json.jsx
  frontend/src/AppBuilder/Widgets/Table/columns/index.jsx
Labels: active-ce-review-app

#12173 [docs]: Add Platform Docs Redirection
  docs/docusaurus.config.js
Labels: active-review-docs-app

#12121 [docs]: Fix darkmode on homepage
  docs/docs/doc-home-page.mdx
  docs/tailwind.config.js
  docs/versioned_docs/version-2.50.0-LTS/doc-home-page.mdx
  docs/versioned_docs/version-3.0.0-LTS/doc-home-page.mdx
  plugins/packages/nocodb/lib/index.ts
Labels: active-review-docs-app

#11651 [docs]: Add Trigger Workflow Using Scheduler
  docs/docs/workflows/how-to/trigger-from-app.md
  docs/docs/workflows/how-to/trigger-using-scheduler.md
  docs/docs/workflows/how-to/trigger-using-webhook.md
  docs/sidebars.js
  docs/static/img/workflows/trigger-schedule/activate-cron-schedule.png
  docs/static/img/workflows/trigger-schedule/activate-schedule.png
  docs/static/img/workflows/trigger-schedule/create-schedule.png
  docs/static/img/workflows/trigger-schedule/create-workflow.png
  docs/static/img/workflows/trigger-schedule/cron-schedule.png
  docs/static/img/workflows/trigger-schedule/cron.png
  docs/static/img/workflows/trigger-schedule/interval.png
  docs/static/img/workflows/trigger-schedule/left-panel.png
  docs/static/img/workflows/trigger-schedule/new-schedule.png
  docs/static/img/workflows/trigger-schedule/saved-cron-schedule.png
  docs/static/img/workflows/trigger-schedule/set-interval.png
  docs/versioned_docs/version-3.0.0-LTS/workflows/how-to/trigger-from-app.md
  docs/versioned_docs/version-3.0.0-LTS/workflows/how-to/trigger-using-webhook.md
  docs/versioned_sidebars/version-3.0.0-LTS-sidebars.json
Labels: active-review-docs-app

#12296 Added data-cy for components in modularisation branch
  frontend/src/AppBuilder/Viewer/PreviewSettings.jsx
  frontend/src/modules/WorkspaceSettings/pages/Users/InviteUsersForm.jsx
  frontend/src/modules/auth/pages/LoginPage/components/LoginForm/LoginForm.jsx
  frontend/src/modules/common/components/BaseOrganizationList/BaseOrganizationList.jsx
  frontend/src/modules/common/components/FormDescription/FormDescription.jsx
  frontend/src/modules/common/components/FormHeader/FormHeader.jsx
  frontend/src/modules/common/components/FormTextInput/FormTextInput.jsx
  frontend/src/modules/common/components/GeneralFeatureImage/GeneralFeatureImage.jsx
  frontend/src/modules/common/components/PasswordInput/PasswordInput.jsx
  frontend/src/modules/common/components/SSOAuthModule/components/SSOButtonWrapper/SSOButtonWrapper.jsx
  frontend/src/modules/common/components/SubmitButton/SubmitButton.jsx
  frontend/src/modules/onboarding/components/OnboardingForm/OnboardingForm.jsx
  frontend/src/modules/onboarding/components/OnboardingFormWrapper/OnboardingFormWrapper.jsx
  frontend/src/modules/onboarding/components/OnboardingQuestions/components/DynamicFeatureImage/DynamicFeatureImage.jsx
  frontend/src/modules/onboarding/pages/SignupPage/components/SignupForm/SignupForm.jsx
  frontend/src/modules/onboarding/pages/SignupPage/components/SignupSuccessInfo/SignupSuccessInfo.jsx
  frontend/src/modules/onboarding/pages/SignupPage/components/SignupSuccessInfo/components/ResendVerificationEmail/ResendVerificationEmail.jsx
Labels: data-cy, cypress, run-ce-cypress-platform

#12287 Fix: Switching pages in mobile view
  .version
  frontend/.version
  frontend/src/AppBuilder/Viewer/Viewer.jsx
  server/.version
Labels: tested, suspend-review-app

#12256 feat: added method for unsetting all page and global variables
  frontend/src/AppBuilder/CodeBuilder/utils.js
  frontend/src/AppBuilder/_stores/slices/eventsSlice.js
  frontend/src/AppBuilder/_stores/slices/resolvedSlice.js
  frontend/src/AppBuilder/_stores/utils.js
  frontend/src/Editor/ActionTypes.js
Labels: active-ce-review-app

#12253 Fixed bug causing component definition to be copied on copying text
  frontend/src/AppBuilder/AppCanvas/appCanvasUtils.js
Labels: active-ce-review-app

#12254 Fixed transformation issue causing query to not retain multiple trans…
  frontend/src/AppBuilder/QueryManager/Components/Transformation.jsx
Labels: active-ce-review-app

#12280 Fix: Application crash on startup due to invalid query parameters
  frontend/src/_helpers/utils.js
Labels: tested, active-ce-review-app

#12291 [docs]: Update Text Editor Component
  docs/docs/widgets/rich-text-editor.md
  docs/versioned_docs/version-3.0.0-LTS/widgets/rich-text-editor.md
Labels: suspend-review-docs-app

#12239 chore: Adds new design for form, container default children
  frontend/src/AppBuilder/WidgetManager/widgets/container.js
  frontend/src/AppBuilder/WidgetManager/widgets/form.js
  frontend/src/AppBuilder/Widgets/Container/Container.jsx
  frontend/src/AppBuilder/Widgets/Form/Form.jsx
  frontend/src/AppBuilder/Widgets/Form/form.scss
  frontend/src/Editor/WidgetManager/configs/container.js
  frontend/src/Editor/WidgetManager/configs/form.js
  server/src/modules/apps/services/widget-config/container.js
  server/src/modules/apps/services/widget-config/form.js
Labels: active-ce-review-app

#12320 Fix: Dropdown and Multiselect not working in mobile
  .version
  frontend/.version
  frontend/src/AppBuilder/AppCanvas/appCanvasUtils.js
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Select.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Table/ColumnManager/PropertiesTabElements.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Table/SelectOptionsList/OptionsList.jsx
  frontend/src/AppBuilder/Widgets/Table/CustomSelect.jsx
  frontend/src/AppBuilder/Widgets/Table/columns/index.jsx
  frontend/src/AppBuilder/_stores/slices/dataQuerySlice.js
  frontend/src/Editor/Components/DropdownV2/CustomMenuList.jsx
  frontend/src/Editor/Components/DropdownV2/CustomOption.jsx
  frontend/src/Editor/Components/DropdownV2/DropdownV2.jsx
  frontend/src/Editor/Components/MultiselectV2/CustomOption.jsx
  frontend/src/Editor/Components/MultiselectV2/MultiselectV2.jsx
  server/.version
Labels: tested, active-review-app
