Repository ToolJet/ToolJet, pull requests merged in 2025-01, with the labels that each got.

#11730 Update the user group permission test cases
  cypress-tests/cypress.config.js
  cypress-tests/cypress/commands/commands.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/workspace/groupDuplication.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/workspace/workspaceConstants.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/groups/manageGroups.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/groups/permissions.cy.js
  cypress-tests/cypress/support/utils/manageGroups.js
  cypress-tests/cypress/support/utils/workspaceConstants.js
Labels: cypress

#11729 [docs]: Update saml doc with server url
  docs/docs/user-authentication/sso/saml.md
  docs/versioned_docs/version-2.50.0-LTS/user-authentication/sso/saml.md
  docs/versioned_docs/version-3.0.0-LTS/user-authentication/sso/saml.md
Labels: active-review-docs-app

#11745 Fix: The server build in production mode was affected by a type issue.
  server/src/controllers/organization_users.controller.ts
  server/src/controllers/users.controller.ts
  server/src/services/auth.service.ts
Labels: active-review-app

#11632 [Feat] : Bulk update with primary keys server-side changes
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/BulkUploadPrimaryKey.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/ToolJetDbOperations.jsx
  server/src/services/tooljet_db_bulk_upload.service.ts
  server/src/services/tooljet_db_operations.service.ts
Labels: run-ci, suspend-review-app

#11509 [Feat] : UI for bulk upload using primary key
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/BulkUploadPrimaryKey.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/ToolJetDbOperations.jsx
  server/src/services/tooljet_db_bulk_upload.service.ts
  server/src/services/tooljet_db_operations.service.ts
Labels: run-ci, suspend-review-app

#11674 Feature: Add JSON datatype to ToolJet Database for CE LTS(#2492)
  frontend/src/AppBuilder/CodeEditor/CodeHinter.jsx
  frontend/src/AppBuilder/CodeEditor/TJDBHinter.jsx
  frontend/src/AppBuilder/CodeEditor/styles.scss
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/CreateRow.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/DeleteRows.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/JoinConstraint.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/JoinSelect.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/JoinSort.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/JoinTable.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/ListRows.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/RenderColumnUI.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/RenderFilterSectionUI.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/RenderSortUI.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/SelectBox.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/UpdateRows.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/styles.scss
  frontend/src/Editor/QueryManager/QueryEditors/TooljetDatabase/SelectBox.jsx
  frontend/src/TooljetDatabase/Forms/ColumnForm.jsx
  frontend/src/TooljetDatabase/Forms/ColumnsForm.jsx
  frontend/src/TooljetDatabase/Forms/EditColumnForm.jsx
  frontend/src/TooljetDatabase/Forms/EditRowForm.jsx
  frontend/src/TooljetDatabase/Forms/RowForm.jsx
  frontend/src/TooljetDatabase/Forms/TableForm.jsx
  frontend/src/TooljetDatabase/Forms/TableKeyRelations.jsx
  frontend/src/TooljetDatabase/Forms/TableSchema.jsx
  frontend/src/TooljetDatabase/Forms/styles.scss
  frontend/src/TooljetDatabase/Icons/JSONB.svg
  frontend/src/TooljetDatabase/Icons/Jsonb.svg
  frontend/src/TooljetDatabase/Menu/CellEditMenu/CellHinterWrapper.jsx
  frontend/src/TooljetDatabase/Menu/CellEditMenu/index.jsx
  frontend/src/TooljetDatabase/Menu/CellEditMenu/styles.scss
  frontend/src/TooljetDatabase/Table/ActionsPopover/UniqueConstraintPopOver.jsx
  frontend/src/TooljetDatabase/Table/Header.jsx
  frontend/src/TooljetDatabase/Table/index.jsx
  frontend/src/TooljetDatabase/Table/styles.scss
  frontend/src/TooljetDatabase/constants.js
  frontend/src/_components/Portal/Portal.jsx
  frontend/src/_components/Portal/ReactPortal.js
  frontend/src/_styles/tabler.scss
  frontend/src/_ui/Icon/solidIcons/BigIntCol.jsx
  frontend/src/_ui/Icon/solidIcons/BooleanCol.jsx
  frontend/src/_ui/Icon/solidIcons/DatetimeCol.jsx
  frontend/src/_ui/Icon/solidIcons/FloatCol.jsx
  frontend/src/_ui/Icon/solidIcons/IntegerCol.jsx
  frontend/src/_ui/Icon/solidIcons/Jsonb.jsx
  frontend/src/_ui/Icon/solidIcons/SerialCol.jsx
  frontend/src/_ui/Icon/solidIcons/VarcharCol.jsx
  frontend/src/_ui/Icon/solidIcons/index.js
  server/src/dto/tooljet-db-join.dto.ts
  server/src/dto/tooljet-db.dto.ts
  server/src/dto/validators/schemas/3.0.3/tooljet_database.json
  server/src/helpers/tooljet_db.helper.ts
  server/src/helpers/utils.helper.ts
  server/src/modules/tooljet_db/tooljet-db.types.ts
  server/src/services/postgrest_proxy.service.ts
  server/src/services/tooljet_db.service.ts
  server/src/services/tooljet_db_bulk_upload.service.ts
  server/src/services/tooljet_db_operations.service.ts
Labels: run-ci, tested, active-review-app

#11692 Feat: Import templates with the option to auto-install dependent plugins.
  frontend/src/HomePage/HomePage.jsx
  frontend/src/_services/library-app.service.js
  server/src/controllers/library_apps.controller.ts
  server/src/services/library_app_creation.service.ts
  server/src/services/plugins.service.ts
Labels: tested, suspend-review-app

#11700 Fix: Disabled add plugin button in the datasource page only on the cloud
  frontend/src/GlobalDatasources/GlobalDataSourcesPage/index.jsx
Labels: tested, active-review-app

#11758 Fix: Custom Component runQuery parameter not working
  .version
  frontend/.version
  frontend/src/Editor/Components/CustomComponent/CustomComponent.jsx
  server/.version
Labels: tested, active-review-app

#11605 Fix: Refactors and fixes REST API raw body flow (LTS)
  frontend/src/AppBuilder/QueryManager/QueryEditors/Restapi/Tabs.jsx
  frontend/src/Editor/QueryManager/QueryEditors/Restapi/Tabs.jsx
  frontend/src/_ui/OAuth/Authentication.jsx
  frontend/src/_ui/OAuth/GrantTypes.jsx
  frontend/src/_ui/OAuth/index.js
  plugins/packages/common/lib/index.ts
  plugins/packages/common/lib/oauth.ts
  plugins/packages/restapi/lib/index.ts
Labels: active-review-app

#11755 Cypress platform main branch fixes
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/appEditor.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/appImportAndExport.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/privateAndpublicApps.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/version.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/userManagment/UserInviteFlow.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/dashboard.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/errorPage.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/profile.cy.js
  cypress-tests/cypress/support/utils/onboarding.js
Labels: run-cypress-platform-subpath

#11652 Fix/bugs
  .version
  frontend/.version
  frontend/src/AppBuilder/RightSideBar/Inspector/EventManager.jsx
  frontend/src/Editor/Components/Datepicker.jsx
  frontend/src/Editor/Components/DropdownV2/DropdownV2.jsx
  frontend/src/Editor/Components/ToggleV2.jsx
  frontend/src/HomePage/ExportAppModal.jsx
  frontend/src/_styles/theme.scss
  frontend/webpack.config.js
  server/.version
Labels: tested

#11654 Feature: Image Component 2.0
  frontend/src/AppBuilder/AppCanvas/RenderWidget.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/DefaultComponent.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Inspector.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Utils.js
  frontend/src/AppBuilder/WidgetManager/widgets/image.js
  frontend/src/AppBuilder/_helpers/editorHelpers.js
  frontend/src/Editor/Components/Image.jsx
  frontend/src/Editor/Components/Image/Image.jsx
  frontend/src/Editor/Components/Image/icons/broken-image.svg
  frontend/src/Editor/Components/Image/icons/rotate-image.svg
  frontend/src/Editor/Components/Image/icons/zoomin-image.svg
  frontend/src/Editor/Components/Image/icons/zoomout-image.svg
  frontend/src/Editor/Components/Image/image.scss
  frontend/src/Editor/WidgetManager/configs/image.js
  frontend/src/_helpers/editorHelpers.js
  frontend/src/_styles/theme.scss
  server/data-migrations/1734454679521-UpdateVisibilityDisabledTooltipPaddingShapeForImageComponent.ts
  server/src/helpers/widget-config/image.js
Labels: tested, suspend-review-app

#11612 Feature: Icon component 2.0
  frontend/src/AppBuilder/AppCanvas/RenderWidget.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Icon.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Inspector.jsx
  frontend/src/AppBuilder/WidgetManager/widgets/icon.js
  frontend/src/Editor/Components/Icon.jsx
  frontend/src/Editor/WidgetManager/configs/icon.js
  server/data-migrations/1733988936041-UpdateVisibilityFrIconComponent.ts
  server/src/helpers/widget-config/icon.js
Labels: tested, suspend-review-app

#11528 [feat] : Add support for Component Handle being visible when hovered on the boundary of an unselected component
  frontend/src/AppBuilder/AppCanvas/ConfigHandle/ConfigHandle.jsx
  frontend/src/AppBuilder/AppCanvas/ConfigHandle/configHandle.scss
  frontend/src/AppBuilder/AppCanvas/Grid/Grid.jsx
Labels: tested

#11555 feat: Allow multi-selecting components inside container components using shift key
  frontend/src/AppBuilder/AppCanvas/Grid/Grid.jsx
  frontend/src/AppBuilder/AppCanvas/Grid/gridUtils.js
  frontend/src/AppBuilder/AppCanvas/Selecto.jsx
  frontend/src/AppBuilder/AppCanvas/appCanvasConstants.js
Labels: tested

#11774 Fix url being incorrect on switching the page in viewer
  .version
  frontend/.version
  frontend/src/AppBuilder/_stores/slices/appSlice.js
  server/.version
Labels: tested, active-path-review-app

#11762 Added automation for revamped components.
  cypress-tests/cypress/commands/commands.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/codehinterResolver.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/componentsBasics/checkbox.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/componentsBasics/dropdown.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/componentsBasics/multiselect.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/componentsBasics/toggleSwitch.cy.js
  cypress-tests/cypress/support/utils/events.js
Labels: cypress

#11534 [feat] : Add support for Ctrl + A should select all components
  frontend/src/AppBuilder/AppCanvas/ConfigHandle/ConfigHandle.jsx
  frontend/src/AppBuilder/AppCanvas/Container.jsx
  frontend/src/AppBuilder/AppCanvas/HotkeyProvider.jsx
  frontend/src/AppBuilder/_stores/slices/componentsSlice.js
  frontend/src/AppBuilder/_stores/slices/gridSlice.js
Labels: tested

#11535 textarea 2.0 component
  frontend/assets/images/icons/widgets/index.jsx
  frontend/src/AppBuilder/AppCanvas/RenderWidget.jsx
  frontend/src/AppBuilder/RightSideBar/ComponentsManagerTab/ComponentsManagerTab.jsx
  frontend/src/AppBuilder/RightSideBar/ComponentsManagerTab/constants.js
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/DefaultComponent.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Inspector.jsx
  frontend/src/AppBuilder/RightSideBar/WidgetBox/WidgetBox.jsx
  frontend/src/AppBuilder/WidgetManager/widgets/textarea.js
  frontend/src/AppBuilder/Widgets/BaseComponents/BaseInput.jsx
  frontend/src/AppBuilder/Widgets/TextArea.jsx
  frontend/src/AppBuilder/_helpers/editorHelpers.js
  frontend/src/AppBuilder/_stores/slices/componentsSlice.js
  frontend/src/Editor/Components/TextArea.jsx
  frontend/src/Editor/WidgetManager/components.js
  frontend/src/Editor/WidgetManager/configs/textarea.js
  frontend/src/Editor/WidgetManager/constants.js
  frontend/src/_helpers/appUtils.js
  frontend/src/_helpers/editorHelpers.js
  frontend/src/_styles/theme.scss
  server/data-migrations/1736448327127-MoveVisibilityDisabledStatesToPropertiesTextarea.ts
  server/src/helpers/widget-config/index.js
  server/src/helpers/widget-config/textarea.js
Labels: tested

#11604 fix: Adds vertical scroll to tab component
  frontend/src/AppBuilder/Widgets/Tabs.jsx
Labels: tested

#11783 [docs]: Update Preview Image
  docs/static/img/tooljet-og-image-old.png
  docs/static/img/tooljet-og-image.png
Labels: suspend-review-docs-app

#11788 Updated private and public apps test cypress cases
  cypress-tests/cypress/commands/apiCommands.js
  cypress-tests/cypress/commands/commands.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/appEditor.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/appSlug.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/privateAndpublicApps.cy.js
  cypress-tests/cypress/support/utils/apps.js
  cypress-tests/cypress/support/utils/manageUsers.js
  cypress-tests/cypress/support/utils/onboarding.js
  frontend/src/modules/auth/pages/LoginPage/components/LoginForm/LoginForm.jsx
  frontend/src/modules/onboarding/pages/SignupPage/components/SignupForm/SignupForm.jsx
Labels: data-cy, cypress

#11803 Update app versioning cypress test cases
  cypress-tests/cypress/commands/apiCommands.js
  cypress-tests/cypress/commands/commands.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/appSlug.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/privateAndpublicApps.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/version.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/workspace/groupDuplication.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/workspace/manageSSO.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/userManagment/UserInviteFlow.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/dashboard.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/errorPage.cy.js
  cypress-tests/cypress/support/utils/apps.js
  cypress-tests/cypress/support/utils/basicComponents.js
  cypress-tests/cypress/support/utils/dataSource.js
  cypress-tests/cypress/support/utils/manageUsers.js
  cypress-tests/cypress/support/utils/onboarding.js
  cypress-tests/cypress/support/utils/version.js
  frontend/src/AppBuilder/Viewer/PreviewSettings.jsx
Labels: run-cypress-platform

#11804 Fix: Date picker gets hidden inside table and user needs to scroll to see it
  .version
  frontend/.version
  frontend/src/AppBuilder/CodeBuilder/Elements/TableRowHeightInput.jsx
  frontend/src/AppBuilder/LeftSidebar/PageMenu/SettingsModal.jsx
  frontend/src/AppBuilder/Widgets/Modal.jsx
  frontend/src/AppBuilder/Widgets/Table/Datepicker.jsx
  frontend/src/AppBuilder/Widgets/Table/Table.jsx
  frontend/src/Editor/LeftSidebar/SidebarDebugger/Logs.jsx
  frontend/src/_ui/JSONTreeViewer/JSONNode.jsx
  server/.version
Labels: tested, active-review-app

#10810 [docs]: Fix broken anchor tags
  docs/docs/how-to/access-users-location.md
  docs/docs/how-to/use-custom-parameters.md
  docs/docs/marketplace/plugins/pinecone.md
  docs/docs/project-overview/release-notes.md
  docs/docs/tooljet-db/database-editor.md
  docs/docs/tooljet-db/tooljet-database.md
  docs/docs/widgets/table.md
  docs/docs/widgets/table/columns.md
  docs/versioned_docs/version-1.x.x/data-sources/appwrite.md
  docs/versioned_docs/version-1.x.x/data-sources/bigquery.md
  docs/versioned_docs/version-1.x.x/data-sources/google.sheets.md
  docs/versioned_docs/version-1.x.x/widgets/kanban-board.md
  docs/versioned_docs/version-2.50.0-LTS/how-to/access-users-location.md
  docs/versioned_docs/version-2.50.0-LTS/how-to/use-custom-parameters.md
  docs/versioned_docs/version-2.50.0-LTS/setup/digitalocean.md
  docs/versioned_docs/version-2.50.0-LTS/setup/ecs.md
  docs/versioned_docs/version-2.50.0-LTS/setup/google-cloud-run.md
  docs/versioned_docs/version-2.50.0-LTS/tooljet-db/tooljet-database.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/table.md
  docs/versioned_docs/version-2.50.0-LTS/widgets/table/columns.md
  docs/versioned_docs/version-2.68.0/widgets/table.md
  docs/versioned_docs/version-2.68.0/widgets/table/columns.md
  docs/versioned_docs/version-3.0.0-LTS/how-to/access-users-location.md
  docs/versioned_docs/version-3.0.0-LTS/how-to/use-custom-parameters.md
  docs/versioned_docs/version-3.0.0-LTS/marketplace/plugins/pinecone.md
  docs/versioned_docs/version-3.0.0-LTS/project-overview/release-notes.md
  docs/versioned_docs/version-3.0.0-LTS/tooljet-db/database-editor.md
  docs/versioned_docs/version-3.0.0-LTS/widgets/table.md
  docs/versioned_docs/version-3.0.0-LTS/widgets/table/columns.md
  frontend/src/_styles/tabler.scss
  frontend/src/_styles/theme.scss
Labels: active-review-docs-app

#11822 [docs]: Update ToolJet API
  docs/docs/tutorial/tooljet-api.md
  docs/versioned_docs/version-3.0.0-LTS/tutorial/tooljet-api.md
Labels: suspend-review-docs-app

#11547 feat: Qdrant plugin
  marketplace/package-lock.json
  marketplace/plugins/qdrant/.gitignore
  marketplace/plugins/qdrant/README.md
  marketplace/plugins/qdrant/lib/icon.svg
  marketplace/plugins/qdrant/lib/index.ts
  marketplace/plugins/qdrant/lib/manifest.json
  marketplace/plugins/qdrant/lib/operations.json
  marketplace/plugins/qdrant/lib/operations.ts
  marketplace/plugins/qdrant/lib/types.ts
  marketplace/plugins/qdrant/package.json
  marketplace/plugins/qdrant/tsconfig.json
  package-lock.json
  server/src/assets/marketplace/plugins.json
Labels: active-review-app, marketplace-plugin-deployed

#11836 Updated app import export cypress test cases
  cypress-tests/cypress/commands/apiCommands.js
  cypress-tests/cypress/commands/commands.js
  cypress-tests/cypress/constants/selectors/exportImport.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/appImportAndExport.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/appSlug.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/privateAndpublicApps.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/version.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/dataSources/dataSourcePermissions.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/userManagment/UserInviteFlow.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/userManagment/bulkUsersUpload.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/appCreate.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/errorPage.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/groups/manageGroups.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/groups/permissions.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/workspace.cy.js
  cypress-tests/cypress/fixtures/templates/invalid_app.json
  cypress-tests/cypress/fixtures/templates/invalid_file.json
  cypress-tests/cypress/fixtures/templates/one_version.json
  cypress-tests/cypress/fixtures/templates/three-versions.json
  cypress-tests/cypress/support/utils/apps.js
  cypress-tests/cypress/support/utils/common.js
  cypress-tests/cypress/support/utils/dataSource.js
  cypress-tests/cypress/support/utils/exportImport.js
  cypress-tests/cypress/support/utils/manageSSO.js
  cypress-tests/cypress/support/utils/manageUsers.js
  cypress-tests/cypress/support/utils/onboarding.js
Labels: cypress, run-cypress-platform, run-proxy-platform

#11831 Integrate Anthropic Plugin with Core Operations for AI-Powered Data Processing
  marketplace/plugins/anthropic/.gitignore
  marketplace/plugins/anthropic/README.md
  marketplace/plugins/anthropic/__tests__/index.js
  marketplace/plugins/anthropic/lib/icon.svg
  marketplace/plugins/anthropic/lib/index.ts
  marketplace/plugins/anthropic/lib/manifest.json
  marketplace/plugins/anthropic/lib/operations.json
  marketplace/plugins/anthropic/lib/query_operations.ts
  marketplace/plugins/anthropic/lib/types.ts
  marketplace/plugins/anthropic/package.json
  marketplace/plugins/anthropic/tsconfig.json
  server/src/assets/marketplace/plugins.json
Labels: tested, active-review-app, marketplace-plugin-deployed

#11830 Integrate Gemini Plugin with Core Operations for AI-Powered Data Processing
  marketplace/plugins/gemini/.gitignore
  marketplace/plugins/gemini/README.md
  marketplace/plugins/gemini/__tests__/index.js
  marketplace/plugins/gemini/lib/icon.svg
  marketplace/plugins/gemini/lib/index.ts
  marketplace/plugins/gemini/lib/manifest.json
  marketplace/plugins/gemini/lib/operations.json
  marketplace/plugins/gemini/lib/query_operations.ts
  marketplace/plugins/gemini/lib/types.ts
  marketplace/plugins/gemini/package.json
  marketplace/plugins/gemini/tsconfig.json
  server/src/assets/marketplace/plugins.json
Labels: tested, active-review-app, marketplace-plugin-deployed

#11865 Hotfix: GraphQL plugin appends an empty URL parameter (?=) to the endpoint.
  .version
  frontend/.version
  plugins/packages/common/lib/utils.helper.ts
  server/.version
Labels: suspend-review-app

#11840 Fix crashing of table if nested data is provided
  frontend/src/AppBuilder/Widgets/Table/Table.jsx
  frontend/src/AppBuilder/Widgets/Table/columns/autogenerateColumns.js
  frontend/src/AppBuilder/Widgets/Table/columns/index.jsx
Labels: tested

#11843 Virtualized dropdownV2 & multiselectV2 options
  frontend/src/AppBuilder/Widgets/Table/Table.jsx
  frontend/src/AppBuilder/Widgets/Table/columns/autogenerateColumns.js
  frontend/src/AppBuilder/Widgets/Table/columns/index.jsx
  frontend/src/Editor/Components/DropdownV2/CustomMenuList.jsx
  frontend/src/Editor/Components/DropdownV2/DropdownV2.jsx
  frontend/src/Editor/Components/MultiselectV2/MultiselectV2.jsx
Labels: tested

#11867 Fix: Page handle doesn't get updated in Inspector when changed
  frontend/src/AppBuilder/LeftSidebar/PageMenu/EditModal.jsx
  frontend/src/AppBuilder/LeftSidebar/PageMenu/RenameInput.jsx
  frontend/src/AppBuilder/_stores/ast.js
  server/src/helpers/import_export.helpers.ts
Labels: active-review-app

#11857 Integrate: Add new huggingface plugin to the marketplace in LTS
  frontend/src/GlobalDatasources/GlobalDataSourcesPage/index.jsx
  marketplace/package-lock.json
  marketplace/plugins/hugging_face/.gitignore
  marketplace/plugins/hugging_face/README.md
  marketplace/plugins/hugging_face/__tests__/index.js
  marketplace/plugins/hugging_face/lib/icon.svg
  marketplace/plugins/hugging_face/lib/index.ts
  marketplace/plugins/hugging_face/lib/manifest.json
  marketplace/plugins/hugging_face/lib/operations.json
  marketplace/plugins/hugging_face/lib/query_operation.ts
  marketplace/plugins/hugging_face/lib/types.ts
  marketplace/plugins/hugging_face/package.json
  marketplace/plugins/hugging_face/tsconfig.json
  server/src/assets/marketplace/plugins.json
Labels: tested, suspend-review-app, marketplace-plugin-deployed

#11888 Fix row style not working in Table
  frontend/src/_styles/table-component.scss
  frontend/src/_styles/tabler.scss
Labels: tested

#11889 Fix intermittently default option when selected not being saved corre…
  .version
  frontend/.version
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Select.jsx
  frontend/src/AppBuilder/WidgetManager/widgets/dropdownV2.js
  frontend/src/Editor/Components/DropdownV2/DropdownV2.jsx
  frontend/src/Editor/WidgetManager/configs/dropdownV2.js
  frontend/src/_styles/table-component.scss
  frontend/src/_styles/tabler.scss
  server/.version
  server/src/helpers/widget-config/dropdownV2.js
Labels: tested

#11876 [docs]: Handle Azure OAuth Token via REST API
  docs/docs/data-sources/restapi/querying-rest-api.md
  docs/versioned_docs/version-3.0.0-LTS/data-sources/restapi/querying-rest-api.md
Labels: active-review-docs-app

#11886 Feature: Add TLS settings for redis plugin (LTS 3.0)
  plugins/package-lock.json
  plugins/packages/redis/lib/index.ts
  plugins/packages/redis/lib/manifest.json
  plugins/packages/redis/lib/types.ts
  plugins/packages/redis/package.json
Labels: active-review-app
