Repository ToolJet/ToolJet, pull requests merged in 2025-06, with the labels that each got.

#12980 [docs]: Import or export workflows
  docs/static/img/workflows/import-export/export.png
  docs/static/img/workflows/import-export/import-modal.png
  docs/static/img/workflows/import-export/import.png
  docs/versioned_docs/version-3.5.0-LTS/workflows/how-to/import-export.md
  docs/versioned_sidebars/version-3.5.0-LTS-sidebars.json
Labels: active-review-docs-app

#12953 Table column icons added
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Table/ColumnManager/PropertiesTabElements.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Table/Table.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Table/_assets/BadgeTypeIcon.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Table/_assets/BooleanTypeIcon.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Table/_assets/DatepickerTypeIcon.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Table/_assets/HTMLTypeIcon.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Table/_assets/ImageTypeIcon.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Table/_assets/JSONTypeIcon.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Table/_assets/LinkTypeIcon.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Table/_assets/MarkdownTypeIcon.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Table/_assets/MultiselectTypeIcon.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Table/_assets/NumberTypeIcon.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Table/_assets/RadioTypeIcon.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Table/_assets/SelectTypeIcon.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Table/_assets/StringTypeIcon.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Table/_assets/TagsTypeIcon.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Table/_assets/TextTypeIcon.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Table/_assets/index.js
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Table/utils.js
  frontend/src/ToolJetUI/List/List.jsx
  frontend/src/_styles/theme.scss
Labels: suspend-ce-review-app

#13005 [docs] Added postgrest sidecar steps
  docs/static/img/setup/azure-container/step10a.png
  docs/static/img/setup/azure-container/step10b.png
  docs/versioned_docs/version-3.5.0-LTS/setup/azure-container.md
Labels: active-review-docs-app

#13008 [docs]: update quick start guide
  docs/docs/getting-started/quickstart-guide.md
  docs/versioned_docs/version-3.5.0-LTS/getting-started/quickstart-guide.md
Labels: active-review-docs-app

#13013 [docs]: Add marketplace plugin Prometheus
  docs/static/img/marketplace/plugins/prometheus/connection.png
  docs/static/img/marketplace/plugins/prometheus/instant.png
  docs/static/img/marketplace/plugins/prometheus/range.png
  docs/versioned_docs/version-3.5.0-LTS/marketplace/marketplace_overview.md
  docs/versioned_docs/version-3.5.0-LTS/marketplace/plugins/prometheus.md
  docs/versioned_sidebars/version-3.5.0-LTS-sidebars.json
Labels: active-review-docs-app

#13021 Removes extra api calls on workspace creation
  frontend/src/modules/common/components/OrganizationManager/CreateOrganization.jsx
Labels: run-cypress-ce

#12836 Node upgrade 18->22
  .github/workflows/cypress-appbuilder.yml
  .github/workflows/cypress-platform.yml
  .vscode/settings.json
  cypress-tests/cypress.Dockerfile
  deploy/ec2/ce/setup_machine.sh
  deploy/ec2/ee/setup_machine.sh
  docker/ce-preview.Dockerfile
  docker/ce-production.Dockerfile
  docker/ee/ee-preview.Dockerfile
  docker/ee/ee-production.Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/AppBuilder/LeftSidebar/PageMenu/style.scss
  frontend/src/AppBuilder/Widgets/Table/datepicker.scss
  frontend/src/Editor/Components/Table/datepicker.scss
  frontend/src/TooljetDatabase/Table/styles.scss
  frontend/src/_styles/components.scss
  frontend/src/_styles/onboarding.scss
  frontend/src/_styles/queryManager.scss
  frontend/src/_styles/table-component.scss
  frontend/src/_styles/theme.scss
  frontend/src/_styles/widgets/kanban.scss
  frontend/src/modules/WorkspaceSettings/pages/Groups/resources/styles/group-permissions.styles.scss
  package-lock.json
  package.json
  server/data-migration-config.ts
  server/ormconfig.ts
  server/package-lock.json
  server/package.json
  server/src/main.ts
  server/src/modules/app/loader.ts
  server/src/modules/audit-logs/constants/index.ts
Labels: run-cypress-ce

#13039 Migration fixes pre-release
  server/data-migrations/1742888566919-UpdateGlobalDataSources.ts
  server/migrations/1740399879253-CreateAiConversations.ts
Labels: run-cypress-ce

#13045 [docs]: Optional env var for unencrypted smtp
  docs/versioned_docs/version-3.5.0-LTS/tj-setup/smtp-setup/configuration.md
Labels: active-review-docs-app

#12571 Hotfix: Release the connection when manually acquiring it in the PostgreSQL data source.
  plugins/packages/postgresql/lib/index.ts
Labels: tested, create-ce-review-app

#13028 Feature: Ability to configure the database name in Redis datasource
  plugins/packages/redis/lib/index.ts
  plugins/packages/redis/lib/manifest.json
  plugins/packages/redis/lib/types.ts
Labels: tested, active-review-app

#13029 [ Hotfix ] : The ability to provide a partition key for deleting items in CosmosDB datasource has been enabled
  plugins/packages/cosmosdb/lib/index.ts
  plugins/packages/cosmosdb/lib/operations.json
  plugins/packages/cosmosdb/lib/operations.ts
  plugins/packages/cosmosdb/lib/types.ts
Labels: tested, active-review-app

#12687 Deprecated static local data sources
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/appExport.cy.js
  server/data-migrations/1745318714733-DeprecateLocalStaticDataSources.ts
  server/data-migrations/1745409452884-AddMissingStaticDataSources.ts
  server/data-migrations/1745409631920-AddDataSourceConstraintsForStatic.ts
  server/src/modules/app/loader.ts
  server/src/modules/apps/services/app-import-export.service.ts
  server/src/modules/apps/util.service.ts
  server/src/modules/data-sources/constants/index.ts
  server/src/modules/data-sources/repository.ts
  server/src/modules/data-sources/service.ts
  server/src/modules/data-sources/types/index.ts
  server/src/modules/data-sources/util.service.ts
  server/src/modules/import-export-resources/service.ts
  server/src/modules/setup-organization/module.ts
  server/src/modules/setup-organization/util.service.ts
  server/src/modules/tooljet-db/external-modules/postgrest/README.md
  server/src/modules/tooljet-db/external-modules/postgrest/postgrest.conf
  server/src/modules/versions/services/create.service.ts
  server/src/services/ignored/app_import_export.service.ts
  server/src/services/ignored/app_users.service.ts
  server/src/services/ignored/comment.service.ts
  server/src/services/ignored/comment_users.service.ts
  server/src/services/ignored/external_apis.service.ts
  server/src/services/ignored/import_export_resources.service.ts
  server/src/services/ignored/library_app_creation.service.ts
  server/src/services/ignored/org_environment_variables.service.ts
  server/src/services/ignored/temporal.service.ts
  server/src/services/ignored/thread.service.ts
  server/src/services/ignored/users-common.service.ts
  server/src/services/ignored/worker.service.ts
  server/src/services/ignored/workflow_executions.service.ts
  server/src/services/ignored/workflow_schedules.service.ts
  server/src/services/ignored/workflow_webhooks.service.ts
Labels: suspend-ce-review-app, run-cypress-ce, ready-to-merge

#13037 Update user onboarding cypress test cases for enterprise edition
  cypress-tests/cypress-ee-platform.config.js
  cypress-tests/cypress/commands/commands.js
  cypress-tests/cypress/constants/selectors/common.js
  cypress-tests/cypress/constants/selectors/eeCommon.js
  cypress-tests/cypress/constants/selectors/onboarding.js
  cypress-tests/cypress/constants/texts/eeCommon.js
  cypress-tests/cypress/constants/texts/manageSSO.js
  cypress-tests/cypress/constants/texts/onboarding.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/userManagment/Login.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/userManagment/Signup.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/userManagment/UserInviteFlow.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/userManagment/bulkUsersUpload.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/userManagment/userInviteFlowEdgeCases.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/eeTestcases/externalApi/workspace/ldapOnboarding.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/eeTestcases/externalApi/workspace/openId.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/firstUser/firstUserOnboarding.cy.js
  cypress-tests/cypress/fixtures/bulkUser/3_users_upload.csv
  cypress-tests/cypress/fixtures/bulkUser/3_users_upload_ee.csv
  cypress-tests/cypress/fixtures/bulkUser/empty_names.csv
  cypress-tests/cypress/fixtures/bulkUser/empty_names_ee.csv
  cypress-tests/cypress/fixtures/bulkUser/limit_exceeded.csv
  cypress-tests/cypress/fixtures/bulkUser/limit_exceeded_ee.csv
  cypress-tests/cypress/fixtures/bulkUser/missing_email.csv
  cypress-tests/cypress/fixtures/bulkUser/missing_email_ee.csv
  cypress-tests/cypress/fixtures/bulkUser/missing_name.csv
  cypress-tests/cypress/fixtures/bulkUser/missing_name_ee.csv
  cypress-tests/cypress/fixtures/bulkUser/missing_role.csv
  cypress-tests/cypress/fixtures/bulkUser/missing_role_ee.csv
  cypress-tests/cypress/fixtures/bulkUser/non_existing_group_ee.csv
  cypress-tests/cypress/fixtures/bulkUser/same_email_ee.csv
  cypress-tests/cypress/support/utils/manageSSO.js
  cypress-tests/cypress/support/utils/platform/eeCommon.js
Labels: run-cypress-ce

#12923 Add padding to listview
  frontend/src/AppBuilder/AppCanvas/Container.jsx
  frontend/src/AppBuilder/AppCanvas/appCanvasConstants.js
  frontend/src/AppBuilder/AppCanvas/appCanvasUtils.js
  frontend/src/AppBuilder/WidgetManager/widgets/listview.js
  frontend/src/AppBuilder/WidgetManager/widgets/table.js
  frontend/src/AppBuilder/Widgets/Container/Container.jsx
  frontend/src/AppBuilder/Widgets/Kanban/Components/Item.jsx
  frontend/src/AppBuilder/Widgets/Listview.jsx
  frontend/src/Editor/WidgetManager/configs/listview.js
  frontend/src/Editor/WidgetManager/configs/table.js
  frontend/src/_styles/theme.scss
  server/src/modules/apps/services/widget-config/listview.js
Labels: tested

#12906 Fix: Width for the group divider in event action dropdown
  frontend/src/AppBuilder/LeftSidebar/GlobalSettings/index.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/EventManager.jsx
  frontend/src/AppBuilder/WidgetManager/widgets/container.js
  frontend/src/Editor/WidgetManager/configs/container.js
  frontend/src/_hooks/use-portal.jsx
  frontend/src/_styles/theme.scss
  server/src/modules/apps/services/widget-config/container.js
Labels: tested, suspend-ce-review-app

#12927 Server side query resolver fixes
  frontend/src/AppBuilder/CodeEditor/MultiLineCodeEditor.jsx
  frontend/src/AppBuilder/CodeEditor/PreviewBox.jsx
  frontend/src/AppBuilder/CodeEditor/SingleLineCodeEditor.jsx
  frontend/src/AppBuilder/_stores/slices/codeHinterSlice.js
  server/src/modules/licensing/configs/LicenseBase.ts
  server/src/modules/licensing/constants/PlanTerms.ts
  server/src/modules/licensing/constants/index.ts
  server/src/modules/licensing/helper.ts
  server/src/modules/licensing/interfaces/terms.ts
Labels: tested

#13080 [docs]: Workflow Node to call workflow within a workflow
  docs/static/img/workflows/nodes/workflow.png
  docs/versioned_docs/version-3.5.0-LTS/workflows/how-to/trigger-using-webhook.md
  docs/versioned_docs/version-3.5.0-LTS/workflows/nodes.md
Labels: active-review-docs-app

#13081 [docs]: Dynamically Configure Database
  docs/static/img/datasource-reference/mysql/dynamic-connection.png
  docs/static/img/datasource-reference/mysql/dynamic-query-logic.png
  docs/static/img/datasource-reference/mysql/mysqlconnect-v3.png
  docs/static/img/datasource-reference/postgresql/dynamic-connection.png
  docs/static/img/datasource-reference/postgresql/dynamic-query-logic.png
  docs/static/img/datasource-reference/postgresql/pgconnection-string-v2.png
  docs/static/img/datasource-reference/postgresql/pgconnection-v3.png
  docs/versioned_docs/version-3.5.0-LTS/data-sources/mysql.md
  docs/versioned_docs/version-3.5.0-LTS/data-sources/postgresql.md
Labels: active-review-docs-app

#13058 Smtp LDAP SAML env variable support (LTS -> Pre-release)
  server/src/modules/email/service.ts
Labels: run-cypress-ce, ready-to-merge

#12255 Feat/dynamic height
  frontend/src/AppBuilder/AppCanvas/Grid/Grid.css
  frontend/src/AppBuilder/AppCanvas/Grid/Grid.jsx
  frontend/src/AppBuilder/AppCanvas/RenderWidget.jsx
  frontend/src/AppBuilder/AppCanvas/WidgetWrapper.jsx
  frontend/src/AppBuilder/CodeEditor/styles.scss
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/AggregateUI/index.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/DefaultComponent.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Modal.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/TabComponent.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Table/Table.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/EventManager.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Inspector.jsx
  frontend/src/AppBuilder/WidgetManager/widgets/codeEditor.js
  frontend/src/AppBuilder/WidgetManager/widgets/container.js
  frontend/src/AppBuilder/WidgetManager/widgets/form.js
  frontend/src/AppBuilder/WidgetManager/widgets/listview.js
  frontend/src/AppBuilder/WidgetManager/widgets/richtextarea.js
  frontend/src/AppBuilder/WidgetManager/widgets/table.js
  frontend/src/AppBuilder/WidgetManager/widgets/tabs.js
  frontend/src/AppBuilder/WidgetManager/widgets/text.js
  frontend/src/AppBuilder/WidgetManager/widgets/textarea.js
  frontend/src/AppBuilder/Widgets/Container/Container.jsx
  frontend/src/AppBuilder/Widgets/Form/Form.jsx
  frontend/src/AppBuilder/Widgets/Listview.jsx
  frontend/src/AppBuilder/Widgets/NewTable/Table.jsx
  frontend/src/AppBuilder/Widgets/TabNavItem.jsx
  frontend/src/AppBuilder/Widgets/Table/Table.jsx
  frontend/src/AppBuilder/Widgets/Tabs.jsx
  frontend/src/AppBuilder/Widgets/TextArea.jsx
  frontend/src/AppBuilder/_stores/slices/appSlice.js
  frontend/src/AppBuilder/_stores/slices/componentsSlice.js
  frontend/src/AppBuilder/_stores/slices/gridSlice.js
  frontend/src/AppBuilder/_stores/utils.js
  frontend/src/Editor/Components/CodeEditor.jsx
  frontend/src/Editor/Components/DraftEditor.jsx
  frontend/src/Editor/Components/RichTextEditor.jsx
  frontend/src/Editor/Components/Text.jsx
  frontend/src/Editor/WidgetManager/configs/tabs.js
  frontend/src/Editor/WidgetManager/configs/text.js
  frontend/src/ToolJetUI/Tabs/tabs.scss
  frontend/src/_components/OverflowTooltip.jsx
  frontend/src/_hooks/useDynamicHeight.jsx
  frontend/src/_styles/theme.scss
  server/src/modules/apps/service.ts
  server/src/modules/apps/services/component.service.ts
  server/src/modules/apps/services/widget-config/codeEditor.js
  server/src/modules/apps/services/widget-config/container.js
  server/src/modules/apps/services/widget-config/form.js
  server/src/modules/apps/services/widget-config/listview.js
  server/src/modules/apps/services/widget-config/richtextarea.js
  server/src/modules/apps/services/widget-config/table.js
  server/src/modules/apps/services/widget-config/tabs.js
  server/src/modules/apps/services/widget-config/text.js
  server/src/modules/apps/services/widget-config/textarea.js
  server/src/modules/versions/repository.ts
Labels: suspend-ce-review-app

#13098 Bugfix/git sync pre release
  frontend/src/AppBuilder/Header/CustomSelect.jsx
  frontend/src/Editor/AppVersionsManager/CustomSelect.jsx
  frontend/src/Editor/Header/EditAppName.jsx
  frontend/src/HomePage/AppCard.jsx
  frontend/src/HomePage/AppMenu.jsx
  frontend/src/HomePage/HomePage.jsx
  server/migrations/1748501592120-AddSSHBranchColumn.ts
  server/src/modules/app-git/module.ts
  server/src/modules/git-sync/constants/gitsync_error.constant.ts
  server/src/modules/git-sync/module.ts
Labels: run-cypress-ce
