Repository ToolJet/ToolJet, pull requests merged in 2025-05, with the labels that each got.

#12794 [docs]: GitSync New Flow
  docs/static/img/gitsync/importmodal-v3.png
  docs/static/img/gitsync/updatecheck-v2.png
  docs/versioned_docs/version-3.0.0-LTS/release-management/gitsync/git-pull.md
  docs/versioned_docs/version-3.0.0-LTS/release-management/gitsync/ssh-config.md
  docs/versioned_docs/version-3.0.0-LTS/release-management/gitsync/tj-config.md
  docs/versioned_docs/version-3.5.0-LTS/development-lifecycle/backup/gitsync-backup.md
  docs/versioned_docs/version-3.5.0-LTS/development-lifecycle/gitsync/connect-to-git-repo/connection.md
  docs/versioned_docs/version-3.5.0-LTS/development-lifecycle/gitsync/connect-to-git-repo/ssh/gitsync-config.md
  docs/versioned_docs/version-3.5.0-LTS/development-lifecycle/gitsync/overview.md
  docs/versioned_docs/version-3.5.0-LTS/development-lifecycle/gitsync/pull.md
Labels: suspend-review-docs-app

#12807 Fix failig cypress test cases for app builder release
  cypress-tests/cypress/commands/apiCommands.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/workspace/workspaceConstants.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/groups/basicPermissions.skip.js
  cypress-tests/cypress/fixtures/templates/invalid_app.json
  cypress-tests/cypress/fixtures/templates/one_version.json
  cypress-tests/cypress/fixtures/templates/three-versions.json
  cypress-tests/cypress/fixtures/templates/workspace_constants.json
Labels: run-ce-cypress-platform

#12449 Fix: Prevent exposure of encrypted credentials during app export.
  frontend/src/modules/dataSources/components/DataSourceManager/DataSourceManager.jsx
  marketplace/plugins/jira/lib/manifest.json
Labels: deploy-marketplace-plugin, active-ce-review-app

#12721 Fix/run query preview update
  cypress-tests/cypress/commands/apiCommands.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/workspace/workspaceConstants.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/groups/basicPermissions.skip.js
  cypress-tests/cypress/fixtures/templates/invalid_app.json
  cypress-tests/cypress/fixtures/templates/one_version.json
  cypress-tests/cypress/fixtures/templates/three-versions.json
  cypress-tests/cypress/fixtures/templates/workspace_constants.json
  frontend/src/AppBuilder/QueryManager/Components/QueryManagerHeader.jsx
Labels: tested, run-ce-cypress-platform, run-ce-app-builder, run-ce-cypress-marketplace, run-ce-cypress-app-builder

#12796 dummy PR for testing
  .github/workflows/render-preview-deploy.yml
  deploy/docker/supervisord.conf
  docker/ce-preview.Dockerfile
  docker/ee/ee-preview.Dockerfile
  server/scripts/boot.sh
  server/scripts/preview.sh
Labels: active-ce-review-app, active-ee-review-app

#12818 [docs]: Add Valid and Invalid Headers for REST API
  docs/docs/data-sources/restapi/metadata-and-cookies.md
  docs/docs/data-sources/restapi/querying-rest-api.md
  docs/versioned_docs/version-3.0.0-LTS/data-sources/restapi/metadata-and-cookies.md
  docs/versioned_docs/version-3.0.0-LTS/data-sources/restapi/querying-rest-api.md
  docs/versioned_docs/version-3.5.0-LTS/data-sources/restapi/metadata-and-cookies.md
  docs/versioned_docs/version-3.5.0-LTS/data-sources/restapi/querying-rest-api.md
Labels: suspend-review-docs-app

#12856 dummy PR for testing
  docker/ce-preview.Dockerfile
Labels: active-ee-review-app

#12805 Fix failing platform cypress test cass on action
  cypress-tests/cypress-platform.config.js
  cypress-tests/cypress/commands/commands.js
  cypress-tests/cypress/constants/texts/version.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/appExport.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/appImport.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/appSlug.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/privateAndpublicApps.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/version.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/appCreate.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/dashboard.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/groups/basicPermissions.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/groups/permissions.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/eeTestcases/externalApi/apiUsers.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/eeTestcases/externalApi/appImportAndExportAPI.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/firstUser/firstUserOnboarding.cy.js
  cypress-tests/cypress/support/utils/common.js
  cypress-tests/cypress/support/utils/dataSource.js
  cypress-tests/cypress/support/utils/version.js
Labels: run-cypress-ce

#12866 [docs]: Add row level security information
  docs/docs/app-builder/walkthrough/row-level-security.md
  docs/sidebars.js
Labels: active-review-docs-app

#12816 Fix: Reorganised event actions and improved UX
  frontend/src/AppBuilder/RightSideBar/Inspector/EventManager.jsx
  frontend/src/Editor/ActionTypes.js
Labels: tested, suspend-ce-review-app

#12817 Fix: Added 'New' tag for Phone, Email and Currency input
  frontend/src/AppBuilder/RightSideBar/WidgetBox/WidgetBox.jsx
Labels: suspend-ce-review-app

#12591 feat: dynamic steps length based on steps text size
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Steps.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Inspector.jsx
  frontend/src/AppBuilder/WidgetManager/widgets/steps.js
  frontend/src/Editor/Components/Steps.jsx
  frontend/src/Editor/Components/Steps.scss
  frontend/src/Editor/WidgetManager/configs/index.js
  frontend/src/Editor/WidgetManager/configs/steps.js
  frontend/src/_styles/tabler.scss
  frontend/src/_styles/theme.scss
  server/data-migrations/1742369436314-StepsV2Migration.ts
  server/src/modules/apps/services/component.service.ts
  server/src/modules/apps/services/widget-config/steps.js
  server/src/modules/apps/util.service.ts
Labels: tested, suspend-ee-review-app, suspend-ce-review-app

#12888 [docs]: Async Workflow Query Execution
  docs/docs/workflows/triggers.md
  docs/versioned_docs/version-3.5.0-LTS/workflows/triggers.md
Labels: active-review-docs-app

#12886 [docs]: Default workspace UI
  docs/docs/tj-setup/workspaces.md
  docs/static/img/tooljet-setup/workspace/default-workspace.png
Labels: active-review-docs-app

#12806 Fix: Custom Themes UI in Workspace Settings
  frontend/src/Editor/Components/RadioButtonV2/RadioButtonV2.jsx
  frontend/src/_styles/theme.scss
  frontend/src/_ui/Icon/solidIcons/Moon.jsx
  frontend/src/_ui/Icon/solidIcons/index.js
  frontend/src/components/ui/Input/EditableTitleInput/Index.jsx
  server/src/modules/organization-themes/constants/index.ts
  server/src/modules/organization-themes/dto/index.ts
Labels: suspend-ee-review-app

#12605 container size
  frontend/src/AppBuilder/WidgetManager/widgets/container.js
  frontend/src/Editor/WidgetManager/configs/container.js
  server/src/modules/apps/services/widget-config/container.js
Labels: tested, suspend-ce-review-app

#12883 Fix: query params suggestion inside codehinter
  frontend/src/AppBuilder/CodeEditor/MultiLineCodeEditor.jsx
  frontend/src/AppBuilder/CodeEditor/SingleLineCodeEditor.jsx
Labels: tested

#12890 [docs]: Minor fixes and upgrades across docs
  docs/docs/data-sources/mssql.md
  docs/docs/data-sources/mysql.md
  docs/docs/data-sources/postgresql.md
  docs/docs/development-lifecycle/gitsync/gitsync-config.md
  docs/docs/how-to/build-dynamic-forms.md
  docs/docs/security/compliance.md
  docs/versioned_docs/version-2.50.0-LTS/setup/choose-your-tooljet.md
  docs/versioned_docs/version-3.5.0-LTS/data-sources/mssql.md
  docs/versioned_docs/version-3.5.0-LTS/data-sources/mysql.md
  docs/versioned_docs/version-3.5.0-LTS/data-sources/postgresql.md
  docs/versioned_docs/version-3.5.0-LTS/development-lifecycle/gitsync/connect-to-git-repo/ssh/gitsync-config.md
  docs/versioned_docs/version-3.5.0-LTS/development-lifecycle/gitsync/pull.md
  docs/versioned_docs/version-3.5.0-LTS/how-to/build-dynamic-forms.md
  docs/versioned_docs/version-3.5.0-LTS/security/compliance.md
  docs/versioned_docs/version-3.5.0-LTS/setup/try-tooljet.md
Labels: suspend-review-docs-app

#12887 Fix: replacing of component names with id when starting with mathematical operators
  .version
  frontend/.version
  frontend/src/AppBuilder/CodeEditor/MultiLineCodeEditor.jsx
  frontend/src/AppBuilder/CodeEditor/SingleLineCodeEditor.jsx
  frontend/src/AppBuilder/_stores/slices/componentsSlice.js
  server/.version
Labels: tested

#12880 [docs]: gitlab config in gitsync
  docs/static/img/gitsync/gitlab-config/config.png
  docs/static/img/gitsync/gitlab-config/projectid.png
  docs/versioned_docs/version-3.5.0-LTS/development-lifecycle/gitsync/connect-to-git-repo/connection.md
  docs/versioned_docs/version-3.5.0-LTS/development-lifecycle/gitsync/connect-to-git-repo/gitlab-config.md
  docs/versioned_sidebars/version-3.5.0-LTS-sidebars.json
Labels: suspend-review-docs-app

#12901 [docs]: fix with ai - components
  docs/static/img/tooljet-ai/fix-with-ai/ai-processing.png
  docs/static/img/tooljet-ai/fix-with-ai/apply-fix.png
  docs/static/img/tooljet-ai/fix-with-ai/code-hinter-error.png
  docs/static/img/tooljet-ai/fix-with-ai/example.png
  docs/versioned_docs/version-3.5.0-LTS/build-with-ai/debug-components.md
  docs/versioned_sidebars/version-3.5.0-LTS-sidebars.json
Labels: suspend-review-docs-app

#12824 Feat: Restrict data source deletion if queries are present in any app with its instance
  frontend/src/MarketplacePage/InstalledPlugins.jsx
  frontend/src/_services/globalDatasource.service.js
  frontend/src/modules/dataSources/components/List/index.jsx
  server/src/modules/data-sources/ability/index.ts
  server/src/modules/data-sources/constants/feature.ts
  server/src/modules/data-sources/constants/index.ts
  server/src/modules/data-sources/controller.ts
  server/src/modules/data-sources/module.ts
  server/src/modules/data-sources/repository.ts
  server/src/modules/data-sources/service.ts
  server/src/modules/data-sources/types/index.ts
  server/src/modules/plugins/ability/index.ts
  server/src/modules/plugins/module.ts
  server/src/modules/plugins/service.ts
Labels: suspend-ee-review-app, suspend-ce-review-app

#12879 Supabase error stardardization
  marketplace/plugins/supabase/lib/index.ts
Labels: deploy-marketplace-plugin, suspend-ee-review-app, suspend-ce-review-app

#12813 Firestore error standardization
  plugins/packages/firestore/lib/index.ts
Labels: deploy-marketplace-plugin, suspend-ce-review-app

#12798 Unique constraint on plugins to prevent plugin to be installed multiple times in a workspace
  frontend/src/MarketplacePage/MarketplaceCard.jsx
  server/migrations/1747133448781-AddPluginIdUniqueConstraint.ts
  server/src/entities/plugin.entity.ts
  server/src/modules/plugins/service.ts
Labels: suspend-ce-review-app

#12952 Fix: MariaDb not saving issue
  frontend/src/modules/dataSources/components/DataSourceManager/DataSourceManager.jsx
  plugins/packages/mariadb/lib/manifest.json
Labels: active-ce-review-app, active-ee-review-app

#12954 Update cypress specs with delete datasource
  cypress-tests/cypress/commands/commands.js
  cypress-tests/cypress/constants/selectors/common.js
  cypress-tests/cypress/constants/selectors/dataSource.js
  cypress-tests/cypress/constants/selectors/postgreSql.js
  cypress-tests/cypress/constants/texts/airTable.js
  cypress-tests/cypress/constants/texts/postgreSql.js
  cypress-tests/cypress/e2e/happyPath/marketplace/commonTestcases/data-source/airTableHappyPath.cy.js
  cypress-tests/cypress/e2e/happyPath/marketplace/commonTestcases/data-source/postgresHappyPath.cy.js
  cypress-tests/cypress/e2e/happyPath/marketplace/commonTestcases/data-source/restAPIHappyPath.cy.js
Labels: run-cypress-platform-ce, run-cypress-marketplace-ce
