Repository ToolJet/ToolJet, pull requests merged in 2025-04, with the labels that each got.

#12249 fix query race condition
  frontend/src/AppBuilder/_stores/slices/dataQuerySlice.js
  frontend/src/AppBuilder/_stores/slices/queryPanelSlice.js
Labels: tested, active-ce-review-app

#12277 Feat: Added support for page navigation using browser navigation controls
  frontend/src/AppBuilder/Viewer/MobileNavigationMenu.jsx
  frontend/src/AppBuilder/Viewer/ViewerSidebarNavigation.jsx
  frontend/src/AppBuilder/_hooks/useAppData.js
  frontend/src/AppBuilder/_stores/slices/appSlice.js
  frontend/src/Routes/AppsRoute.jsx
Labels: tested, active-ce-review-app

#12346 Fix: In TJDB the error message text not having proper column name while uploading bulk data
  server/src/modules/tooljet-db/types.ts
Labels: run-ci, active-ce-review-app

#12384 Added detailed error descriptions in BigQuery Plugin
  plugins/packages/bigquery/lib/index.ts
Labels: active-ce-review-app

#12350 Feat: Auto install plugin based on queries on app import
  frontend/src/HomePage/HomePage.jsx
  frontend/src/_components/AppModal.jsx
  frontend/src/_components/PluginsListForAppModal.jsx
  frontend/src/_services/library-app.service.js
  frontend/src/_services/plugins.service.js
  server/src/modules/plugins/ability/index.ts
  server/src/modules/plugins/constants/features.ts
  server/src/modules/plugins/constants/index.ts
  server/src/modules/plugins/controller.ts
  server/src/modules/plugins/service.ts
  server/src/modules/plugins/types/index.ts
  server/src/modules/templates/controller.ts
  server/src/modules/templates/service.ts
Labels: active-ce-review-app

#12368 Fix: DTO validation for data types in ToolJet database
  frontend/src/HomePage/ExportAppModal.jsx
  frontend/src/modules/dataSources/components/GlobalDataSources/index.jsx
  server/src/modules/tooljet-db/dto/index.ts
Labels: active-ce-review-app, active-ee-review-app

#12428 Hotfix: Not able to add any values inside of JSON input for TJDB (for update operation)
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/RenderColumnUI.jsx
  server/src/helpers/tooljet_db.helper.ts
  server/src/services/postgrest_proxy.service.ts
Labels: tested, active-review-app, create-ce-review-app, active-ce-review-app

#12395 Feat: Added support for tab navigation in Editor and Viewer
  frontend/src/AppBuilder/AppCanvas/Container.jsx
  frontend/src/AppBuilder/AppCanvas/Grid/Grid.jsx
  frontend/src/AppBuilder/_hooks/useSortedComponents.js
  frontend/src/AppBuilder/_stores/slices/gridSlice.js
Labels: active-ce-review-app

#12376 Fixed negative values not being sorted properly in table
  frontend/src/AppBuilder/Widgets/Table/columns/index.jsx
Labels: active-ce-review-app

#12233 Fix: custom debug and transformation entities bugs
  frontend/src/AppBuilder/_stores/slices/eventsSlice.js
  frontend/src/AppBuilder/_stores/slices/queryPanelSlice.js
  frontend/src/Editor/LeftSidebar/SidebarDebugger/Logs.jsx
  frontend/src/_styles/left-sidebar.scss
  frontend/src/_ui/Icon/solidIcons/Code.jsx
  frontend/src/_ui/Icon/solidIcons/index.js
Labels: active-ce-review-app

#12379 Feat: add open webpage target on event
  frontend/src/AppBuilder/RightSideBar/Inspector/EventManager.jsx
  frontend/src/AppBuilder/_stores/slices/eventsSlice.js
Labels: active-ce-review-app

#12371 Add padding for Tab and ModalV2
  frontend/src/AppBuilder/AppCanvas/Container.jsx
  frontend/src/AppBuilder/AppCanvas/appCanvasConstants.js
  frontend/src/AppBuilder/AppCanvas/appCanvasUtils.js
  frontend/src/AppBuilder/Widgets/ModalV2/Components/Footer.jsx
  frontend/src/AppBuilder/Widgets/ModalV2/Components/Header.jsx
  frontend/src/AppBuilder/Widgets/ModalV2/Components/Modal.jsx
  frontend/src/AppBuilder/Widgets/ModalV2/helpers/stylesFactory.js
  frontend/src/AppBuilder/Widgets/Tabs.jsx
Labels: active-ce-review-app

#12424 Fix: Dropdown going out of scope in query manager.
  frontend/src/AppBuilder/QueryManager/Components/ParameterDetails.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/DropDownSelect.jsx
  frontend/src/AppBuilder/_hooks/usePopoverObserver.js
Labels: active-ce-review-app

#12432 Modularisation platform cypress fix
  cypress-tests/cypress-app-builder.config.js
  cypress-tests/cypress-marketplace.config.js
  cypress-tests/cypress-platform.config.js
  cypress-tests/cypress-run.config.js
  cypress-tests/cypress.config.js
  cypress-tests/cypress/commands/apiCommands.js
  cypress-tests/cypress/commands/commands.js
  cypress-tests/cypress/constants/selectors/dataSource.js
  cypress-tests/cypress/constants/selectors/manageGroups.js
  cypress-tests/cypress/constants/texts/common.js
  cypress-tests/cypress/constants/texts/exportImport.js
  cypress-tests/cypress/constants/texts/manageGroups.js
  cypress-tests/cypress/constants/texts/manageUsers.js
  cypress-tests/cypress/constants/texts/version.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/appImportAndExport.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/appSlug.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/privateAndpublicApps.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/version.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/dataSources/dataSourcePermissions.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/userFlow/firstUserOnboarding.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/userManagment/Login.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/userManagment/Signup.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/userManagment/UserInviteFlow.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/userManagment/resetPassword.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/userManagment/userInviteFlowEdgeCases.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/appCreate.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/dashboard.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/groups/basicPermissions.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/groups/manageGroups.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/groups/permissions.cy.js
  cypress-tests/cypress/support/utils/apps.js
  cypress-tests/cypress/support/utils/common.js
  cypress-tests/cypress/support/utils/dataSource.js
  cypress-tests/cypress/support/utils/manageGroups.js
  cypress-tests/cypress/support/utils/manageSSO.js
  cypress-tests/cypress/support/utils/manageUsers.js
  cypress-tests/cypress/support/utils/onboarding.js
  cypress-tests/cypress/support/utils/postgreSql.js
  cypress-tests/cypress/support/utils/version.js
  frontend/src/modules/WorkspaceSettings/components/ManageOrgConstantsSettings/ConstantForm.jsx
  frontend/src/modules/WorkspaceSettings/pages/Groups/components/BaseManageGranularAccess/components/AddEditResourceModal/AddEditResourcePermissionsModal.jsx
  frontend/src/modules/WorkspaceSettings/pages/Groups/components/BaseManageGranularAccess/components/AppResourcePermission.jsx
  frontend/src/modules/WorkspaceSettings/pages/Groups/components/BaseManageGroupPermissionResources/BaseManageGroupPermissionResources.jsx
  frontend/src/modules/WorkspaceSettings/pages/Groups/components/BaseManageGroupPermissions/BaseManageGroupPermissions.jsx
  frontend/src/modules/auth/pages/ForgotPasswordPage/components/ForgotPasswordInfoScreen/ForgotPasswordInfoScreen.jsx
  frontend/src/modules/auth/pages/LoginPage/components/LoginForm/LoginForm.jsx
  frontend/src/modules/common/components/BaseManageOrgConstants/BaseManageOrgConstants.jsx
  frontend/src/modules/onboarding/pages/SignupPage/components/SignupSuccessInfo/SignupSuccessInfo.jsx
  frontend/src/modules/onboarding/pages/SignupPage/components/SignupSuccessInfo/components/ResendVerificationEmail/ResendVerificationEmail.jsx
Labels: data-cy, cypress, run-ce-cypress-platform

#12448 [docs]: Remove Version Management from GitSync
  docs/docs/development-lifecycle/gitsync/overview.md
  docs/versioned_docs/version-3.0.0-LTS/development-lifecycle/gitsync/overview.md
Labels: active-review-docs-app

#12446 [docs]: New Limitations for Basic Plan
  docs/docs/tj-setup/licensing/self-hosted.md
  docs/versioned_docs/version-3.0.0-LTS/tj-setup/licensing/self-hosted.md
Labels: active-review-docs-app

#12430 [docs]: Add REST API Client Credentials
  docs/docs/data-sources/restapi/authentication.md
  docs/static/img/how-to/oauth2-authorization/restapi-client.png
  docs/versioned_docs/version-3.0.0-LTS/data-sources/restapi/authentication.md
Labels: active-review-docs-app

#12328 [docs]: Restructure Markteplace Navigation
  docs/docs/data-sources/local-data-sources-migration.md
  docs/docs/data-sources/overview.md
  docs/docs/data-sources/permissions.md
  docs/sidebars.js
  docs/static/img/datasource-reference/overview/available-ds.png
  docs/static/img/datasource-reference/overview/ds-granular.png
  docs/static/img/datasource-reference/overview/ds-permissions.png
  docs/static/img/datasource-reference/overview/query-panel.png
  docs/versioned_docs/version-3.0.0-LTS/data-sources/local-data-sources-migration.md
  docs/versioned_docs/version-3.0.0-LTS/data-sources/overview.md
  docs/versioned_docs/version-3.0.0-LTS/data-sources/permissions.md
  docs/versioned_sidebars/version-3.0.0-LTS-sidebars.json
Labels: active-review-docs-app

#12411 [docs]: default workspace
  docs/versioned_docs/version-3.0.0-LTS/tj-setup/workspaces.md
Labels: active-review-docs-app

#12490 fix: Removes extra gap between canvas and query panel when modal is open
  frontend/src/AppBuilder/Widgets/Modal.jsx
Labels: tested

#12499 Add cypress E2E testing workflow for all deployment types
  .github/workflows/cypress-platform.yml
Labels: do not merge, cypress, run-ce-cypress-platform-proxy

#12251 [Feature] Dividers 2.0 revamp
  frontend/assets/images/icons/widgets/horizontalDivider.jsx
  frontend/assets/images/icons/widgets/index.jsx
  frontend/src/AppBuilder/AppCanvas/RenderWidget.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/DefaultComponent.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Inspector.jsx
  frontend/src/AppBuilder/WidgetManager/widgets/divider.js
  frontend/src/AppBuilder/WidgetManager/widgets/verticalDivider.js
  frontend/src/AppBuilder/_helpers/editorHelpers.js
  frontend/src/Editor/Components/Divider.jsx
  frontend/src/Editor/Components/VerticalDivider.jsx
  frontend/src/Editor/Components/verticalDivider.jsx
  frontend/src/Editor/WidgetManager/configs/divider.js
  frontend/src/Editor/WidgetManager/configs/verticalDivider.js
  frontend/src/_helpers/editorHelpers.js
  frontend/src/_ui/Icon/solidIcons/AlignHorizontalCenter.jsx
  frontend/src/_ui/Icon/solidIcons/index.js
  server/data-migrations/1743053824028-MoveVisibilityDisabledStatesDividerLink.ts
  server/src/modules/apps/services/app-import-export.service.ts
  server/src/modules/apps/services/widget-config/divider.js
  server/src/modules/apps/services/widget-config/verticalDivider.js
Labels: tested, active-ce-review-app

#12479 Fix default widget height in ModalV2
  frontend/src/AppBuilder/WidgetManager/widgets/modalV2.js
  frontend/src/Editor/WidgetManager/configs/modalV2.js
  server/src/modules/apps/services/widget-config/modalV2.js
Labels: tested

#12506 Hotfix: The PostgreSQL data source transforms (? value) into parameter ($1)
  .version
  frontend/.version
  plugins/packages/postgresql/lib/index.ts
  server/.version
Labels: tested, suspend-review-app

#12544 [docs]: Github https connection for git sync
  docs/docusaurus.config.js
  docs/static/img/gitsync/autocommit_.png
  docs/static/img/gitsync/delete/delete-github.png
  docs/static/img/gitsync/delete/delete-ssh.png
  docs/static/img/gitsync/delete/enable-gitsync.png
  docs/static/img/gitsync/github-config/github-app-register.png
  docs/static/img/gitsync/github-config/github-app1.png
  docs/static/img/gitsync/github-config/github-app2.png
  docs/static/img/gitsync/github-config/github-form-full.png
  docs/static/img/gitsync/github-config/github-form1.png
  docs/static/img/gitsync/github-config/github-form2.png
  docs/static/img/gitsync/ssh/config-success.png
  docs/static/img/gitsync/ssh/gitsync-home.png
  docs/static/img/gitsync/ssh/ssh-key.png
  docs/static/img/gitsync/ssh/ssh-url.png
  docs/versioned_docs/version-3.0.0-LTS/development-lifecycle/gitsync/connect-to-git-repo/connection.md
  docs/versioned_docs/version-3.0.0-LTS/development-lifecycle/gitsync/connect-to-git-repo/github-config.md
  docs/versioned_docs/version-3.0.0-LTS/development-lifecycle/gitsync/connect-to-git-repo/ssh/gitsync-config.md
  docs/versioned_docs/version-3.0.0-LTS/development-lifecycle/gitsync/connect-to-git-repo/ssh/ssh-config.md
  docs/versioned_docs/version-3.0.0-LTS/development-lifecycle/gitsync/delete-gitsync.md
  docs/versioned_docs/version-3.0.0-LTS/development-lifecycle/gitsync/overview.md
  docs/versioned_docs/version-3.0.0-LTS/development-lifecycle/gitsync/push.md
  docs/versioned_sidebars/version-3.0.0-LTS-sidebars.json
Labels: active-review-docs-app

#12581 input issue fix
  frontend/src/Editor/Components/DropdownV2/DropdownV2.jsx
  frontend/src/Editor/Components/MultiselectV2/MultiselectV2.jsx
Labels: active-ce-review-app

#12582 [docs]: ToolJet MCP
  docs/docs/build-with-ai/tooljet-mcp.md
  docs/sidebars.js
  docs/versioned_docs/version-3.0.0-LTS/build-with-ai/tooljet-mcp.md
  docs/versioned_sidebars/version-3.0.0-LTS-sidebars.json
Labels: active-review-docs-app

#12460 [docs]: TJDB Bulk Upsert Operation
  docs/docs/tooljet-db/querying-tooljet-db.md
  docs/static/img/tjdb/query/bulk-update.png
  docs/static/img/tjdb/query/bulk-upsert.png
Labels: suspend-review-docs-app

#12502 [docs]: Add NocoDB As Data Source
  docs/docs/data-sources/nocodb.md
  docs/sidebars.js
  docs/static/img/datasource-reference/nocodb/connection.png
  docs/static/img/datasource-reference/nocodb/create-record.png
  docs/static/img/datasource-reference/nocodb/delete-record.png
  docs/static/img/datasource-reference/nocodb/get-count.png
  docs/static/img/datasource-reference/nocodb/get-record.png
  docs/static/img/datasource-reference/nocodb/list-record.png
  docs/static/img/datasource-reference/nocodb/update-record.png
  docs/versioned_docs/version-3.0.0-LTS/data-sources/nocodb.md
  docs/versioned_sidebars/version-3.0.0-LTS-sidebars.json
Labels: suspend-review-docs-app

#12474 [docs]: Add Set Default Value To Null
  docs/docs/tooljet-db/constraints/foreign-key.md
  docs/static/img/v2-beta/database/ux2/default-value.png
Labels: suspend-review-docs-app

#12537 Fix failed platform cypress test cases
  cypress-tests/cypress-platform.config.js
  cypress-tests/cypress.config.js
  cypress-tests/cypress/commands/apiCommands.js
  cypress-tests/cypress/commands/commands.js
  cypress-tests/cypress/constants/selectors/common.js
  cypress-tests/cypress/constants/texts/dataSource.js
  cypress-tests/cypress/constants/texts/workspaceConstants.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/appExport.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/appImport.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/appImportAndExport.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/appSlug.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/privateAndpublicApps.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/version.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/dataSources/dataSourcePermissions.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/workspace/groupDuplication.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/workspace/workspaceConstants.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/userManagment/UserInviteFlow.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/userManagment/userInviteFlowEdgeCases.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/appCreate.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/dashboard.cy.js
  cypress-tests/cypress/fixtures/templates/invalid_app.json
  cypress-tests/cypress/fixtures/templates/one_version.json
  cypress-tests/cypress/fixtures/templates/three-versions.json
  cypress-tests/cypress/support/utils/apps.js
  cypress-tests/cypress/support/utils/basicComponents.js
  cypress-tests/cypress/support/utils/common.js
  cypress-tests/cypress/support/utils/manageGroups.js
  cypress-tests/cypress/support/utils/manageSSO.js
  frontend/src/modules/WorkspaceSettings/components/BaseSSOConfigurationList/BaseSSOConfigurationList.jsx
  frontend/src/modules/WorkspaceSettings/components/ManageOrgConstantsSettings/ConstantForm.jsx
  frontend/src/modules/WorkspaceSettings/components/ManageOrgConstantsSettings/EmptyState.jsx
  frontend/src/modules/auth/pages/ResetPasswordPage/components/ResetPasswordInfoScreen/ResetPasswordInfoScreen.jsx
Labels: run-ce-cypress-platform

#12520 [docs]: Update Custom Component
  docs/docs/widgets/custom-component.md
  docs/static/img/widgets/custom-component/data-prop.png
  docs/static/img/widgets/custom-component/data.png
  docs/static/img/widgets/custom-component/query-data.png
  docs/static/img/widgets/custom-component/run-query.png
  docs/static/img/widgets/custom-component/update-data.png
  docs/versioned_docs/version-3.0.0-LTS/widgets/custom-component.md
Labels: suspend-review-docs-app

#12550 Fix: Changed Interaction and added option to remove the clear button and remove the search box
  frontend/src/AppBuilder/WidgetManager/widgets/dropdownV2.js
  frontend/src/AppBuilder/WidgetManager/widgets/multiselectV2.js
  frontend/src/Editor/Components/DropdownV2/CustomMenuList.jsx
  frontend/src/Editor/Components/DropdownV2/CustomOption.jsx
  frontend/src/Editor/Components/DropdownV2/DropdownV2.jsx
  frontend/src/Editor/Components/DropdownV2/dropdownV2.scss
  frontend/src/Editor/Components/MultiselectV2/CustomOption.jsx
  frontend/src/Editor/Components/MultiselectV2/CustomValueContainer.jsx
  frontend/src/Editor/Components/MultiselectV2/MultiselectV2.jsx
  frontend/src/Editor/WidgetManager/configs/dropdownV2.js
  frontend/src/Editor/WidgetManager/configs/multiselectV2.js
  server/src/modules/apps/services/widget-config/dropdownV2.js
  server/src/modules/apps/services/widget-config/multiselectV2.js
Labels: suspend-ce-review-app

#12465 [BugFixes] : fix link QA bugs
  frontend/src/Editor/Components/Link/Link.jsx
  frontend/src/Editor/Components/Link/link.scss
Labels: tested

#12674 [docs]: Remove Check For Updates Variable
  docs/docs/tracking.md
  docs/versioned_docs/version-2.50.0-LTS/tracking.md
  docs/versioned_docs/version-3.0.0-LTS/tracking.md
Labels: active-review-docs-app

#12593 icons fix
  frontend/src/AppBuilder/QueryManager/Components/QueryManagerHeader.jsx
Labels: suspend-ce-review-app

#12381 Add widget padding property in Inspector's styles
  frontend/src/AppBuilder/WidgetManager/widgets/buttonGroup.js
  frontend/src/AppBuilder/WidgetManager/widgets/checkbox.js
  frontend/src/AppBuilder/WidgetManager/widgets/colorPicker.js
  frontend/src/AppBuilder/WidgetManager/widgets/icon.js
  frontend/src/AppBuilder/WidgetManager/widgets/rangeslider.js
  frontend/src/AppBuilder/WidgetManager/widgets/starrating.js
  frontend/src/AppBuilder/WidgetManager/widgets/tags.js
  frontend/src/AppBuilder/WidgetManager/widgets/toggleswitchv2.js
  frontend/src/Editor/Components/ColorPicker.jsx
  frontend/src/Editor/Components/Icon.jsx
  frontend/src/Editor/WidgetManager/configs/buttonGroup.js
  frontend/src/Editor/WidgetManager/configs/checkbox.js
  frontend/src/Editor/WidgetManager/configs/colorPicker.js
  frontend/src/Editor/WidgetManager/configs/icon.js
  frontend/src/Editor/WidgetManager/configs/rangeslider.js
  frontend/src/Editor/WidgetManager/configs/starrating.js
  frontend/src/Editor/WidgetManager/configs/tags.js
  frontend/src/Editor/WidgetManager/configs/toggleswitchv2.js
  server/data-migrations/1737039401111-UpdateVisibilityFrIconComponent.ts
  server/src/modules/apps/services/widget-config/buttonGroup.js
  server/src/modules/apps/services/widget-config/checkbox.js
  server/src/modules/apps/services/widget-config/colorPicker.js
  server/src/modules/apps/services/widget-config/icon.js
  server/src/modules/apps/services/widget-config/rangeslider.js
  server/src/modules/apps/services/widget-config/starrating.js
  server/src/modules/apps/services/widget-config/tags.js
  server/src/modules/apps/services/widget-config/toggleswitchv2.js
Labels: suspend-ce-review-app

#12515 fix: Hides header footer options when custom schema is turned on
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Form.jsx
  frontend/src/AppBuilder/Widgets/Form/Form.jsx
  frontend/src/AppBuilder/Widgets/Form/form.scss
Labels: tested

#12477 fix: Fixes widgets on old modal grid getting stuck
  frontend/src/AppBuilder/AppCanvas/Grid/Grid.jsx
  frontend/src/AppBuilder/Widgets/Modal.jsx
  frontend/src/AppBuilder/Widgets/ModalV2/Components/Modal.jsx
Labels: tested

#12279 Enhance: Improved shortcuts inside Query Panel
  frontend/src/AppBuilder/CodeEditor/MultiLineCodeEditor.jsx
  frontend/src/AppBuilder/CodeEditor/SingleLineCodeEditor.jsx
  frontend/src/AppBuilder/CodeEditor/useQueryPanelKeyHooks.js
  frontend/src/AppBuilder/QueryManager/Components/QueryManagerHeader.jsx
  frontend/src/AppBuilder/QueryPanel/QueryKeyHooks.jsx
  frontend/src/AppBuilder/QueryPanel/QueryPanel.jsx
  frontend/src/AppBuilder/_stores/slices/queryPanelSlice.js
  frontend/src/_styles/theme.scss
  frontend/src/_ui/Icon/solidIcons/Play01.jsx
  frontend/src/_ui/Icon/solidIcons/index.js
  frontend/src/components/ui/Button/Button.jsx
Labels: tested, active-ce-review-app, active-ee-review-app

#12532 Fix: Filter dropdown not opening when you click on label
  frontend/src/AppBuilder/Widgets/NewTable/_components/Header/Header.jsx
  frontend/src/AppBuilder/Widgets/NewTable/_components/Header/_components/Filter/Filter.jsx
  frontend/src/AppBuilder/Widgets/NewTable/_components/Header/_components/Filter/FilterRow.jsx
  frontend/src/_ui/Select/SelectComponent.jsx
Labels: suspend-ce-review-app

#12519 Fix: Removed the extra space in bottom of query manager.
  frontend/src/AppBuilder/CodeEditor/styles.scss
  frontend/src/AppBuilder/QueryManager/Components/QueryManagerBody.jsx
  frontend/src/AppBuilder/QueryManager/Components/Transformation.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/Restapi/TabContent.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/Runjs/Runjs.jsx
  frontend/src/AppBuilder/QueryManager/QueryEditors/Runpy.jsx
Labels: suspend-ce-review-app

#12606 Fix Issue #12589: Hide the actual component when user actually changes it size i.e on resize event & not on resize start event
  frontend/src/AppBuilder/AppCanvas/Grid/Grid.jsx
Labels: suspend-ce-review-app

#12494 fix: Migrates showHeader property to false for exiting containers
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Form.jsx
  frontend/src/AppBuilder/WidgetManager/widgets/container.js
  frontend/src/Editor/WidgetManager/configs/container.js
  server/migrations/1744097765065-UpdateContainerHeaderProperty.ts
  server/src/modules/apps/services/widget-config/container.js
Labels: tested

#12672 Added toggle for showing 'All options selected' label in multiselect
  frontend/src/AppBuilder/RightSideBar/Inspector/Components/Select.jsx
  frontend/src/AppBuilder/WidgetManager/widgets/multiselectV2.js
  frontend/src/Editor/Components/MultiselectV2/CustomValueContainer.jsx
  frontend/src/Editor/Components/MultiselectV2/MultiselectV2.jsx
  frontend/src/Editor/WidgetManager/configs/multiselectV2.js
  server/src/modules/apps/services/widget-config/multiselectV2.js
Labels: suspend-ce-review-app

#12669 ClickUp plugin [WIP]
  marketplace/package-lock.json
  marketplace/plugins/clickup/.gitignore
  marketplace/plugins/clickup/README.md
  marketplace/plugins/clickup/__tests__/index.js
  marketplace/plugins/clickup/lib/icon.svg
  marketplace/plugins/clickup/lib/index.ts
  marketplace/plugins/clickup/lib/manifest.json
  marketplace/plugins/clickup/lib/operations.json
  marketplace/plugins/clickup/lib/types.ts
  marketplace/plugins/clickup/package.json
  marketplace/plugins/clickup/tsconfig.json
  server/src/assets/marketplace/plugins.json
Labels: create-review-app, active-ce-review-app

#12334 ApyHub Plugin
  frontend/package-lock.json
  marketplace/plugins/apyhub/.gitignore
  marketplace/plugins/apyhub/README.md
  marketplace/plugins/apyhub/__tests__/index.js
  marketplace/plugins/apyhub/lib/icon.svg
  marketplace/plugins/apyhub/lib/index.ts
  marketplace/plugins/apyhub/lib/manifest.json
  marketplace/plugins/apyhub/lib/operations.json
  marketplace/plugins/apyhub/lib/operations/data_extractions_operation.ts
  marketplace/plugins/apyhub/lib/query_operations.ts
  marketplace/plugins/apyhub/lib/types.ts
  marketplace/plugins/apyhub/package.json
  marketplace/plugins/apyhub/tsconfig.json
  server/src/assets/marketplace/plugins.json
Labels: deploy-marketplace-plugin, create-ce-review-app, destroy-ce-review-app

#12353 Fix: GraphQL plugin appends an empty URL parameter (?=) to the endpoint.
  plugins/packages/common/lib/utils.helper.ts
Labels: tested, suspend-ce-review-app

#12501 add metadata to QueryError and populating metadata in inspector on error
  frontend/src/AppBuilder/_stores/slices/queryPanelSlice.js
  plugins/packages/common/lib/query.error.ts
  plugins/packages/restapi/lib/index.ts
  server/src/modules/data-queries/service.ts
Labels: tested, suspend-ce-review-app

#12588 changed the empty copywriting in no plugins are installed
  frontend/src/MarketplacePage/InstalledPlugins.jsx
Labels: suspend-ce-review-app

#12541 Enhance: Add validation for encrypted fields with input reference on failure
  frontend/src/_components/DynamicFormV2.jsx
  frontend/src/_helpers/dataSourceSchemaManager.js
  frontend/src/_services/datasource.service.js
  frontend/src/_ui/HttpHeaders/index.js
  frontend/src/modules/dataSources/components/DataSourceManager/DataSourceManager.jsx
  server/src/modules/data-sources/controller.ts
  server/src/modules/data-sources/interfaces/IController.ts
  server/src/modules/data-sources/service.ts
  server/src/modules/data-sources/util.service.ts
Labels: tested, suspend-ce-review-app

#12664 Fix: Copy-writing and icon files for plugins
  marketplace/plugins/azurerepos/lib/manifest.json
  marketplace/plugins/pinecone/lib/icon.svg
  plugins/packages/nocodb/lib/manifest.json
  server/src/assets/marketplace/plugins.json
Labels: suspend-ce-review-app

#12655 Enhance: Plugin schema for validation and design component
  frontend/src/_components/DynamicFormV2.jsx
  frontend/src/_styles/theme.scss
  frontend/src/_ui/Input-V3/index.js
  frontend/src/components/ui/Input/CommonInput/Index.jsx
  frontend/src/components/ui/Input/CommonInput/TextInput.jsx
  frontend/src/components/ui/Input/Input.jsx
  frontend/src/modules/dataSources/components/DataSourceManager/DataSourceManager.jsx
  plugins/packages/airtable/lib/manifest.json
  plugins/packages/bigquery/lib/manifest.json
  plugins/packages/mongodb/lib/manifest.json
  plugins/packages/postgresql/lib/index.ts
  plugins/packages/postgresql/lib/manifest.json
Labels: suspend-ce-review-app

#12631 Hotfix: Sanitize invalid headers
  plugins/packages/common/lib/utils.helper.ts
Labels: active-review-app

#12604 CI test PR [DO NOT MERGE]
  .github/workflows/cypress-appbuilder.yml
  .tool-versions
  cypress-tests/cypress-app-builder.config.js
  cypress-tests/cypress-platform.config.js
  cypress-tests/cypress/commands/apiCommands.js
  cypress-tests/cypress/constants/selectors/multipage.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/codehinter.skip.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/codehinterResolver.skip.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/appTitle.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/componentsBasics/button.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/componentsBasics/checkbox.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/componentsBasics/dropdown.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/componentsBasics/globalActions.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/componentsBasics/multiselect.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/componentsBasics/numberInput.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/componentsBasics/passwordInput.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/componentsBasics/textInput.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/componentsBasics/toggleSwitch.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/globalSetingsHappyPath.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/inspectorHappypath.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/queries/chainingOfQueries.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/queries/runjsHappyPath.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/queries/runpyHappyPath.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/version.skip.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/dashboard.skip.js
  cypress-tests/cypress/support/utils/inspector.js
  cypress-tests/cypress/support/utils/multipage.js
  cypress-tests/cypress/support/utils/queries.js
  frontend/src/AppBuilder/LeftSidebar/PageMenu/AddPageButton.jsx
  frontend/src/AppBuilder/LeftSidebar/PageMenu/PageMenuItem.jsx
  frontend/src/AppBuilder/QueryManager/Components/QueryManagerHeader.jsx
  frontend/src/AppBuilder/QueryPanel/QueryPanel.jsx
  queryPanel/queryEditorRegression.cy.js
  queryPanel/queryManagerRegression.cy.js
Labels: cypress, run-ce-cypress-platform

#12601 Fixed app-builder cypress workflow.
  .github/workflows/cypress-appbuilder.yml
  .github/workflows/cypress-marketplace.yml
  .tool-versions
  cypress-tests/cypress-app-builder.config.js
  cypress-tests/cypress-platform.config.js
  cypress-tests/cypress/commands/apiCommands.js
  cypress-tests/cypress/constants/selectors/multipage.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/codehinter.skip.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/codehinterResolver.skip.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/appTitle.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/componentsBasics/button.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/componentsBasics/checkbox.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/componentsBasics/dropdown.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/componentsBasics/globalActions.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/componentsBasics/multiselect.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/componentsBasics/numberInput.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/componentsBasics/passwordInput.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/componentsBasics/textInput.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/componentsBasics/toggleSwitch.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/globalSetingsHappyPath.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/inspectorHappypath.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/queries/chainingOfQueries.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/queries/runjsHappyPath.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/queries/runpyHappyPath.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/version.skip.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/dashboard.skip.js
  cypress-tests/cypress/support/utils/inspector.js
  cypress-tests/cypress/support/utils/multipage.js
  cypress-tests/cypress/support/utils/queries.js
  frontend/src/AppBuilder/LeftSidebar/PageMenu/AddPageButton.jsx
  frontend/src/AppBuilder/LeftSidebar/PageMenu/PageMenuItem.jsx
  frontend/src/AppBuilder/QueryManager/Components/QueryManagerHeader.jsx
  frontend/src/AppBuilder/QueryPanel/QueryPanel.jsx
  queryPanel/queryEditorRegression.cy.js
  queryPanel/queryManagerRegression.cy.js
Labels: cypress

#12713 Fix: Dropdown and Multiselect related integration bugs for sprint 11
  frontend/src/Editor/Components/DropdownV2/DropdownV2.jsx
  frontend/src/Editor/Components/DropdownV2/utils.js
  frontend/src/Editor/Components/MultiselectV2/CustomValueContainer.jsx
  frontend/src/Editor/Components/MultiselectV2/MultiselectV2.jsx
Labels: tested, active-ce-review-app

#12718 Removed failures temporarily
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/componentsBasics/button.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/componentsBasics/checkbox.cy.js
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/newSuits/componentsBasics/textInput.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/ceTestcases/apps/privateAndpublicApps.skip.js
Labels: cypress

#12438 Fix: Not able to add any values inside of JSON input for TJDB (for update operation)
  frontend/src/AppBuilder/QueryManager/QueryEditors/TooljetDatabase/RenderColumnUI.jsx
  server/src/helpers/tooljet_db.helper.ts
  server/src/modules/tooljet-db/services/postgrest-proxy.service.ts
Labels: tested, active-ce-review-app

#12678 [docs]: UI Updates
  docs/docusaurus.config.js
  docs/src/css/custom.css
  docs/src/theme/Footer/Copyright/index.js
  docs/src/theme/Footer/Layout/index.js
  docs/src/theme/Footer/LinkItem/index.js
  docs/src/theme/Footer/Links/MultiColumn/index.js
  docs/src/theme/Footer/Links/Simple/index.js
  docs/src/theme/Footer/Links/index.js
  docs/src/theme/Footer/Logo/index.js
  docs/src/theme/Footer/Logo/styles.module.css
  docs/src/theme/Footer/index.js
  docs/static/img/github-icon.svg
  docs/static/img/slack-icon.svg
  docs/static/img/x-icon.svg
Labels: active-review-docs-app

#12724 Modified the actions files to trigger from all labels.
  .github/workflows/cypress-appbuilder.yml
  .github/workflows/cypress-marketplace.yml
  .github/workflows/cypress-platform.yml
Labels: cypress

#12725 CYPRESS TEST PR [DO NNOT MERGE]
  cypress-tests/cypress/e2e/happyPath/appbuilder/commonTestcases/components/buttonHappyPath.cy.js
  cypress-tests/cypress/e2e/happyPath/platform/commonTestcases/workspace/groups/permissions.skip.js
Labels: cypress, run-ce-cypress-platform, run-ce-app-builder

#12742 Fix: Airtable test-connection and Postgres connection string input
  plugins/packages/airtable/lib/index.ts
  plugins/packages/postgresql/lib/manifest.json
Labels: active-ce-review-app

#12739 Dummy PR to check marketplace cypress
  cypress-tests/cypress/e2e/happyPath/marketplace/commonTestcases/data-source/amazonAthenaHappyPath.cy.skip.js
  cypress-tests/cypress/e2e/happyPath/marketplace/commonTestcases/data-source/amazonsesHappyPath.cy.skip.js
  cypress-tests/cypress/e2e/happyPath/marketplace/commonTestcases/data-source/appWriteHappyPath.cy.skip.js
  cypress-tests/cypress/e2e/happyPath/marketplace/commonTestcases/data-source/awsLambdaHappyPath.cy.skip.js
  cypress-tests/cypress/e2e/happyPath/marketplace/commonTestcases/data-source/awsTextractHappyPath.cy.skip.js
  cypress-tests/cypress/e2e/happyPath/marketplace/commonTestcases/data-source/baseRowHappyPath.cy.skip.js
  cypress-tests/cypress/e2e/happyPath/marketplace/commonTestcases/data-source/twilioHappyPath.cy.skip.js
Labels: run-ce-cypress-marketplace

#12743 [docs]: Fix Footer Logo
  docs/docusaurus.config.js
Labels: active-review-docs-app
