Repository ToolJet/ToolJet, changes with the owners that CODEOWNERS names for each.
All owners: @gsmithun4, @shah21, @akshaysasidrn, @johnsoncherian, @kavinvenkatachalam, @ganesh8056, @emidhun, @ajith-k-v, @Mekhla-Asopa, @adishm98, @slancerk

azure
  docs/versioned_docs/version-3.16.0-LTS/setup/postgresql-13-16/azure/best-practices.md
  docs/versioned_docs/version-3.16.0-LTS/setup/postgresql-13-16/azure/db-upgrade.md
  docs/versioned_docs/version-3.16.0-LTS/setup/postgresql-13-16/azure/deployment/aks.md
  docs/versioned_docs/version-3.16.0-LTS/setup/postgresql-13-16/azure/deployment/container.md
  docs/versioned_docs/version-3.16.0-LTS/setup/postgresql-13-16/azure/overview.md
  docs/versioned_docs/version-3.16.0-LTS/setup/postgresql-13-16/azure/verification.md
  docs/versioned_sidebars/version-3.16.0-LTS-sidebars.json
Owners: none

MOves style fil into header
  frontend/src/AppBuilder/Header/EditorHeader.jsx
  frontend/src/_styles/theme.scss
Owners: none

gcp
  docs/versioned_docs/version-3.16.0-LTS/setup/postgresql-13-16/gcp/best-practices.md
  docs/versioned_docs/version-3.16.0-LTS/setup/postgresql-13-16/gcp/db-upgrade.md
  docs/versioned_docs/version-3.16.0-LTS/setup/postgresql-13-16/gcp/deployment/cloud-run.md
  docs/versioned_docs/version-3.16.0-LTS/setup/postgresql-13-16/gcp/deployment/docker.md
  docs/versioned_docs/version-3.16.0-LTS/setup/postgresql-13-16/gcp/deployment/gke.md
  docs/versioned_docs/version-3.16.0-LTS/setup/postgresql-13-16/gcp/overview.md
  docs/versioned_docs/version-3.16.0-LTS/setup/postgresql-13-16/gcp/verification.md
  docs/versioned_sidebars/version-3.16.0-LTS-sidebars.json
Owners: none

fixed mobile view
  frontend/src/HomePage/styles/homepage.scss
Owners: none

minor formatting updates for headings
  docs/versioned_docs/version-3.16.0-LTS/setup/postgresql-13-16/aws/deployment/ami.md
  docs/versioned_docs/version-3.16.0-LTS/setup/postgresql-13-16/aws/deployment/docker.md
  docs/versioned_docs/version-3.16.0-LTS/setup/postgresql-13-16/aws/deployment/ecs.md
Owners: none

stringified array and object in url params
  plugins/packages/restapi/lib/index.ts
Owners: none

Fixed dynamic columns showing same value for all columns
  frontend/src/AppBuilder/Widgets/NewTable/_utils/autoGenerateColumns.js
Owners: none

version bump
  .version
  frontend/.version
  server/.version
Owners: @johnsoncherian, @kavinvenkatachalam, @gsmithun4, @shah21, @akshaysasidrn

Merge pull request #13780 from ToolJet/fix/bugs-11
  server/data-migrations/1754999194042-UpdateWorkflowPermissionsForAdminAndBuilder.ts
  server/templates/sample_app_def.json
Owners: @gsmithun4

[docs]: Microsoft Graph (#13554)
  docs/docs/marketplace/marketplace_overview.md
  docs/docs/marketplace/plugins/microsoft-graph.md
  docs/sidebars.js
  docs/static/img/marketplace/plugins/microsoft-graph/connection.png
  docs/versioned_docs/version-3.16.0-LTS/marketplace/marketplace_overview.md
  docs/versioned_docs/version-3.16.0-LTS/marketplace/plugins/microsoft-graph.md
  docs/versioned_docs/version-3.5.0-LTS/marketplace/marketplace_overview.md
  docs/versioned_docs/version-3.5.0-LTS/marketplace/plugins/microsoft-graph.md
  docs/versioned_sidebars/version-3.16.0-LTS-sidebars.json
  docs/versioned_sidebars/version-3.5.0-LTS-sidebars.json
Owners: none

Fix: Workflow dashboard , copy when workflow not found using filter
  frontend/assets/translations/de.json
  frontend/assets/translations/en.json
  frontend/assets/translations/es.json
  frontend/assets/translations/fr.json
  frontend/assets/translations/id.json
  frontend/assets/translations/it.json
  frontend/assets/translations/ru.json
  frontend/assets/translations/uk.json
  frontend/assets/translations/zh.json
  frontend/src/HomePage/HomePage.jsx
Owners: none

Fix: Wf will show workflow name updated
  frontend/src/Editor/Header/EditAppName.jsx
Owners: none

UI Bug Fixes (#13696)
  frontend/src/modules/WorkspaceSettings/pages/WorkspaceLogin/WorkspaceLoginSettings.jsx
  frontend/src/modules/dataSources/components/DataSourceManager/DataSourceManager.jsx
  frontend/src/modules/dataSources/components/LIstItem/index.jsx
Owners: none

fix to show toast for some seconds
  frontend/src/modules/common/components/OrganizationManager/CreateOrganization.jsx
Owners: none

P1 and P2 issue fixes PR (Platform) (#13697)
  frontend/src/Editor/Editor.jsx
  frontend/src/Editor/Viewer.jsx
  frontend/src/_components/DynamicForm.jsx
  frontend/src/_components/DynamicFormV2.jsx
  frontend/src/_helpers/white-label/whiteLabelling.js
  frontend/src/_services/index.js
  frontend/src/_services/org_environment_variable.service.js
  frontend/src/_styles/theme.scss
  frontend/src/modules/WorkspaceSettings/pages/Groups/components/BaseManageGranularAccess/BaseManageGranularAccess.jsx
  server/src/helpers/utils.helper.ts
  server/src/modules/app-git/constants/feature.ts
  server/src/modules/app/constants/module-info.ts
  server/src/modules/auth/oauth/interfaces/ILdapService.ts
  server/src/modules/auth/oauth/util-services/ldap.service.ts
Owners: none

Merge pull request #13780 from ToolJet/fix/bugs-11
  server/data-migrations/1754999194042-UpdateWorkflowPermissionsForAdminAndBuilder.ts
  server/templates/sample_app_def.json
Owners: @gsmithun4

fix to show toast for some seconds
  frontend/src/modules/common/components/OrganizationManager/CreateOrganization.jsx
Owners: none

fix to show toast for some seconds (#13792)
  frontend/src/modules/common/components/OrganizationManager/CreateOrganization.jsx
Owners: none

update version
  .version
  frontend/.version
  server/.version
Owners: @johnsoncherian, @kavinvenkatachalam, @gsmithun4, @shah21, @akshaysasidrn

Fix: Workflow deletion copy
  frontend/assets/translations/de.json
  frontend/assets/translations/en.json
  frontend/assets/translations/es.json
  frontend/assets/translations/fr.json
  frontend/assets/translations/id.json
  frontend/assets/translations/it.json
  frontend/assets/translations/ru.json
  frontend/assets/translations/uk.json
  frontend/assets/translations/zh.json
Owners: none

fixed mobile view
  frontend/src/HomePage/styles/homepage.scss
Owners: none

fix to show toast for some seconds (#13792)
  frontend/src/modules/common/components/OrganizationManager/CreateOrganization.jsx
Owners: none

Bugfix/branch 18 cherry pick changes (#13793)
  frontend/src/HomePage/styles/homepage.scss
  frontend/src/modules/common/components/OrganizationManager/CreateOrganization.jsx
Owners: none

refactor: update GRPCv2 component to use raw_message instead of requestData
  frontend/src/AppBuilder/QueryManager/QueryEditors/GRPCv2.jsx
  plugins/packages/grpcv2/lib/index.ts
  plugins/packages/grpcv2/lib/operations.ts
  plugins/packages/grpcv2/lib/types.ts
Owners: none

Add allowFailedAuditLogs feature and update workflow constants for audit logging
  server/src/modules/app/interceptors/response.interceptor.ts
  server/src/modules/app/types.ts
  server/src/modules/workflows/constants/feature.ts
  server/src/modules/workflows/module.ts
Owners: @gsmithun4

fix: update ssl_enabled value retrieval in SampleDataSourceService
  server/src/modules/data-sources/services/sample-ds.service.ts
Owners: none

Resizing Query manager when right sidebar is opened
  frontend/src/AppBuilder/QueryPanel/QueryPanel.jsx
  frontend/src/AppBuilder/RightSideBar/RightSideBar.jsx
Owners: none

Documentation link positioning fix
  frontend/src/_styles/theme.scss
Owners: none

Fix Lag when properties panel opens up
  frontend/src/AppBuilder/AppCanvas/useCanvasDropHandler.js
  server/src/modules/apps/util.service.ts
Owners: none

css fixes
  frontend/src/HomePage/styles/homepage.scss
  frontend/src/_styles/theme.scss
Owners: none

Builder count issue
  server/src/modules/licensing/services/count.service.ts
  server/src/modules/users/repositories/repository.ts
Owners: none

css fixes (#13803)
  frontend/src/HomePage/styles/homepage.scss
  frontend/src/_styles/theme.scss
Owners: none

fix(UPS): fix unresponsive edit/cancel button on encrypted fields
  marketplace/plugins/ups/lib/manifest.json
Owners: none

Revert "fix(DynamicForm): initialize computedProps for new data sources; fix unresponsive cancel button for encrypted fields"
  frontend/src/_components/DynamicForm.jsx
Owners: none

bump version from 3.16.6-lts to 3.16.7-lts for all components
  .version
  frontend/.version
  server/.version
Owners: @johnsoncherian, @kavinvenkatachalam, @gsmithun4, @shah21, @akshaysasidrn

Validate User
  server/src/modules/organizations/service.ts
Owners: none

Validate User (#13807)
  server/src/modules/organizations/service.ts
Owners: none

fix: Render OAuth component dropdowns and correct labels
  frontend/src/_components/OAuthWrapper.jsx
  frontend/src/_ui/OAuth/GrantTypes.jsx
  frontend/src/_ui/OAuth/index.js
Owners: none

refactor: Abstract common oauth component for openapi
  frontend/src/_components/DynamicForm.jsx
  frontend/src/_components/OAuthWrapper.jsx
  frontend/src/_ui/OpenAPI/Oauth.jsx
  frontend/src/_ui/OpenAPI/OpenapiAuth.jsx
  frontend/src/_ui/OpenAPI/index.js
Owners: none

Add padding for Tabs
  frontend/src/AppBuilder/AppCanvas/Container.jsx
  frontend/src/AppBuilder/AppCanvas/appCanvasConstants.js
  frontend/src/AppBuilder/AppCanvas/appCanvasUtils.js
  frontend/src/AppBuilder/Widgets/Tabs.jsx
Owners: none

CODEOWNERS:

# Code owners for specific package.json and package-lock.json files
/server/* @gsmithun4 @shah21 @akshaysasidrn

/frontend/* @johnsoncherian @kavinvenkatachalam

/marketplace/* @ganesh8056 @gsmithun4

/cypress/* @emidhun @ajith-k-v @Mekhla-Asopa
/plugins/* @ganesh8056 @gsmithun4

.github/workflows/ @adishm98 @slancerk
/docker/* @adishm98 @slancerk
/deploy/* @adishm98 @slancerk

# Code owners for specific files
**/module.ts @gsmithun4

# Code owners for specific directories
/server/migrations/* @gsmithun4
/server/data-migrations/* @gsmithun4
