Repository ToolJet/ToolJet, changes with the owners that CODEOWNERS names for each.
All owners: @gsmithun4, @shah21, @akshaysasidrn, @johnsoncherian, @kavinvenkatachalam, @ganesh8056, @emidhun, @ajith-k-v, @Mekhla-Asopa, @adishm98, @slancerk

minor frontend changes google sso
  frontend/src/modules/common/components/SSOAuthModule/components/GoogleSSOLoginButton/GoogleSSOLoginButton.jsx
Owners: none

Updated ami docs 2.50-LTS to 3.16-LTS
  docs/versioned_docs/version-2.50.0-LTS/setup/ami.md
  docs/versioned_docs/version-3.0.0-LTS/setup/ami.md
  docs/versioned_docs/version-3.16.0-LTS/setup/ami.md
  docs/versioned_docs/version-3.5.0-LTS/setup/ami.md
Owners: none

CSS fixes for right side bar component manager
  frontend/src/AppBuilder/RightSideBar/ComponentManagerTab/styles.scss
Owners: none

Edition specific changes
  frontend/src/AppBuilder/RightSideBar/ComponentManagerTab/ComponentsManagerTab.jsx
Owners: none

fix: Hide dropdowns and fix CSS
  frontend/src/_components/DynamicForm.jsx
  frontend/src/_components/OAuthWrapper.jsx
  frontend/src/_ui/OAuth/GrantTypes.jsx
  frontend/src/_ui/OAuth/index.js
  plugins/packages/graphql/lib/manifest.json
  plugins/packages/restapi/lib/manifest.json
Owners: none

Fixed few table filters and reverted them back to their older behaviour
  frontend/src/AppBuilder/Widgets/NewTable/_components/Header/_components/Filter/filterUtils.js
Owners: none

Fix dragging of widgets in Modal(V1 and V2) in scolled view
  frontend/src/AppBuilder/AppCanvas/Grid/Grid.jsx
  frontend/src/AppBuilder/Widgets/Modal.jsx
  frontend/src/AppBuilder/Widgets/ModalV2/Components/Modal.jsx
  frontend/src/AppBuilder/Widgets/ModalV2/helpers/stylesFactory.js
Owners: none

Update readme
  docs/docs/marketplace/plugins/couchbase.md
Owners: none

added utm params frontend changes
  frontend/src/Oauth/Authorize.jsx
Owners: none

revert changes
  frontend/src/modules/common/components/SSOAuthModule/components/GoogleSSOLoginButton/GoogleSSOLoginButton.jsx
Owners: none

fix(ApiEndpointInput): revert operation validation changes
  frontend/src/_components/ApiEndpointInput.jsx
Owners: none

Adds interactive navigation highlighting and layout fixes
  frontend/src/AppBuilder/RightSideBar/Inspector/Inspector.jsx
  frontend/src/AppBuilder/RightSideBar/PageSettingsTab/PageMenu/PagesSidebarNavigation.jsx
  frontend/src/AppBuilder/RightSideBar/PageSettingsTab/pageConfig.js
  frontend/src/_styles/theme.scss
Owners: none

Improves sidebar default state and layout alignment
  frontend/src/AppBuilder/AppCanvas/AppCanvas.jsx
  frontend/src/AppBuilder/RightSideBar/Inspector/Inspector.jsx
  frontend/src/AppBuilder/RightSideBar/PageSettingsTab/PageMenu/PagesSidebarNavigation.jsx
Owners: none

Improves navigation tooltip behavior with CSS hover control
  frontend/src/AppBuilder/RightSideBar/PageSettingsTab/PageMenu/PagesSidebarNavigation.jsx
  frontend/src/_styles/pages-sidebar.scss
Owners: none

feat: completed multi user oauth flow
  marketplace/plugins/common/lib/types.ts
  marketplace/plugins/common/lib/utils.helper.ts
  marketplace/plugins/hubspot/lib/index.ts
  marketplace/plugins/hubspot/lib/manifest.json
Owners: none

added utm params fields
  frontend/src/_services/ai-onboarding.service.js
  server/src/modules/CRM/types/index.ts
  server/src/modules/auth/dto/index.ts
Owners: none

Hotfix: Render OAuth component dropdowns and correct labels (#13808)
  frontend/src/_components/DynamicForm.jsx
  frontend/src/_ui/OAuth/GrantTypes.jsx
  frontend/src/_ui/OAuth/index.js
  plugins/packages/graphql/lib/manifest.json
  plugins/packages/restapi/lib/manifest.json
Owners: none

Feat: Add google cloud spanner marketplace plugin (#13818)
  frontend/src/_components/DynamicForm.jsx
  marketplace/package-lock.json
  marketplace/plugins/spanner/.gitignore
  marketplace/plugins/spanner/README.md
  marketplace/plugins/spanner/__tests__/index.js
  marketplace/plugins/spanner/lib/icon.svg
  marketplace/plugins/spanner/lib/index.ts
  marketplace/plugins/spanner/lib/manifest.json
  marketplace/plugins/spanner/lib/operations.json
  marketplace/plugins/spanner/lib/types.ts
  marketplace/plugins/spanner/package.json
  marketplace/plugins/spanner/tsconfig.json
  server/package-lock.json
  server/package.json
  server/src/assets/marketplace/plugins.json
Owners: @ganesh8056, @gsmithun4, @shah21, @akshaysasidrn

fixed typo in docker setup docs
  docs/docs/contributing-guide/setup/docker.md
Owners: none

feedback updates
  docs/versioned_docs/version-3.16.0-LTS/development-lifecycle/gitsync/connect-to-git-repo/github-config.md
  docs/versioned_docs/version-3.16.0-LTS/development-lifecycle/gitsync/connect-to-git-repo/gitlab-config.md
Owners: none

Feat: Add the UPS plugin to marketplace (#13805)
  frontend/src/_components/ApiEndpointInput.jsx
  frontend/src/_styles/theme.scss
  frontend/src/modules/dataSources/components/DataSourceManager/DataSourceManager.jsx
  marketplace/package-lock.json
  marketplace/plugins/ups/.gitignore
  marketplace/plugins/ups/README.md
  marketplace/plugins/ups/__tests__/index.js
  marketplace/plugins/ups/lib/icon.svg
  marketplace/plugins/ups/lib/index.ts
  marketplace/plugins/ups/lib/manifest.json
  marketplace/plugins/ups/lib/operations.json
  marketplace/plugins/ups/lib/types.ts
  marketplace/plugins/ups/package.json
  marketplace/plugins/ups/tsconfig.json
  server/src/assets/marketplace/plugins.json
Owners: @ganesh8056, @gsmithun4

refactor(UPS): update UPS plugin description
  server/src/assets/marketplace/plugins.json
Owners: none

[docs]: GitSync Migration Changes (#13735)
  docs/versioned_docs/version-3.16.0-LTS/development-lifecycle/gitsync/connect-to-git-repo/connection.md
  docs/versioned_docs/version-3.16.0-LTS/development-lifecycle/gitsync/connect-to-git-repo/github-config.md
  docs/versioned_docs/version-3.16.0-LTS/development-lifecycle/gitsync/connect-to-git-repo/gitlab-config.md
  docs/versioned_docs/version-3.16.0-LTS/development-lifecycle/gitsync/connect-to-git-repo/ssh/gitsync-config.md
Owners: none

remove from 3.5
  docs/versioned_docs/version-3.5.0-LTS/marketplace/marketplace_overview.md
  docs/versioned_docs/version-3.5.0-LTS/marketplace/plugins/ups.md
  docs/versioned_sidebars/version-3.5.0-LTS-sidebars.json
Owners: none

Refactor: Update UPS plugin description (#13821)
  server/src/assets/marketplace/plugins.json
Owners: none

utm params changes frontend
  frontend/src/Oauth/Authorize.jsx
  frontend/src/_services/ai-onboarding.service.js
Owners: none

CODEOWNERS:

# Code owners for specific package.json and package-lock.json files
/server/* @gsmithun4 @shah21 @akshaysasidrn

/frontend/* @johnsoncherian @kavinvenkatachalam

/marketplace/* @ganesh8056 @gsmithun4

/cypress/* @emidhun @ajith-k-v @Mekhla-Asopa
/plugins/* @ganesh8056 @gsmithun4

.github/workflows/ @adishm98 @slancerk
/docker/* @adishm98 @slancerk
/deploy/* @adishm98 @slancerk

# Code owners for specific files
**/module.ts @gsmithun4

# Code owners for specific directories
/server/migrations/* @gsmithun4
/server/data-migrations/* @gsmithun4
